.version.distribution /* version checker */
{
	color: #00000A;
	background-color: #37B12C;
}

#page
{
	z-index: 1;
	width: 1116px;
	min-height: 626px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#pu531-3
{
	width: 0.01px;
	padding-bottom: 69px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: -100px;
}

#u531-3
{
	z-index: 68;
	min-height: 44px;
	position: fixed;
	top: -1px;
	padding: 20px 4px 4px;
}

#u531-3-bw
{
	z-index: 68;
}

#u1439
{
	z-index: 74;
	width: 158px;
	position: fixed;
	top: 0px;
	left: 7px;
}

#u8793
{
	z-index: 76;
	width: 639px;
	padding-bottom: 69px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: -319px;
}

#u5239
{
	z-index: 93;
	width: 71px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -319px;
}

#u5239:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -319px;
}

#u1944-4
{
	z-index: 77;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -244px;
}

#u5252
{
	z-index: 94;
	width: 71px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -231px;
}

#u5252:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -231px;
}

#u5252.MuseLinkActive
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -231px;
}

#u1945-4
{
	z-index: 81;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -155px;
}

#u5270
{
	z-index: 95;
	width: 103px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -142px;
}

#u5270:hover
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -142px;
}

#u5270.MuseLinkActive
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -142px;
}

#u1946-4
{
	z-index: 85;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -37px;
}

#u5287
{
	z-index: 96;
	width: 64px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -26px;
}

#u5287:hover
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -26px;
}

#u5287.MuseLinkActive
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -26px;
}

#pu1947-4
{
	width: 0.01px;
	padding-bottom: 69px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: 42px;
}

#u1947-4
{
	z-index: 89;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 183px;
}

#u8775
{
	z-index: 103;
	width: 150px;
	padding-bottom: 68px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: 42px;
}

#u8775:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px 0px 42px;
}

#u8775.MuseLinkActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px 0px 42px;
}

#u8791-4
{
	z-index: 104;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: 40px;
}

#u5305
{
	z-index: 97;
	width: 55px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 196px;
}

#u5305:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 196px;
}

#u5305.MuseLinkActive
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 196px;
}

#u6498-4
{
	z-index: 99;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 254px;
}

#u6481
{
	z-index: 98;
	width: 55px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 264px;
}

#u6481:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 264px;
}

#u6481.MuseLinkActive
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 264px;
}

#pu12055
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 116px;
	margin-left: 65px;
}

#u12055
{
	z-index: 3;
	width: 209px;
	background-color: transparent;
	position: relative;
}

#u6470
{
	z-index: 4;
	display: block;
}

#u7302
{
	z-index: 5;
	width: 237px;
	background-color: transparent;
	margin-left: 16px;
	margin-top: 37px;
	position: relative;
}

#u7310-4
{
	z-index: 7;
	width: 237px;
	min-height: 34px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-left: 16px;
	margin-top: 14px;
	position: relative;
}

#u7311-51
{
	z-index: 11;
	width: 671px;
	min-height: 346px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 195px;
	left: 354px;
}

#u7311-2
{
	font-size: 36px;
	text-align: left;
	line-height: 43px;
	font-weight: 400;
	font-style: italic;
}

#u7311-5
{
	font-size: 18px;
	text-align: left;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7311-3
{
	font-style: italic;
	line-height: 22px;
}

#u7311-4
{
	font-size: 36px;
	font-style: italic;
	line-height: 43px;
}

#u7311-6
{
	font-size: 15px;
	text-decoration: none;
	text-align: justify;
	line-height: 18px;
	font-weight: 300;
}

#u7311-16
{
	text-decoration: underline;
	font-style: italic;
}

#u7311-26
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u7311-22,#u7311-34
{
	text-align: left;
	font-weight: 300;
	font-style: italic;
}

#u7311-21,#u7311-33
{
	text-decoration: underline;
}

#u7311-8,#u7311-9,#u7311-14,#u7311-15,#u7311-17,#u7311-19,#u7311-20,#u7311-24,#u7311-25,#u7311-31,#u7311-32,#u7311-35
{
	text-align: left;
	font-weight: 300;
}

#u7311-38,#u7311-42,#u7311-47
{
	text-align: left;
	font-weight: 300;
	font-style: normal;
}

#u7311-29,#u7311-37,#u7311-41,#u7311-45
{
	font-style: italic;
}

#u7311-39,#u7311-43,#u7311-48,#u7311-49
{
	text-decoration: none;
	text-align: left;
	font-weight: 300;
	font-style: normal;
}

#u1087
{
	z-index: 71;
	width: 38px;
	height: 42px;
	position: fixed;
	top: 13px;
	right: 108px;
}

#u1365
{
	z-index: 72;
	width: 38px;
	height: 42px;
	position: fixed;
	top: 13px;
	right: 60px;
}

#u1384
{
	z-index: 73;
	width: 38px;
	height: 42px;
	position: fixed;
	top: 13px;
	right: 12px;
}

#u1087:hover,#u1365:hover,#u1384:hover
{
	width: 38px;
	height: 42px;
	min-height: 0px;
	margin: 0px;
}

#pu787
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: -114px -10000px -1px -100px;
}

#u787
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	position: relative;
}

#u532-6
{
	z-index: 62;
	min-height: 39px;
	padding-left: 20px;
	padding-top: 25px;
	padding-right: 20px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u532-6-bw
{
	z-index: 62;
	min-height: 39px;
	margin-top: 63px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1116px;
}

.verticalspacer
{
	min-height: 1px;
}

