/*

*/

.version.eskimeaux /* version checker */
{
	color: #0000FD;
	background-color: #0EA4C4;
}

#page
{
	z-index: 1;
	width: 1116px;
	min-height: 1322px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	width: 0.01px;/* should not cover content below */
}

#pu12625
{
	width: 0.01px;
}

#u12625
{
	z-index: 67;
	width: 162px;
	position: relative;
	margin-right: -10000px;
}

#pu12797-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 23px;
	margin-left: 885px;
}

#u12797-4
{
	z-index: 126;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u12803-4
{
	z-index: 131;
	width: 107px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u12803-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#menuu12635
{
	z-index: 69;
	width: 648px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 224px;
}

#u12636
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u12639
{
	width: 106px;
	padding-bottom: 5px;
	position: relative;
}

#u12639:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u12642-4
{
	width: 106px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u12639:hover #u12642-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13142
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u13143
{
	width: 106px;
	padding-bottom: 5px;
	position: relative;
}

#u12639.MuseMenuActive,#u13143:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u13144-4
{
	width: 106px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u12639.MuseMenuActive #u12642-4,#u13143:hover #u13144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13163
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u13166
{
	width: 106px;
	padding-bottom: 5px;
	position: relative;
}

#u13143.MuseMenuActive,#u13166:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u13168-4
{
	width: 106px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u13143.MuseMenuActive #u13144-4,#u13166:hover #u13168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13184
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 324px;
}

#u13185
{
	width: 106px;
	padding-bottom: 5px;
	position: relative;
}

#u13166.MuseMenuActive,#u13185:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u13185.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u13186-4
{
	width: 106px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u13166.MuseMenuActive #u13168-4,#u13185:hover #u13186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13185.MuseMenuActive #u13186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13205
{
	width: 107px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 432px;
}

#u13206
{
	width: 107px;
	padding-bottom: 5px;
	position: relative;
}

#u13206:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u13209-4
{
	width: 107px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u13206:hover #u13209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u13226
{
	width: 107px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 541px;
}

#u13227
{
	width: 107px;
	padding-bottom: 5px;
	position: relative;
}

#u13206.MuseMenuActive,#u13227:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u13227.MuseMenuActive
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u13228-4
{
	width: 107px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u13206.MuseMenuActive #u13209-4,#u13227:hover #u13228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u13227.MuseMenuActive #u13228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u12779-4
{
	z-index: 106;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 327px;
}

#u12785-4
{
	z-index: 110;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 435px;
}

#u12788-4
{
	z-index: 114;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 538px;
}

#u12791-4
{
	z-index: 118;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 660px;
}

#u12794-4
{
	z-index: 122;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 748px;
}

#u12028
{
	z-index: 8;
	width: 324px;
	background-color: transparent;
	margin-left: 58px;
	margin-top: 59px;
	position: relative;
}

#u5693
{
	z-index: 9;
	display: block;
}

#pu5676
{
	width: 0.01px;
	margin-left: 58px;
	margin-top: 34px;
}

#u5676
{
	z-index: 3;
	width: 386px;
	border-style: solid;
	border-width: 5px;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 11px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u5698
{
	z-index: 10;
	width: 365px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u5713
{
	z-index: 56;
	width: 395px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 500px;
}

#u5719
{
	z-index: 58;
	width: 411px;
	border-style: solid;
	border-width: 5px;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 249px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 487px;
}

#buttonu12800
{
	z-index: 130;
	width: 74px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: -16px;
	left: 341px;
}

.ie #buttonu12800
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pu11569
{
	width: 0.01px;
	margin-left: 173px;
	margin-top: 16px;
}

#u11569
{
	z-index: 4;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5671
{
	z-index: 5;
	display: block;
}

#u11644
{
	z-index: 12;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u5701
{
	z-index: 13;
	display: block;
}

#u11851
{
	z-index: 6;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u5678
{
	z-index: 7;
	display: block;
}

#u5704-21
{
	z-index: 14;
	width: 936px;
	min-height: 235px;
	background-color: transparent;
	line-height: 18px;
	text-align: justify;
	font-size: 15px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 58px;
	margin-top: 30px;
	position: relative;
}

#u5704-2,#u5704-4,#u5704-6,#u5704-13,#u5704-15,#u5704-17
{
	font-style: italic;
}

#pu6316
{
	width: 0.01px;
	margin-left: 112px;
	margin-top: 80px;
}

#u6316
{
	z-index: 59;
	width: 303px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5712-21
{
	z-index: 35;
	width: 405px;
	min-height: 246px;
	background-color: transparent;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 414px;
}

#u5712-2
{
	font-size: 48px;
	line-height: 58px;
}

#u5712-4
{
	font-size: 30px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5712-3
{
	font-size: 14px;
	line-height: 17px;
}

#u5712-5
{
	font-size: 30px;
	line-height: 36px;
}

#u5712-7
{
	font-size: 22px;
	line-height: 26px;
	font-style: italic;
}

#u5712-10,#u5712-13,#u5712-16,#u5712-19
{
	font-size: 22px;
	line-height: 26px;
}

#u787
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	left: -100px;
	top: -23px;
	margin-bottom: -23px;
	position: relative;
}

#pu532-6
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 64px;
}

#u532-6
{
	z-index: 61;
	min-height: 39px;
	padding-left: 20px;
	padding-top: 25px;
	padding-right: 20px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u532-6-bw
{
	z-index: 61;
	min-height: 39px;
}

#u13317-14
{
	z-index: 135;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1069px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1116px;
}

@font-face
{
	font-family: '__web-icons_5';
	src: url('../fonts/web-icons.eot');
	src: local('☺'), url('../fonts/web-icons.woff') format('woff'), url('../fonts/web-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../fonts/websocialmenus.eot');
	src: local('☺'), url('../fonts/websocialmenus.woff') format('woff'), url('../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

