.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u532-6,#u532
{
	font-family: open-sans-n6, sans-serif;
}

#u5749-9,#u5749-11,#u5747-7,#u7403-5,#u7407-7,#u7407-8
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u5749,#u5749-2,#u5749-8,#u5747-10,#u7403-8,#u7407-11,#u5734-13
{
	font-family: source-sans-pro-n3, sans-serif;
}

