.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u532-6,#u532
{
	font-family: open-sans-n6, sans-serif;
}

#u7628-35,#u7629-33,#u8460-19,#u7630-27,#u6324-34,#u2924-26,#u6337-26,#u5790-26,#u5352-33,#u5332-42,#u2886-38,#u2922-45
{
	font-family: open-sans-n6, sans-serif;
}

#u7624-6,#u7628-47,#u7625-6,#u7629-46,#u7623-6,#u7627-23,#u8460-26,#u8459-6,#u7626-6,#u7630-34,#u6325-6,#u6324-50,#u2925-6,#u2924-43,#u6338-6,#u6337-33,#u5793-6,#u5790-32,#u5353-6,#u5352-44,#u5333-6,#u5332-60,#u2915-6,#u2886-59,#u2886-53,#u2923-8,#u2922-62,#u2922-58
{
	font-family: source-sans-pro-n3, sans-serif;
}

