.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u532-6,#u532
{
	font-family: open-sans-n6, sans-serif;
}

#u7339-3,#u7339-6,#u7339-10,#u7339-14,#u7339-17,#u7339-21,#u7339-24
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u3011-21,#u3009,#u3009-3,#u3009-5,#u3009-6,#u3009-8,#u3009-9,#u3009-10,#u3009-11,#u3009-14,#u3009-15,#u7339,#u7339-4,#u7339-7,#u7339-8,#u7339-11,#u7339-12,#u7339-15,#u7339-18,#u7339-19,#u7339-22,#u7352-2,#u7352-4,#u7352-5,#u7352-7,#u7352-8,#u7352-10,#u7352-11,#u7352-14,#u7352-16,#u7352-18,#u8557-20,#u8574-13,#u8631-16,#u8580-14,#u2962,#u2962-2,#u3634-5
{
	font-family: source-sans-pro-n3, sans-serif;
}

