.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u532-4,#u532
{
	font-family: open-sans-n6, sans-serif;
}

#u407.PamphletThumbSelected #u427-4 p,#u406.PamphletThumbSelected #u519-4 p,#u427-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u519-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u522-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u523-6,#u527-4,#u528-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

