.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u532-6,#u532
{
	font-family: open-sans-n6, sans-serif;
}

#u8839-7,#u8839-9,#u8835-10,#u8873-6,#u8873-8
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u8839,#u8839-2,#u8839-3,#u8839-6,#u8835,#u8835-2,#u8835-3,#u8835-5,#u8835-7,#u8835-8,#u8873,#u8873-2,#u8873-3,#u8873-5,#u8007-14
{
	font-family: source-sans-pro-n3, sans-serif;
}

