.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u532-4,#u532
{
	font-family: open-sans-n6, sans-serif;
}

#u2643-6,#u2643-8,#u2666-7,#u2670-7,#u2675-7,#u2679-7,#u2684-9
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u2643,#u2643-2,#u2643-3,#u2643-5,#u2666-10,#u2670-10,#u2675-10,#u2679-10,#u2684-12,#u2740-4,#u2689-20,#u2696-19
{
	font-family: source-sans-pro-n3, sans-serif;
}

