.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u532-4,#u532
{
	font-family: open-sans-n6, sans-serif;
}

#u2070-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2058-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2067-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2064-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2073-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2068-2,#u2056-2,#u2065-2,#u2062-2,#u2071-2,#u2059-2
{
	font-family: satisfy-n4, cursive;
}

#u2068-4,#u2068-5,#u2068-9,#u2056-4,#u2056-5,#u2056-9,#u2065-4,#u2065-5,#u2065-9,#u2062-4,#u2062-5,#u2062-9,#u2071-4,#u2071-5,#u2071-9,#u2059-4,#u2059-5,#u2059-9
{
	font-family: open-sans-n3, sans-serif;
}

#u2061-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2105-4
{
	font-family: quicksand-n7, sans-serif;
}

#u2106-4
{
	font-family: quicksand-n7, sans-serif;
}

