.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u532-4,#u532
{
	font-family: open-sans-n6, sans-serif;
}

#u3101-9,#u3101-11,#u3093-5
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u3101,#u3101-2,#u3101-8,#u3093-8,#u3124-14,#u3128-13
{
	font-family: source-sans-pro-n3, sans-serif;
}

