.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u532-6,#u532
{
	font-family: open-sans-n6, sans-serif;
}

#u3011-30,#u3009-2,#u3009-4,#u3009-5,#u3009-7,#u3009-8,#u3009-9,#u3009-10,#u3009-11,#u7339-22,#u7352-22
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u7135-16,#u7158,#u7158-4,#u7158-15,#u7158-19,#u7149,#u7149-5,#u7149-6,#u7149-26,#u7142,#u7142-4,#u7142-10,#u7142-20,#u2962,#u2962-2,#u3634-5
{
	font-family: source-sans-pro-n3, sans-serif;
}

