.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u532-6,#u532
{
	font-family: open-sans-n6, sans-serif;
}

#u2924-34,#u5352-37,#u5332-39,#u2886-38,#u2922-41
{
	font-family: open-sans-n6, sans-serif;
}

#u2925-6,#u2924-48,#u2924-44,#u5353-4,#u5352-51,#u5333-6,#u5332-57,#u2915-6,#u2886-59,#u2886-53,#u2923-6,#u2922-58,#u2922-54
{
	font-family: source-sans-pro-n3, sans-serif;
}

