.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u532-6,#u532
{
	font-family: open-sans-n6, sans-serif;
}

#u2814-6,#u2814-8,#u2822-7,#u2820-7,#u2816-7,#u2818-7,#u2812-7
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u2814,#u2814-2,#u2814-3,#u2814-5,#u2822-10,#u2820-10,#u2816-10,#u2818-10,#u2812-10,#u2793-20,#u2795-15
{
	font-family: source-sans-pro-n3, sans-serif;
}

