.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u532-4,#u532
{
	font-family: open-sans-n6, sans-serif;
}

#u3637-37,#u2924-34,#u2886-38,#u2922-41
{
	font-family: open-sans-n6, sans-serif;
}

#u3638-6,#u3637-52,#u2925-6,#u2924-49,#u2924-45,#u2915-6,#u2886-55,#u2886-51,#u2923-6,#u2922-58,#u2922-54
{
	font-family: source-sans-pro-n3, sans-serif;
}

