.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u532-6,#u532
{
	font-family: open-sans-n6, sans-serif;
}

#u3996-8,#u3996-10,#u5344-5,#u5344-7,#u5349-5,#u5349-7
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u3996,#u3996-2,#u3996-3,#u3996-7,#u5344,#u5344-2,#u5344-4,#u5349,#u5349-2,#u5349-4,#u3975-17,#u3976-13
{
	font-family: source-sans-pro-n3, sans-serif;
}

