/*

*/

.version.index /* version checker */
{
	color: #000013;
	background-color: #8B9500;
}

#page
{
	z-index: 1;
	width: 1116px;
	min-height: 1709px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	width: 0.01px;/* should not cover content below */
}

#pu12625
{
	width: 0.01px;
}

#u12625
{
	z-index: 260;
	width: 162px;
	position: relative;
	margin-right: -10000px;
}

#pu12797-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 23px;
	margin-left: 885px;
}

#u12797-4
{
	z-index: 319;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u12803-4
{
	z-index: 324;
	width: 107px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u12803-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#menuu12635
{
	z-index: 262;
	width: 648px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 224px;
}

#u12636
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u12639
{
	width: 106px;
	padding-bottom: 5px;
	position: relative;
}

#u12639:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u12642-4
{
	width: 106px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u12639:hover #u12642-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13142
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u13143
{
	width: 106px;
	padding-bottom: 5px;
	position: relative;
}

#u12639.MuseMenuActive,#u13143:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u13144-4
{
	width: 106px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u12639.MuseMenuActive #u12642-4,#u13143:hover #u13144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13163
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u13166
{
	width: 106px;
	padding-bottom: 5px;
	position: relative;
}

#u13143.MuseMenuActive,#u13166:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u13168-4
{
	width: 106px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u13143.MuseMenuActive #u13144-4,#u13166:hover #u13168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13184
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 324px;
}

#u13185
{
	width: 106px;
	padding-bottom: 5px;
	position: relative;
}

#u13166.MuseMenuActive,#u13185:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u13185.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u13186-4
{
	width: 106px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u13166.MuseMenuActive #u13168-4,#u13185:hover #u13186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13185.MuseMenuActive #u13186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13205
{
	width: 107px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 432px;
}

#u13206
{
	width: 107px;
	padding-bottom: 5px;
	position: relative;
}

#u13206:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u13209-4
{
	width: 107px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u13206:hover #u13209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u13226
{
	width: 107px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 541px;
}

#u13227
{
	width: 107px;
	padding-bottom: 5px;
	position: relative;
}

#u13206.MuseMenuActive,#u13227:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u13227.MuseMenuActive
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u13228-4
{
	width: 107px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u13206.MuseMenuActive #u13209-4,#u13227:hover #u13228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u13227.MuseMenuActive #u13228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u12779-4
{
	z-index: 299;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 327px;
}

#u12785-4
{
	z-index: 303;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 435px;
}

#u12788-4
{
	z-index: 307;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 538px;
}

#u12791-4
{
	z-index: 311;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 660px;
}

#u12794-4
{
	z-index: 315;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 748px;
}

#ppu3530
{
	width: 0.01px;
	margin-left: 196px;
	margin-top: 21px;
}

#pu3530
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 34px;
}

#u3530
{
	z-index: 247;
	position: relative;
}

#u3530_img
{
	display: block;
	vertical-align: top;
}

#u12767-4
{
	z-index: 249;
	width: 146px;
	min-height: 29px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-left: 47px;
	margin-top: 8px;
	position: relative;
}

#u3018
{
	z-index: 3;
	width: 247px;
	height: 1px;
	border-width: 0px;
	border-color: transparent;
	background-color: #A4A4A4;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 555px;
}

#u5358
{
	z-index: 19;
	width: 491px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 325px;
}

#u11512
{
	z-index: 21;
	width: 209px;
	background-color: transparent;
	position: relative;
}

#u3013
{
	z-index: 22;
	display: block;
}

#pu2985
{
	width: 0.01px;
	margin-top: 13px;
}

#u2985
{
	z-index: 20;
	width: 489px;
	height: 301px;
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#slideshowu2986
{
	z-index: 23;
	width: 0.01px;
	height: 275px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 14px;
}

#u2989
{
	position: absolute;
	width: 274px;
	height: 274px;
	background-color: transparent;
	left: -1px;
}

#u2989popup
{
	z-index: 24;
}

#u2990
{
	z-index: 25;
	width: 272px;
	height: 272px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2992
{
	z-index: 27;
	width: 272px;
	height: 272px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2992_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u7333
{
	z-index: 29;
	width: 272px;
	height: 272px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7346
{
	z-index: 31;
	width: 272px;
	height: 272px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7346_img
{
	margin-top: -1px;
}

#u2998
{
	position: absolute;
	width: 78px;
	top: 266px;
	left: 339px;
}

#u2998popup
{
	z-index: 33;
}

#u2999
{
	z-index: 34;
	width: 12px;
	height: 10px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/thumbnail.svg") no-repeat center center;
	background-size: cover;
}

#u2999.SSSlideLinkSelected
{
	width: 12px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/thumbnail_active.svg") no-repeat center center;
	background-size: cover;
}

#u3001
{
	z-index: 36;
	width: 12px;
	height: 10px;
	position: relative;
	margin-right: -10000px;
	left: 22px;
	background: transparent url("../images/thumbnail.svg") no-repeat center center;
	background-size: cover;
}

#u3001.SSSlideLinkSelected
{
	width: 12px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/thumbnail_active.svg") no-repeat center center;
	background-size: cover;
}

#u7336
{
	z-index: 38;
	width: 12px;
	height: 10px;
	position: relative;
	margin-right: -10000px;
	left: 44px;
	background: transparent url("../images/thumbnail.svg") no-repeat center center;
	background-size: cover;
}

#u7336.SSSlideLinkSelected
{
	width: 12px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/thumbnail_active.svg") no-repeat center center;
	background-size: cover;
}

#u7349
{
	z-index: 40;
	width: 12px;
	height: 10px;
	position: relative;
	margin-right: -10000px;
	left: 66px;
	background: transparent url("../images/thumbnail.svg") no-repeat center center;
	background-size: cover;
}

#u7349.SSSlideLinkSelected
{
	width: 12px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/thumbnail_active.svg") no-repeat center center;
	background-size: cover;
}

#u3008
{
	position: absolute;
	width: 203px;
	background-color: transparent;
	left: 273px;
}

#u3008popup
{
	z-index: 42;
}

#u3011-21
{
	z-index: 43;
	width: 183px;
	min-height: 247px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 18px;
	color: #484848;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
}

#u3011-12,#u3011-14,#u3011-15,#u3011-17,#u3011-19
{
	padding-right: 12px;
	padding-left: 12px;
}

#u3009-18
{
	z-index: 64;
	width: 183px;
	min-height: 247px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	color: #484848;
	margin-right: -10000px;
	position: relative;
}

#u3009-12,#u3009-14
{
	line-height: 18px;
	font-weight: bold;
}

#u3009,#u3009-3,#u3009-5,#u3009-6,#u3009-8,#u3009-9,#u3009-10,#u3009-15
{
	line-height: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u3009-16
{
	font-size: 14px;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u7339-26
{
	z-index: 82;
	width: 183px;
	min-height: 247px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	color: #484848;
	margin-right: -10000px;
	position: relative;
}

#u7339-7,#u7339-11,#u7339-18
{
	line-height: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u7339-3,#u7339-6,#u7339-10,#u7339-14,#u7339-17,#u7339-21
{
	line-height: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u7339-24
{
	font-size: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7339-22
{
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	line-height: 18px;
}

#u7352-20
{
	z-index: 108;
	width: 183px;
	min-height: 247px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 18px;
	text-align: center;
	color: #484848;
	margin-right: -10000px;
	position: relative;
}

#u7352-13
{
	font-weight: bold;
	font-style: italic;
}

#u7352-11
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u3009-11,#u3009-13,#u7339,#u7339-4,#u7339-8,#u7339-12,#u7339-15,#u7339-19,#u7352-2,#u7352-4,#u7352-5,#u7352-7,#u7352-8,#u7352-10,#u7352-14,#u7352-16,#u7352-18
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#buttonu12800
{
	z-index: 323;
	width: 74px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 695px;
}

#pu2935
{
	width: 0.01px;
	margin-left: 105px;
	margin-top: 24px;
}

#u2935
{
	z-index: 4;
	width: 107px;
	height: 1px;
	border-width: 0px;
	border-color: transparent;
	background-color: #A4A4A4;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 2px;
}

#u2947
{
	z-index: 5;
	width: 489px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 1px;
}

#u2948
{
	z-index: 6;
	width: 487px;
	height: 563px;
	border-style: solid;
	border-width: 1px;
	border-color: #5F5F5F;
	position: relative;
	margin-right: -10000px;
}

.homebox
{
	border-width: 8px;
	border-color: #5F5F5F;
	background-color: transparent;
}

#u11503
{
	z-index: 7;
	width: 216px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 127px;
}

#u2941
{
	z-index: 8;
	display: block;
}

#u2934
{
	z-index: 9;
	width: 384px;
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 163px;
	left: 521px;
}

#u2939
{
	z-index: 13;
	width: 379px;
	min-height: 403px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 6px;
}

#u11506
{
	z-index: 11;
	width: 222px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 668px;
}

#u3016
{
	z-index: 12;
	display: block;
}

#u11509
{
	z-index: 15;
	width: 123px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 599px;
	left: 566px;
}

#u2943
{
	z-index: 16;
	display: block;
}

#u2946
{
	z-index: 17;
	width: 479px;
	height: 51px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 354px;
	border-width: 1px 1px 0px 0px;
}

#u2945
{
	z-index: 18;
	width: 145px;
	height: 22px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 591px;
	left: 717px;
	border-width: 0px 1px 1px 0px;
}

#pamphletu2956
{
	z-index: 128;
	width: 0.01px;
	height: 548px;
	padding-bottom: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
}

#u2967
{
	position: absolute;
	width: 490px;
	background-color: transparent;
}

#u2967popup
{
	z-index: 129;
}

#u2980
{
	z-index: 130;
	width: 490px;
	height: 590px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2980_position_content
{
	padding-top: 7px;
	padding-bottom: 53px;
	width: 100%;
}

#pu12220
{
	width: 0.01px;
	margin-left: 6px;
}

#u12220
{
	z-index: 168;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12220_img
{
	padding-left: 2px;
}

#u12204
{
	z-index: 166;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u12203-35
{
	z-index: 131;
	width: 488px;
	min-height: 232px;
	background-color: transparent;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 2px;
	margin-top: 30px;
	position: relative;
}

#u2968
{
	z-index: 170;
	width: 488px;
	height: 502px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 7px 1px 81px;
}

#u12187
{
	z-index: 190;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12189
{
	z-index: 192;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u12186-19
{
	z-index: 171;
	width: 488px;
	min-height: 232px;
	background-color: transparent;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	left: -1px;
	margin-top: 30px;
	position: relative;
}

#u12203-8,#u12203-15,#u12203-18,#u12203-21,#u12203-24,#u12203-28,#u12186-8
{
	font-style: italic;
}

#u12203-7,#u12203-9,#u12203-10,#u12203-12,#u12203-25,#u12203-29,#u12203-31,#u12186-7,#u12186-9,#u12186-10,#u12186-12,#u12186-13,#u12186-15
{
	font-style: normal;
}

#u12203-32,#u12203-33,#u12186-16,#u12186-17
{
	font-size: 14px;
	line-height: 28px;
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
}

#u2973
{
	z-index: 194;
	width: 488px;
	height: 523px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 7px 1px 60px;
}

#pu12187,#pu12169
{
	width: 0.01px;
	margin-left: 5px;
}

#u12169
{
	z-index: 195;
	width: 237px;
	border-style: solid;
	border-width: 1px;
	border-color: #A4A4A4;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u12171
{
	z-index: 197;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#u12173-11
{
	z-index: 199;
	width: 488px;
	min-height: 257px;
	background-color: transparent;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	left: -1px;
	margin-top: 28px;
	position: relative;
}

#u12173-9
{
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u12173-7
{
	font-style: normal;
	line-height: 25px;
}

#u12173-8
{
	font-size: 15px;
	font-style: normal;
	line-height: 27px;
}

#u4094
{
	z-index: 210;
	width: 488px;
	height: 540px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 5px 1px 45px;
}

#pu8539
{
	width: 0.01px;
	margin-left: 4px;
}

#u8539
{
	z-index: 211;
	width: 235px;
	height: 235px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 245px;
}

.ie #buttonu12800,.ie #u8539
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12152
{
	z-index: 212;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u12152_img
{
	margin-right: -5px;
	margin-bottom: -5px;
}

#u12154
{
	z-index: 214;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#u12156-14
{
	z-index: 216;
	width: 488px;
	min-height: 257px;
	background-color: transparent;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	left: -1px;
	margin-top: 27px;
	position: relative;
}

#u12203-2,#u12186-2,#u12173-2,#u12156-2
{
	font-size: 32px;
	line-height: 38px;
	padding-right: 12px;
	padding-left: 12px;
}

#u12203-4,#u12186-4,#u12173-4,#u12156-4
{
	font-size: 18px;
	line-height: 22px;
	padding-right: 12px;
	padding-left: 12px;
}

#u12203-6,#u12186-6,#u12173-6,#u12156-6
{
	font-size: 18px;
	line-height: 36px;
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
}

#u12156-11
{
	font-size: 18px;
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u12156-7,#u12156-8,#u12156-10
{
	font-size: 15px;
	font-style: normal;
	line-height: 30px;
}

#u12156-12
{
	line-height: 25px;
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
}

#u2963
{
	z-index: 230;
	width: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 534px;
	left: 216px;
}

#u2965
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u2965.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u2966
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-width: 0px;
	border-color: transparent;
	left: 22px;
	background: transparent url("../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u2966.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u2964
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-width: 0px;
	border-color: transparent;
	left: 44px;
	background: transparent url("../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u2964.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u4093
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-width: 0px;
	border-color: transparent;
	left: 66px;
	background: transparent url("../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u2999,.nosvg #u3001,.nosvg #u7336,.nosvg #u7349,.nosvg #u2965,.nosvg #u2966,.nosvg #u2964,.nosvg #u4093
{
	background-image: url('../images/thumbnail_poster_u2139.png');
}

#u4093.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u2999.SSSlideLinkSelected,.nosvg #u3001.SSSlideLinkSelected,.nosvg #u7336.SSSlideLinkSelected,.nosvg #u7349.SSSlideLinkSelected,.nosvg #u2965.PamphletThumbSelected,.nosvg #u2966.PamphletThumbSelected,.nosvg #u2964.PamphletThumbSelected,.nosvg #u4093.PamphletThumbSelected
{
	background-image: url('../images/thumbnail_active_poster_u2145.png');
}

#u2961
{
	position: absolute;
	width: 62px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: 527px;
	left: 154px;
}

#u2962-5
{
	z-index: 236;
	width: 62px;
	min-height: 27px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u2962
{
	color: #484848;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u2962-2
{
	text-decoration: underline;
	color: #484848;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u2957
{
	position: absolute;
	width: 35px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 13px;
	top: 528px;
	left: 312px;
}

#u3634-5
{
	z-index: 242;
	width: 34px;
	min-height: 27px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #484848;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3634
{
	text-decoration: underline;
}

#u3634-2
{
	text-decoration: none;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pppu3012
{
	width: 0.01px;
	margin-left: 53px;
	margin-top: -7px;
}

#ppu3012
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 6px;
}

#pu3012
{
	width: 0.01px;
	margin-left: 73px;
}

#u3012
{
	z-index: 343;
	width: 69px;
	height: 25px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	border-width: 0px 0px 1px 1px;
}

#u13350
{
	z-index: 344;
	width: 166px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 78px;
}

#u13348
{
	z-index: 345;
	display: block;
}

#u12774
{
	z-index: 253;
	width: 534px;
	border-style: solid;
	border-width: 1px;
	border-color: #7F7F7F;
	background-color: transparent;
	padding-bottom: 16px;
	margin-top: 14px;
	position: relative;
}

#u12770
{
	z-index: 342;
	width: 500px;
	min-height: 254px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 17px;
}

#u3015
{
	z-index: 10;
	width: 384px;
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 18px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 573px;
}

#u2950
{
	z-index: 14;
	width: 350px;
	min-height: 350px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 16px;
}

#u787
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	left: -100px;
	margin-top: 16px;
	position: relative;
}

#pu532-6
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 64px;
}

#u532-6
{
	z-index: 254;
	min-height: 39px;
	padding-left: 20px;
	padding-top: 25px;
	padding-right: 20px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u532-6-bw
{
	z-index: 254;
	min-height: 39px;
}

#u13317-14
{
	z-index: 328;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1069px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1116px;
}

@font-face
{
	font-family: '__web-icons_5';
	src: url('../fonts/web-icons.eot');
	src: local('☺'), url('../fonts/web-icons.woff') format('woff'), url('../fonts/web-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../fonts/websocialmenus.eot');
	src: local('☺'), url('../fonts/websocialmenus.woff') format('woff'), url('../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

