.version.index /* version checker */
{
	color: #0000EC;
	background-color: #E9A611;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1553.9px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 135px;
	width: 0.01px;
}

#u531-26
{
	z-index: 32;
	min-height: 44px;
	top: 0px;
	padding: 20px 4px 4px;
}

#u531-26-bw
{
	z-index: 32;
}

#u1439
{
	z-index: 61;
	width: 158px;
	top: 0px;
	left: 7px;
}

#u1087
{
	z-index: 58;
	width: 38px;
	height: 42px;
	top: 11px;
	right: 138px;
}

#u1365
{
	z-index: 59;
	width: 38px;
	height: 42px;
	top: 11px;
	right: 90px;
}

#u1384
{
	z-index: 60;
	width: 38px;
	height: 42px;
	top: 11px;
	right: 42px;
}

#u1087:hover,#u1365:hover,#u1384:hover
{
	width: 38px;
	height: 42px;
	min-height: 0px;
	margin: 0px;
}

#ppu1164-4
{
	width: 0.01px;
	margin-left: -7px;
}

#pu1164-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 507px;
}

#u1164-4
{
	z-index: 5;
	width: 450px;
	min-height: 90px;
	background-color: transparent;
	color: #333333;
	line-height: 79px;
	text-align: center;
	font-size: 66px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 95px;
}

#u1248
{
	z-index: 9;
	width: 577px;
	height: 447px;
	border-width: 3px;
	border-style: solid;
	border-color: #333333;
	background-color: #FFFFFF;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#slideshowu1166
{
	z-index: 10;
	width: 0.01px;
	height: 400px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 18px;
}

#u1179
{
	position: absolute;
	width: 541px;
	height: 400px;
	background-color: transparent;
}

#u1179popup
{
	z-index: 11;
}

#u1180
{
	z-index: 12;
	width: 541px;
	height: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1180_img
{
	padding: 10px 4px;
}

#u1218
{
	z-index: 14;
	width: 541px;
	height: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1227
{
	z-index: 16;
	width: 541px;
	height: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1239
{
	z-index: 18;
	width: 541px;
	height: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1218_clip,#u1227_clip,#u1239_clip
{
	overflow: hidden;
	width: 541px;
	height: 400px;
}

#u1218_img,#u1227_img,#u1239_img
{
	margin-left: -10px;
	margin-right: -9px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1409-4
{
	z-index: 21;
	width: 450px;
	min-height: 90px;
	background-color: transparent;
	color: #333333;
	line-height: 79px;
	text-align: center;
	font-size: 66px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 26px;
}

#u1164,#u1409
{
	text-decoration: underline;
}

#u1496
{
	z-index: 26;
	width: 454px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1162
{
	width: 0.01px;
	margin-left: -5px;
	margin-top: 23px;
}

#u1162
{
	z-index: 4;
	width: 445px;
	border-width: 5px;
	border-style: solid;
	border-color: #333333;
	background-color: #FFFFFF;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: -2px;
}

#u1154
{
	z-index: 20;
	width: 400px;
	min-height: 400px;
	border-width: 8px;
	border-style: solid;
	border-color: #333333;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#u1449
{
	z-index: 3;
	width: 577px;
	border-width: 3px;
	border-style: solid;
	border-color: #333333;
	background-color: transparent;
	padding-bottom: 21px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 504px;
}

#u1447
{
	z-index: 25;
	width: 499px;
	min-height: 492px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 44px;
}

#u787
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	left: -100px;
	margin-top: 210px;
}

#u532-4
{
	z-index: 28;
	min-height: 39px;
	padding-left: 20px;
	padding-top: 25px;
	padding-right: 20px;
}

#u532-4-bw
{
	z-index: 28;
	min-height: 39px;
	margin-top: 63px;
}

body
{
	position: relative;
	min-width: 1000px;
}

#page .verticalspacer
{
	clear: both;
}

