.version.index /* version checker */
{
	color: #00000B;
	background-color: #F1E4A4;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1116px;
	min-height: 1708.9176738719482px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	padding-top: 91px;
	width: 0.01px;
}

#u531-3
{
	z-index: 237;
	min-height: 44px;
	top: 0px;
	padding: 20px 4px 4px;
}

#u531-3-bw
{
	z-index: 237;
}

#u1439
{
	z-index: 243;
	width: 158px;
	top: 0px;
	left: 7px;
}

#u6499
{
	z-index: 245;
	width: 497px;
	padding-bottom: 1px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5322
{
	z-index: 246;
	width: 429px;
	padding-bottom: 1px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5304
{
	z-index: 247;
	width: 369px;
	padding-bottom: 1px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5286
{
	z-index: 248;
	width: 369px;
	padding-bottom: 1px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5269
{
	z-index: 249;
	width: 369px;
	padding-bottom: 1px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5239
{
	z-index: 266;
	width: 71px;
	height: 68px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5239:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -239px;
}

#u1944-4
{
	z-index: 250;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: -163px;
}

#u5252
{
	z-index: 267;
	width: 71px;
	height: 68px;
	margin-right: -10000px;
	left: 88px;
}

#u5252:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5252.MuseLinkActive
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1945-4
{
	z-index: 254;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: -74px;
}

#u1946-4
{
	z-index: 258;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: 44px;
}

#u1947-4
{
	z-index: 262;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: 122px;
}

#u5270
{
	z-index: 268;
	width: 103px;
	height: 68px;
	margin-right: -10000px;
	left: 177px;
}

#u5270:hover
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5270.MuseLinkActive
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5287
{
	z-index: 269;
	width: 64px;
	height: 68px;
	margin-right: -10000px;
	left: 293px;
}

#u5287:hover
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5287.MuseLinkActive
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5305
{
	z-index: 270;
	width: 55px;
	height: 68px;
	margin-right: -10000px;
	left: 374px;
}

#u5305:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6498-4
{
	z-index: 272;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: 192px;
}

#u6481
{
	z-index: 271;
	width: 55px;
	height: 68px;
	margin-right: -10000px;
	left: 442px;
}

#u5305.MuseLinkActive,#u6481:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6481.MuseLinkActive
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1087
{
	z-index: 240;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 108px;
}

#u1365
{
	z-index: 241;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 60px;
}

#u1384
{
	z-index: 242;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 12px;
}

#u1087:hover,#u1365:hover,#u1384:hover
{
	width: 38px;
	height: 42px;
	min-height: 0px;
	margin: 0px;
}

#pu3018
{
	width: 0.01px;
	margin-left: 143px;
}

#u3018
{
	z-index: 3;
	width: 247px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #A4A4A4;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 608px;
}

#u5358
{
	z-index: 19;
	width: 491px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 378px;
}

#u3013
{
	z-index: 21;
	overflow: hidden;
	position: relative;
}

#pu2985
{
	width: 0.01px;
	margin-top: 13px;
}

#u2985
{
	z-index: 20;
	width: 489px;
	height: 301px;
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#slideshowu2986
{
	z-index: 22;
	width: 0.01px;
	height: 275px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 14px;
}

#u2989
{
	position: absolute;
	width: 274px;
	height: 274px;
	background-color: transparent;
	left: -1px;
}

#u2989popup
{
	z-index: 23;
}

#u2990
{
	z-index: 24;
	width: 272px;
	height: 272px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2992
{
	z-index: 26;
	width: 272px;
	height: 272px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2992_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u7333
{
	z-index: 28;
	width: 272px;
	height: 272px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7346
{
	z-index: 30;
	width: 272px;
	height: 272px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2992_clip,#u7346_clip
{
	overflow: hidden;
	width: 272px;
	height: 272px;
}

#u7346_img
{
	margin-top: -1px;
}

#u2998
{
	position: absolute;
	width: 78px;
	top: 266px;
	left: 339px;
}

#u2998popup
{
	z-index: 32;
}

#u2999
{
	z-index: 33;
	width: 12px;
	height: 10px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/thumbnail.svg") no-repeat center center;
	background-size: cover;
}

#u2999.SSSlideLinkSelected
{
	width: 12px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/thumbnail_active.svg") no-repeat center center;
	background-size: cover;
}

#u3001
{
	z-index: 35;
	width: 12px;
	height: 10px;
	position: relative;
	margin-right: -10000px;
	left: 22px;
	background: transparent url("../images/thumbnail.svg") no-repeat center center;
	background-size: cover;
}

#u3001.SSSlideLinkSelected
{
	width: 12px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/thumbnail_active.svg") no-repeat center center;
	background-size: cover;
}

#u7336
{
	z-index: 37;
	width: 12px;
	height: 10px;
	position: relative;
	margin-right: -10000px;
	left: 44px;
	background: transparent url("../images/thumbnail.svg") no-repeat center center;
	background-size: cover;
}

#u7336.SSSlideLinkSelected
{
	width: 12px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/thumbnail_active.svg") no-repeat center center;
	background-size: cover;
}

#u7349
{
	z-index: 39;
	width: 12px;
	height: 10px;
	position: relative;
	margin-right: -10000px;
	left: 66px;
	background: transparent url("../images/thumbnail.svg") no-repeat center center;
	background-size: cover;
}

#u7349.SSSlideLinkSelected
{
	width: 12px;
	height: 10px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/thumbnail_active.svg") no-repeat center center;
	background-size: cover;
}

#u3008
{
	position: absolute;
	width: 203px;
	background-color: transparent;
	left: 273px;
}

#u3008popup
{
	z-index: 41;
}

#u3011-21
{
	z-index: 42;
	width: 183px;
	min-height: 247px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #484848;
	text-align: center;
	line-height: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-right: -10000px;
	position: relative;
}

#u3011-12,#u3011-14,#u3011-15,#u3011-17,#u3011-19
{
	padding-right: 12px;
	padding-left: 12px;
}

#u3009-17
{
	z-index: 63;
	width: 183px;
	min-height: 247px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #484848;
	text-align: center;
	margin-right: -10000px;
	position: relative;
}

#u3009-3,#u3009-5,#u3009-8
{
	line-height: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u3009-13
{
	line-height: 18px;
	font-weight: bold;
}

#u3009-15
{
	font-size: 14px;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u7339-26
{
	z-index: 80;
	width: 183px;
	min-height: 247px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #484848;
	text-align: center;
	margin-right: -10000px;
	position: relative;
}

#u3009,#u3009-6,#u3009-9,#u3009-10,#u3009-14,#u7339-7,#u7339-11,#u7339-18
{
	line-height: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u7339-3,#u7339-6,#u7339-10,#u7339-14,#u7339-17,#u7339-21
{
	line-height: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u7339-24
{
	font-size: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7339-22
{
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	line-height: 18px;
}

#u7352-20
{
	z-index: 106;
	width: 183px;
	min-height: 247px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #484848;
	text-align: center;
	line-height: 18px;
	margin-right: -10000px;
	position: relative;
}

#u7352-13
{
	font-weight: bold;
	font-style: italic;
}

#u7352-5,#u7352-8,#u7352-11,#u7352-14
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u3009-11,#u7339,#u7339-4,#u7339-8,#u7339-12,#u7339-15,#u7339-19,#u7352-2,#u7352-4,#u7352-7,#u7352-10,#u7352-16,#u7352-18
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u3530
{
	z-index: 229;
	display: block;
	vertical-align: top;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#pu2935
{
	width: 0.01px;
	margin-left: 105px;
	margin-top: 23px;
}

#u2935
{
	z-index: 4;
	width: 107px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #A4A4A4;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 3px;
}

#u2947
{
	z-index: 6;
	width: 489px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 2px;
}

#u2948
{
	z-index: 7;
	width: 487px;
	height: 563px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
}

.homebox
{
	border-width: 8px;
	border-style: solid;
	border-color: #5F5F5F;
	background-color: transparent;
}

#u2941
{
	z-index: 9;
	position: relative;
	margin-right: -10000px;
	left: 127px;
}

#u2934
{
	z-index: 10;
	width: 384px;
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 163px;
	left: 521px;
}

#u2939
{
	z-index: 13;
	width: 379px;
	min-height: 403px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 6px;
}

#u3016
{
	z-index: 12;
	overflow: hidden;
	position: relative;
	width: 222px;
	margin-right: -10000px;
	margin-top: 104px;
	left: 668px;
}

#u2943
{
	z-index: 15;
	overflow: hidden;
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 599px;
	left: 566px;
}

#u2946
{
	z-index: 16;
	width: 479px;
	height: 51px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 355px;
	border-width: 1px 1px 0px 0px;
}

#u2945
{
	z-index: 17;
	width: 145px;
	height: 22px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 591px;
	left: 718px;
	border-width: 0px 1px 1px 0px;
}

#pamphletu2956
{
	z-index: 126;
	width: 0.01px;
	height: 548px;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
}

#u2967
{
	position: absolute;
	width: 490px;
	background-color: transparent;
}

#u2967popup
{
	z-index: 127;
}

#u2980
{
	z-index: 128;
	width: 488px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 11px;
	padding-right: 2px;
	padding-bottom: 53px;
	margin-right: -10000px;
	position: relative;
}

#u8558
{
	z-index: 149;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8562
{
	z-index: 151;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u8557-20
{
	z-index: 129;
	width: 488px;
	min-height: 232px;
	background-color: transparent;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-top: 26px;
	position: relative;
}

#u8557-9
{
	font-style: italic;
}

#u2968
{
	z-index: 153;
	width: 488px;
	height: 522px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 8px;
	padding-right: 2px;
	padding-bottom: 32px;
	margin-right: -10000px;
	position: relative;
}

#u8565
{
	z-index: 154;
	width: 237px;
	border-width: 1px;
	border-style: solid;
	border-color: #A4A4A4;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u8571
{
	z-index: 156;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#u8574-13
{
	z-index: 158;
	width: 488px;
	min-height: 257px;
	background-color: transparent;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-top: 28px;
	position: relative;
}

#u8574-11
{
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8574-9
{
	font-style: normal;
	line-height: 25px;
}

#u8574-10
{
	font-size: 15px;
	font-style: normal;
	line-height: 27px;
}

#u2973
{
	z-index: 171;
	width: 488px;
	height: 539px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 7px;
	padding-right: 2px;
	padding-bottom: 16px;
	margin-right: -10000px;
	position: relative;
}

#u8625
{
	z-index: 172;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8625_clip
{
	overflow: hidden;
	width: 236px;
	height: 236px;
}

#u8625_img
{
	margin-right: -5px;
	margin-bottom: -5px;
}

#u8627
{
	z-index: 174;
	width: 236px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u8631-16
{
	z-index: 176;
	width: 488px;
	min-height: 257px;
	background-color: transparent;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-top: 30px;
	position: relative;
}

#u8631-13
{
	font-size: 18px;
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8631-9,#u8631-10,#u8631-12
{
	font-size: 15px;
	font-style: normal;
	line-height: 30px;
}

#u8631-14
{
	line-height: 25px;
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
}

#u4094
{
	z-index: 192;
	width: 488px;
	height: 496px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 9px;
	padding-right: 2px;
	padding-bottom: 57px;
	margin-right: -10000px;
	position: relative;
}

#pu8558,#pu8565,#pu8625,#pu8539
{
	width: 0.01px;
	margin-left: 7px;
}

#u8539
{
	z-index: 193;
	width: 235px;
	height: 235px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 241px;
}

.ie #u8539
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u8581
{
	z-index: 208;
	width: 235px;
	border-width: 1px;
	border-style: solid;
	border-color: #A4A4A4;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 241px;
}

#u8581_img
{
	padding-right: 2px;
	padding-bottom: 2px;
}

#u8583
{
	z-index: 210;
	width: 235px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u8580-14
{
	z-index: 194;
	width: 488px;
	min-height: 232px;
	background-color: transparent;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-top: 28px;
	position: relative;
}

#u8557-3,#u8574-4,#u8631-4,#u8580-4
{
	font-size: 32px;
	line-height: 38px;
	padding-right: 12px;
	padding-left: 12px;
}

#u8557-5,#u8574-6,#u8631-6,#u8580-6
{
	font-size: 18px;
	line-height: 22px;
	padding-right: 12px;
	padding-left: 12px;
}

#u8557-7,#u8574-8,#u8631-8,#u8580-8
{
	font-size: 18px;
	line-height: 36px;
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
}

#u8557-17,#u8557-18,#u8580-12
{
	font-size: 14px;
	line-height: 28px;
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
}

#u8557-8,#u8557-10,#u8557-11,#u8557-13,#u8557-14,#u8557-16,#u8580-9,#u8580-11
{
	font-style: normal;
}

#u2963
{
	z-index: 212;
	width: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 534px;
	left: 217px;
}

#u2965
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u2965.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u2966
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	left: 22px;
	background: transparent url("../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u2966.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u2964
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	left: 44px;
	background: transparent url("../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u2964.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u4093
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	left: 66px;
	background: transparent url("../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u2999,.nosvg #u3001,.nosvg #u7336,.nosvg #u7349,.nosvg #u2965,.nosvg #u2966,.nosvg #u2964,.nosvg #u4093
{
	background-image: url('../images/thumbnail_poster_u2139.png');
}

#u4093.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u2999.SSSlideLinkSelected,.nosvg #u3001.SSSlideLinkSelected,.nosvg #u7336.SSSlideLinkSelected,.nosvg #u7349.SSSlideLinkSelected,.nosvg #u2965.PamphletThumbSelected,.nosvg #u2966.PamphletThumbSelected,.nosvg #u2964.PamphletThumbSelected,.nosvg #u4093.PamphletThumbSelected
{
	background-image: url('../images/thumbnail_active_poster_u2145.png');
}

#u2961
{
	position: absolute;
	width: 62px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 527px;
	left: 155px;
}

#u2962-5
{
	z-index: 218;
	width: 62px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u2962
{
	color: #484848;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u2962-2
{
	text-decoration: underline;
	color: #484848;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u2957
{
	position: absolute;
	width: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 13px;
	top: 528px;
	left: 312px;
}

#u3634-5
{
	z-index: 224;
	width: 34px;
	min-height: 27px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #484848;
	text-align: center;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u3634
{
	text-decoration: underline;
}

#u3634-2
{
	text-decoration: none;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pppu3012
{
	width: 0.01px;
	margin-left: 105px;
	margin-top: -6px;
}

#ppu3012
{
	width: 0.01px;
	margin: 17px -10000px -1px -1px;
}

#pu3012
{
	width: 0.01px;
	margin-left: 22px;
}

#u3012
{
	z-index: 18;
	width: 69px;
	height: 25px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px 1px;
}

#u2952
{
	z-index: 8;
	overflow: hidden;
	position: relative;
	width: 127px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 78px;
}

#u2937
{
	z-index: 5;
	width: 487px;
	min-height: 355px;
	border-width: 1px;
	border-style: solid;
	margin-top: 9px;
	position: relative;
}

#u3015
{
	z-index: 11;
	width: 384px;
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	left: 521px;
}

#u2950
{
	z-index: 14;
	width: 350px;
	min-height: 350px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 16px;
}

#u787
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	left: -100px;
	top: -10px;
	margin-bottom: -10px;
}

#u532-6
{
	z-index: 231;
	min-height: 39px;
	padding-left: 20px;
	padding-top: 25px;
	padding-right: 20px;
}

#u532-6-bw
{
	z-index: 231;
	min-height: 39px;
	margin-top: 63px;
}

body
{
	position: relative;
	min-width: 1116px;
}

#page .verticalspacer
{
	clear: both;
}

