.version.jagged_leaves /* version checker */
{
	color: #00000B;
	background-color: #2F008F;
}

#page
{
	z-index: 1;
	width: 1116px;
	min-height: 1136px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -1px;
	width: 0.01px;/* should not cover content below */
}

#pu531-3
{
	width: 0.01px;
	padding-bottom: 69px;
	margin-left: -100px;
}

#u531-3
{
	z-index: 34;
	min-height: 44px;
	position: fixed;
	top: -1px;
	padding: 20px 4px 4px;
}

#u531-3-bw
{
	z-index: 34;
}

#u1087
{
	z-index: 37;
	width: 38px;
	height: 42px;
	position: fixed;
	top: 13px;
	right: 108px;
}

#u1365
{
	z-index: 38;
	width: 38px;
	height: 42px;
	position: fixed;
	top: 13px;
	right: 60px;
}

#u1384
{
	z-index: 39;
	width: 38px;
	height: 42px;
	position: fixed;
	top: 13px;
	right: 12px;
}

#u1087:hover,#u1365:hover,#u1384:hover
{
	width: 38px;
	height: 42px;
	min-height: 0px;
	margin: 0px;
}

#u1439
{
	z-index: 40;
	width: 158px;
	position: fixed;
	top: 0px;
	left: 7px;
}

#u8793
{
	z-index: 42;
	width: 639px;
	padding-bottom: 69px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: -319px;
}

#u5239
{
	z-index: 59;
	width: 71px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -319px;
}

#u5239:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -319px;
}

#u1944-4
{
	z-index: 43;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -244px;
}

#u5252
{
	z-index: 60;
	width: 71px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -231px;
}

#u5252:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -231px;
}

#u5252.MuseLinkActive
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -231px;
}

#u1945-4
{
	z-index: 47;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -155px;
}

#u5270
{
	z-index: 61;
	width: 103px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -142px;
}

#u5270:hover
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -142px;
}

#u5270.MuseLinkActive
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -142px;
}

#u1946-4
{
	z-index: 51;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -37px;
}

#u5287
{
	z-index: 62;
	width: 64px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -26px;
}

#u5287:hover
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -26px;
}

#u5287.MuseLinkActive
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -26px;
}

#pu1947-4
{
	width: 0.01px;
	padding-bottom: 69px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: 42px;
}

#u1947-4
{
	z-index: 55;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 183px;
}

#u8775
{
	z-index: 69;
	width: 150px;
	padding-bottom: 68px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: 42px;
}

#u8775:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px 0px 42px;
}

#u8775.MuseLinkActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px 0px 42px;
}

#u8791-4
{
	z-index: 70;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: 40px;
}

#u5305
{
	z-index: 63;
	width: 55px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 196px;
}

#u5305:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 196px;
}

#u5305.MuseLinkActive
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 196px;
}

#u6498-4
{
	z-index: 65;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 254px;
}

#u6481
{
	z-index: 64;
	width: 55px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 264px;
}

#u6481:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 264px;
}

#u6481.MuseLinkActive
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 264px;
}

#u11983
{
	z-index: 3;
	width: 60px;
	background-color: transparent;
	margin-left: 58px;
	margin-top: 16px;
	position: relative;
}

#u7812
{
	z-index: 4;
	display: block;
}

#u12073
{
	z-index: 22;
	width: 375px;
	background-color: transparent;
	margin-left: 58px;
	margin-top: 18px;
	position: relative;
}

#u7844
{
	z-index: 23;
	display: block;
}

#u7823
{
	z-index: 5;
	width: 386px;
	border-style: solid;
	border-width: 5px;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 18px;
	margin-left: 56px;
	margin-top: 17px;
	position: relative;
}

#u7849
{
	z-index: 24;
	width: 355px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 15px;
}

#pu11599
{
	width: 0.01px;
	margin-left: 222px;
	margin-top: 10px;
}

#u11599
{
	z-index: 6;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7814
{
	z-index: 7;
	display: block;
}

#u11881
{
	z-index: 8;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 42px;
}

#u7810
{
	z-index: 9;
	display: block;
}

#u7816-12
{
	z-index: 10;
	width: 936px;
	min-height: 177px;
	background-color: transparent;
	line-height: 18px;
	text-align: justify;
	font-size: 15px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 58px;
	margin-top: 32px;
	position: relative;
}

#u7816-2,#u7816-3,#u7816-5,#u7816-6,#u7816-10
{
	padding-right: 10px;
	padding-left: 10px;
}

#u7816-8
{
	font-style: italic;
}

#u8312
{
	z-index: 26;
	width: 285px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	background-color: transparent;
	margin-left: 384px;
	margin-top: 17px;
	position: relative;
}

#u787
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	left: -100px;
	top: -65px;
	margin-bottom: -50px;
	position: relative;
}

#u532-6
{
	z-index: 28;
	min-height: 39px;
	padding-left: 20px;
	padding-top: 25px;
	padding-right: 20px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u532-6-bw
{
	z-index: 28;
	min-height: 39px;
	margin-top: 49px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1116px;
}

