#u531-26
{
	color: #FFFFFF;
	text-align: center;
	font-size: 23px;
	line-height: 28px;
	letter-spacing: 4px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: fixed;
}

.menu_big
{
	border-style: none;
	border-color: #000000;
	background-color: #636363;
	background-color: rgba(0,0,0,0.61);
}

#u531-5
{
	letter-spacing: 3px;
}

#u531-2,#u531-4,#u531-7,#u531-9,#u531-11,#u531-13,#u531-15,#u531-17,#u531-19,#u531-21
{
	letter-spacing: 11px;
}

#u1439
{
	background-color: transparent;
	position: fixed;
}

#u1087
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: fixed;
	background-size: contain;
}

#u1087:hover
{
	background: transparent url("../images/fb_rollover-01.svg") no-repeat center center;
	background-size: contain;
}

.big_menu_facebook
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/fb-01-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u1087
{
	background-image: url('../images/fb-01-01_poster_u1346.png');
}

.nosvg #u1087:hover
{
	background-image: url('../images/fb_rollover-01_poster_u1352.png');
}

#u1365
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: fixed;
	background-size: contain;
}

#u1365:hover
{
	background: transparent url("../images/twiiter_rollover-01.svg") no-repeat center center;
	background-size: contain;
}

.big_menu_twitter
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/twiiter-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u1365
{
	background-image: url('../images/twiiter-01_poster_u1372.png');
}

.nosvg #u1365:hover
{
	background-image: url('../images/twiiter_rollover-01_poster_u1378.png');
}

#u1384
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: fixed;
	background-size: contain;
}

#u1384:hover
{
	background: transparent url("../images/insta_rollover.svg") no-repeat center center;
	background-size: contain;
}

.big_menu_insta
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/insta-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u1384
{
	background-image: url('../images/insta-01_poster_u1385.png');
}

.nosvg #u1384:hover
{
	background-image: url('../images/insta_rollover_poster_u1391.png');
}

#u853,#u787
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u532-4
{
	background-color: #7F7F7F;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u532
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

