#u531-3
{
	color: #FFFFFF;
	line-height: 28px;
	text-align: center;
	letter-spacing: 4px;
	font-size: 23px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: fixed;
}

.menu_big
{
	border-style: none;
	border-color: #000000;
	background-color: #636363;
	background-color: rgba(0,0,0,0.61);
}

#u1439
{
	background-color: transparent;
	position: fixed;
}

#u8793
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u5239
{
	position: fixed;
	background: transparent url("../images/menu_about-about.png") no-repeat left top;
	background-size: contain;
}

#u5239:hover
{
	background: transparent url("../images/menu_about-about2.png") no-repeat left top;
	background-size: contain;
}

.hidpi #u5239
{
	background-image: url("../images/menu_about-about_2x.png");
}

.hidpi #u5239:hover
{
	background-image: url("../images/menu_about-about_2x2.png");
}

#u5252
{
	position: fixed;
	background: transparent url("../images/menu_roster.png") no-repeat left top;
	background-size: contain;
}

#u5252:hover
{
	background: transparent url("../images/menu_roster-yellow.png") no-repeat left top;
	background-size: contain;
}

#u5252.MuseLinkActive
{
	background: transparent url("../images/menu_roster-white.png") no-repeat left top;
	background-size: contain;
}

.hidpi #u5252
{
	background-image: url("../images/menu_roster_2x.png");
}

.hidpi #u5252:hover
{
	background-image: url("../images/menu_roster-yellow_2x.png");
}

.hidpi #u5252.MuseLinkActive
{
	background-image: url("../images/menu_roster-white_2x.png");
}

#u5270
{
	position: fixed;
	background: transparent url("../images/menu_releases.png") no-repeat left top;
	background-size: contain;
}

#u5270:hover
{
	background: transparent url("../images/menu_releases-yellow.png") no-repeat left top;
	background-size: contain;
}

#u5270.MuseLinkActive
{
	background: transparent url("../images/menu_releases-white.png") no-repeat left top;
	background-size: contain;
}

.hidpi #u5270
{
	background-image: url("../images/menu_releases_2x.png");
}

.hidpi #u5270:hover
{
	background-image: url("../images/menu_releases-yellow_2x.png");
}

.hidpi #u5270.MuseLinkActive
{
	background-image: url("../images/menu_releases-white_2x.png");
}

#u5287
{
	position: fixed;
	background: transparent url("../images/menu_store.png") no-repeat left top;
	background-size: contain;
}

#u5287:hover
{
	background: transparent url("../images/menu_store-yellow.png") no-repeat left top;
	background-size: contain;
}

#u5287.MuseLinkActive
{
	background: transparent url("../images/menu_store-white.png") no-repeat left top;
	background-size: contain;
}

.hidpi #u5287
{
	background-image: url("../images/menu_store_2x.png");
}

.hidpi #u5287:hover
{
	background-image: url("../images/menu_store-yellow_2x.png");
}

.hidpi #u5287.MuseLinkActive
{
	background-image: url("../images/menu_store-white_2x.png");
}

#u8775
{
	position: relative;
	background: transparent url("../images/menu_bandcamp.png") no-repeat left top;
	background-size: contain;
}

#u8775:hover
{
	background: transparent url("../images/menu_bandcamp-yellow.png") no-repeat left top;
	background-size: contain;
}

#u8775.MuseLinkActive
{
	background: transparent url("../images/menu_bandcamp-white.png") no-repeat left top;
	background-size: contain;
}

.hidpi #u8775
{
	background-image: url("../images/menu_bandcamp_2x.png");
}

.hidpi #u8775:hover
{
	background-image: url("../images/menu_bandcamp-yellow_2x.png");
}

.hidpi #u8775.MuseLinkActive
{
	background-image: url("../images/menu_bandcamp-white_2x.png");
}

#u5305
{
	position: fixed;
	background: transparent url("../images/menu_tour.png") no-repeat left top;
	background-size: contain;
}

#u5305:hover
{
	background: transparent url("../images/menu_tour-yellow.png") no-repeat left top;
	background-size: contain;
}

#u5305.MuseLinkActive
{
	background: transparent url("../images/menu_tour-white.png") no-repeat left top;
	background-size: contain;
}

.hidpi #u5305
{
	background-image: url("../images/menu_tour_2x.png");
}

.hidpi #u5305:hover
{
	background-image: url("../images/menu_tour-yellow_2x.png");
}

.hidpi #u5305.MuseLinkActive
{
	background-image: url("../images/menu_tour-white_2x.png");
}

#u1944-4,#u1945-4,#u1946-4,#u8791-4,#u1947-4,#u6498-4
{
	background-color: transparent;
	line-height: 40px;
	color: #FFFFFF;
	font-size: 33px;
	position: fixed;
}

#u6481
{
	position: fixed;
	background: transparent url("../images/dist_tour.png") no-repeat left top;
	background-size: contain;
}

#u6481:hover
{
	background: transparent url("../images/dist_tour-yellow.png") no-repeat left top;
	background-size: contain;
}

#u6481.MuseLinkActive
{
	background: transparent url("../images/dist_tour-white.png") no-repeat left top;
	background-size: contain;
}

.hidpi #u6481
{
	background-image: url("../images/dist_tour_2x.png");
}

.hidpi #u6481:hover
{
	background-image: url("../images/dist_tour-yellow_2x.png");
}

.hidpi #u6481.MuseLinkActive
{
	background-image: url("../images/dist_tour-white_2x.png");
}

#u1087
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: fixed;
	background-size: contain;
}

#u1087:hover
{
	background: transparent url("../images/fb_rollover-01.svg") no-repeat center center;
	background-size: contain;
}

.big_menu_facebook
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/fb-01-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u1087
{
	background-image: url('../images/fb-01-01_poster_u1346.png');
}

.nosvg #u1087:hover
{
	background-image: url('../images/fb_rollover-01_poster_u1352.png');
}

#u1365
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: fixed;
	background-size: contain;
}

#u1365:hover
{
	background: transparent url("../images/twiiter_rollover-01.svg") no-repeat center center;
	background-size: contain;
}

.big_menu_twitter
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/twiiter-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u1365
{
	background-image: url('../images/twiiter-01_poster_u1372.png');
}

.nosvg #u1365:hover
{
	background-image: url('../images/twiiter_rollover-01_poster_u1378.png');
}

#u1384
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: fixed;
	background-size: contain;
}

#u1384:hover
{
	background: transparent url("../images/insta_rollover.svg") no-repeat center center;
	background-size: contain;
}

.big_menu_insta
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/insta-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u1384
{
	background-image: url('../images/insta-01_poster_u1385.png');
}

.nosvg #u1384:hover
{
	background-image: url('../images/insta_rollover_poster_u1391.png');
}

#u787
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u532-6
{
	background-color: #7F7F7F;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u532
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

