#u531-3
{
	text-align: center;
	font-size: 23px;
	letter-spacing: 4px;
	line-height: 28px;
	color: #FFFFFF;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: fixed;
}

.menu_big
{
	border-style: none;
	border-color: #000000;
	background-color: #636363;
	background-color: rgba(0,0,0,0.61);
}

#u1439
{
	background-color: transparent;
	position: fixed;
}

#u1949
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#buttonu1843
{
	border-color: #787878;
	position: relative;
	background: transparent url("../images/menu_about.svg") no-repeat center center;
	background-size: 120px 68px;
}

#buttonu1843:hover
{
	background: transparent url("../images/menu_about_roll.svg") no-repeat center center;
	background-size: 120px 68px;
}

#buttonu1843.ButtonSelected
{
	background: transparent url("../images/menu_about.svg") no-repeat center center;
	background-size: 120px 68px;
}

.nosvg #buttonu1843:hover
{
	background-image: url('../images/menu_about_roll_poster_u1850.png');
}

.nosvg #buttonu1843,.nosvg #buttonu1843.ButtonSelected
{
	background-image: url('../images/menu_about_poster_u2151.png');
}

#buttonu1856
{
	border-color: #787878;
	position: relative;
	background: transparent url("../images/menu_roster.svg") no-repeat center center;
	background-size: 120px 68px;
}

#buttonu1856:hover
{
	background: transparent url("../images/menu_roster_roll.svg") no-repeat center center;
	background-size: 120px 68px;
}

#buttonu1856.ButtonSelected
{
	background: transparent url("../images/menu_roster.svg") no-repeat center center;
	background-size: 120px 68px;
}

.nosvg #buttonu1856:hover
{
	background-image: url('../images/menu_roster_roll_poster_u1863.png');
}

.nosvg #buttonu1856,.nosvg #buttonu1856.ButtonSelected
{
	background-image: url('../images/menu_roster_poster_u1857.png');
}

#buttonu1869
{
	border-color: #787878;
	position: relative;
	background: transparent url("../images/menu_releases.svg") no-repeat center center;
	background-size: 120px 68px;
}

#buttonu1869:hover
{
	background: transparent url("../images/menu_releases_roll.svg") no-repeat center center;
	background-size: 120px 68px;
}

#buttonu1869.ButtonSelected
{
	background: transparent url("../images/menu_releases.svg") no-repeat center center;
	background-size: 120px 68px;
}

.nosvg #buttonu1869:hover
{
	background-image: url('../images/menu_releases_roll_poster_u1876.png');
}

.nosvg #buttonu1869,.nosvg #buttonu1869.ButtonSelected
{
	background-image: url('../images/menu_releases_poster_u1870.png');
}

#buttonu1882
{
	border-color: #787878;
	position: relative;
	background: transparent url("../images/menu_store.svg") no-repeat center center;
	background-size: 120px 68px;
}

#buttonu1882:hover
{
	background: transparent url("../images/menu_store_roll.svg") no-repeat center center;
	background-size: 120px 68px;
}

#buttonu1882.ButtonSelected
{
	background: transparent url("../images/menu_store.svg") no-repeat center center;
	background-size: 120px 68px;
}

.nosvg #buttonu1882:hover
{
	background-image: url('../images/menu_store_roll_poster_u1889.png');
}

.nosvg #buttonu1882,.nosvg #buttonu1882.ButtonSelected
{
	background-image: url('../images/menu_store_poster_u1883.png');
}

#buttonu1908
{
	border-color: #787878;
	position: relative;
	background: transparent url("../images/menu_tour.svg") no-repeat center center;
	background-size: 120px 68px;
}

#buttonu1908:hover
{
	background: transparent url("../images/menu_tour_roll.svg") no-repeat center center;
	background-size: 120px 68px;
}

#buttonu1908.ButtonSelected
{
	background: transparent url("../images/menu_tour.svg") no-repeat center center;
	background-size: 120px 68px;
}

.nosvg #buttonu1908:hover
{
	background-image: url('../images/menu_tour_roll_poster_u1915.png');
}

.nosvg #buttonu1908,.nosvg #buttonu1908.ButtonSelected
{
	background-image: url('../images/menu_tour_poster_u1909.png');
}

#u1944-4,#u1945-4,#u1946-4,#u1947-4
{
	background-color: transparent;
	line-height: 40px;
	font-size: 33px;
	color: #FFFFFF;
	position: relative;
}

#u1087
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: fixed;
	background-size: contain;
}

#u1087:hover
{
	background: transparent url("../images/fb_rollover-01.svg") no-repeat center center;
	background-size: contain;
}

.big_menu_facebook
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/fb-01-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u1087
{
	background-image: url('../images/fb-01-01_poster_u1346.png');
}

.nosvg #u1087:hover
{
	background-image: url('../images/fb_rollover-01_poster_u1352.png');
}

#u1365
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: fixed;
	background-size: contain;
}

#u1365:hover
{
	background: transparent url("../images/twiiter_rollover-01.svg") no-repeat center center;
	background-size: contain;
}

.big_menu_twitter
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/twiiter-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u1365
{
	background-image: url('../images/twiiter-01_poster_u1372.png');
}

.nosvg #u1365:hover
{
	background-image: url('../images/twiiter_rollover-01_poster_u1378.png');
}

#u1384
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: fixed;
	background-size: contain;
}

#u1384:hover
{
	background: transparent url("../images/insta_rollover.svg") no-repeat center center;
	background-size: contain;
}

.big_menu_insta
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/insta-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u1384
{
	background-image: url('../images/insta-01_poster_u1385.png');
}

.nosvg #u1384:hover
{
	background-image: url('../images/insta_rollover_poster_u1391.png');
}

#u1943,#u787
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u532-6
{
	background-color: #7F7F7F;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u532
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

