.version.new_god /* version checker */
{
	color: #0000FA;
	background-color: #7E7A00;
}

#page
{
	z-index: 1;
	width: 1116px;
	min-height: 1842px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -1px;
	width: 0.01px;/* should not cover content below */
}

#pu531-3
{
	width: 0.01px;
	padding-bottom: 69px;
	margin-left: -100px;
}

#u531-3
{
	z-index: 148;
	min-height: 44px;
	position: fixed;
	top: -1px;
	padding: 20px 4px 4px;
}

#u531-3-bw
{
	z-index: 148;
}

#u1087
{
	z-index: 151;
	width: 38px;
	height: 42px;
	position: fixed;
	top: 13px;
	right: 108px;
}

#u1365
{
	z-index: 152;
	width: 38px;
	height: 42px;
	position: fixed;
	top: 13px;
	right: 60px;
}

#u1384
{
	z-index: 153;
	width: 38px;
	height: 42px;
	position: fixed;
	top: 13px;
	right: 12px;
}

#u1087:hover,#u1365:hover,#u1384:hover
{
	width: 38px;
	height: 42px;
	min-height: 0px;
	margin: 0px;
}

#u1439
{
	z-index: 154;
	width: 158px;
	position: fixed;
	top: 0px;
	left: 7px;
}

#u8793
{
	z-index: 156;
	width: 639px;
	padding-bottom: 69px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: -319px;
}

#u5239
{
	z-index: 173;
	width: 71px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -319px;
}

#u5239:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -319px;
}

#u1944-4
{
	z-index: 157;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -244px;
}

#u5252
{
	z-index: 174;
	width: 71px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -231px;
}

#u5252:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -231px;
}

#u5252.MuseLinkActive
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -231px;
}

#u1945-4
{
	z-index: 161;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -155px;
}

#u5270
{
	z-index: 175;
	width: 103px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -142px;
}

#u5270:hover
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -142px;
}

#u5270.MuseLinkActive
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -142px;
}

#u1946-4
{
	z-index: 165;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -37px;
}

#u5287
{
	z-index: 176;
	width: 64px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -26px;
}

#u5287:hover
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -26px;
}

#u5287.MuseLinkActive
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -26px;
}

#pu1947-4
{
	width: 0.01px;
	padding-bottom: 69px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: 42px;
}

#u1947-4
{
	z-index: 169;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 183px;
}

#u8775
{
	z-index: 183;
	width: 150px;
	padding-bottom: 68px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: 42px;
}

#u8775:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px 0px 42px;
}

#u8775.MuseLinkActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px 0px 42px;
}

#u8791-4
{
	z-index: 184;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: 40px;
}

#u5305
{
	z-index: 177;
	width: 55px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 196px;
}

#u5305:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 196px;
}

#u5305.MuseLinkActive
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 196px;
}

#u6498-4
{
	z-index: 179;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 254px;
}

#u6481
{
	z-index: 178;
	width: 55px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 264px;
}

#u6481:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 264px;
}

#u6481.MuseLinkActive
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 264px;
}

#u11938
{
	z-index: 136;
	width: 60px;
	background-color: transparent;
	margin-left: 90px;
	margin-top: 16px;
	position: relative;
}

#u4054
{
	z-index: 137;
	display: block;
}

#u11515
{
	z-index: 9;
	width: 355px;
	background-color: transparent;
	margin-left: 90px;
	margin-top: 22px;
	position: relative;
}

#u2412
{
	z-index: 10;
	display: block;
}

#pu2411
{
	width: 0.01px;
	margin-left: 90px;
	margin-top: 32px;
}

#u2411
{
	z-index: 6;
	width: 386px;
	border-style: solid;
	border-width: 5px;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 15px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u2405
{
	z-index: 7;
	width: 354px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 15px;
}

#pamphletu2629
{
	z-index: 11;
	width: 0.01px;
	height: 245px;
	padding-bottom: 26px;
	position: relative;
	margin-right: -10000px;
	left: 418px;
}

#u2637
{
	position: absolute;
	width: 518px;
	background-color: transparent;
}

#u2637popup
{
	z-index: 12;
}

#u2641
{
	z-index: 13;
	width: 518px;
	height: 271px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2643-10
{
	z-index: 14;
	width: 485px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u2643,#u2643-2,#u2643-3,#u2643-5
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u2643-6
{
	font-size: 16px;
	line-height: 22px;
	color: #29ABE2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u2643-8
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u2662
{
	z-index: 24;
	width: 518px;
	height: 271px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2666-10
{
	z-index: 25;
	width: 486px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2668
{
	z-index: 35;
	width: 518px;
	height: 271px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2670-10
{
	z-index: 36;
	width: 486px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2672
{
	z-index: 46;
	width: 518px;
	height: 271px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2675-10
{
	z-index: 47;
	width: 486px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2677
{
	z-index: 57;
	width: 518px;
	height: 271px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2679-10
{
	z-index: 58;
	width: 486px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2681
{
	z-index: 68;
	width: 518px;
	height: 271px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2684-12
{
	z-index: 69;
	width: 486px;
	min-height: 190px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2666,#u2666-2,#u2666-3,#u2666-5,#u2666-6,#u2670,#u2670-2,#u2670-3,#u2670-5,#u2675,#u2675-2,#u2675-3,#u2675-5,#u2679,#u2679-2,#u2679-3,#u2679-5,#u2684,#u2684-2,#u2684-3,#u2684-7
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
}

#u2666-8,#u2670-6,#u2670-8,#u2675-6,#u2675-8,#u2679-6,#u2679-8,#u2684-8,#u2684-10
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
}

#u2666-7,#u2670-7,#u2675-7,#u2679-7,#u2684-9
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u2632
{
	z-index: 81;
	width: 99px;
	position: relative;
	margin-right: -10000px;
	margin-top: 236px;
	left: 210px;
}

#u2633
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
}

#u2633:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2633.PamphletThumbSelected
{
	background-color: #29ABE2;
	border-radius: 99px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2661
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 18px;
}

#u2661:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2667
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 36px;
}

#u2667:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2671
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 54px;
}

#u2671:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2676
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 72px;
}

#u2676:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2680
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 90px;
}

#u2680:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2661.PamphletThumbSelected,#u2667.PamphletThumbSelected,#u2671.PamphletThumbSelected,#u2676.PamphletThumbSelected,#u2680.PamphletThumbSelected
{
	background-color: #29ABE2;
	border-radius: 50px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u2740-4
{
	z-index: 110;
	width: 133px;
	min-height: 19px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 219px;
	margin-top: 12px;
	position: relative;
}

#pu11524
{
	width: 0.01px;
	margin-left: 205px;
	margin-top: 3px;
}

#u11524
{
	z-index: 114;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2741
{
	z-index: 115;
	display: block;
}

#u11626
{
	z-index: 116;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#u2746
{
	z-index: 117;
	display: block;
}

#u11689
{
	z-index: 118;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u2751
{
	z-index: 119;
	display: block;
}

#u11743
{
	z-index: 120;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 105px;
}

#u2756
{
	z-index: 121;
	display: block;
}

#u11848
{
	z-index: 138;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 141px;
}

#u5592
{
	z-index: 139;
	display: block;
}

#u2689-20
{
	z-index: 88;
	width: 936px;
	min-height: 235px;
	background-color: transparent;
	text-align: justify;
	font-size: 15px;
	line-height: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 90px;
	margin-top: 4px;
	position: relative;
}

#u2684-5,#u2689-2,#u2689-7,#u2689-12,#u2689-14,#u2689-16
{
	font-style: italic;
}

#pu2690
{
	width: 0.01px;
	margin-left: 90px;
	margin-top: 28px;
}

#u2690
{
	z-index: 108;
	width: 277px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u6363
{
	z-index: 140;
	width: 277px;
	height: 277px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 328px;
	background: transparent url("../images/tmsco%20gramaphone%20copy.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u6363
{
	background-image: url("../images/tmsco%20gramaphone%20copy_2x.jpg");
}

#u6375
{
	z-index: 141;
	width: 277px;
	height: 277px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 658px;
	background: transparent url("../images/newgodsingleart-u6375-fr.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u6375
{
	background-image: url("../images/newgodsingleart-u6375-fr_2x.png");
}

#pamphletu3588
{
	z-index: 123;
	width: 0.01px;
	height: 536px;
	margin-left: 118px;
	margin-top: 86px;
	position: relative;
}

#u3601
{
	z-index: 124;
	width: 880px;
	position: relative;
	margin-right: -10000px;
}

#u3603
{
	position: absolute;
	width: 404px;
	height: 254px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u3602
{
	position: absolute;
	width: 404px;
	height: 253px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: 283px;
}

#u3604
{
	position: absolute;
	width: 405px;
	height: 253px;
	top: 283px;
	left: 475px;
}

.ie #u3603,.ie #u3602,.ie #u3604
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3595
{
	position: absolute;
	width: 878px;
	border-width: 0px;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: 58px;
	left: 1157px;
	-pie-background: rgba(0,0,0,0.9);
}

#u3595popup
{
	z-index: 128;
}

#u3596
{
	z-index: 129;
	width: 834px;
	height: 484px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3597
{
	z-index: 130;
	width: 775px;
	min-height: 484px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 29px;
}

#u3605
{
	z-index: 131;
	width: 769px;
	min-height: 480px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 35px;
}

#u3599
{
	z-index: 132;
	width: 834px;
	height: 484px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3607
{
	z-index: 133;
	width: 775px;
	min-height: 484px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 29px;
}

#u3600
{
	z-index: 134;
	width: 834px;
	height: 484px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3609
{
	z-index: 135;
	width: 777px;
	min-height: 484px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 28px;
}

#pu2701
{
	width: 0.01px;
	margin-left: 118px;
	margin-top: -536px;
}

#u2701
{
	z-index: 5;
	width: 404px;
	min-height: 252px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u2763
{
	z-index: 122;
	width: 405px;
	min-height: 252px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 475px;
}

#pu2699
{
	width: 0.01px;
	margin-left: 118px;
	margin-top: -253px;
}

#u2699
{
	z-index: 4;
	width: 405px;
	min-height: 253px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2697
{
	z-index: 3;
	width: 405px;
	min-height: 252px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 475px;
}

#u787
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	left: -100px;
	top: -65px;
	margin-bottom: -50px;
	position: relative;
}

#u532-6
{
	z-index: 142;
	min-height: 39px;
	padding-left: 20px;
	padding-top: 25px;
	padding-right: 20px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u532-6-bw
{
	z-index: 142;
	min-height: 39px;
	margin-top: 49px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1116px;
}

