.version.nicole_dollanganger /* version checker */
{
	color: #0000FD;
	background-color: #2D080E;
}

#page
{
	z-index: 1;
	width: 1116px;
	min-height: 737px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -1px;
	width: 0.01px;/* should not cover content below */
}

#pu531-3
{
	width: 0.01px;
	padding-bottom: 69px;
	margin-left: -100px;
}

#u531-3
{
	z-index: 28;
	min-height: 44px;
	position: fixed;
	top: -1px;
	padding: 20px 4px 4px;
}

#u531-3-bw
{
	z-index: 28;
}

#u1087
{
	z-index: 31;
	width: 38px;
	height: 42px;
	position: fixed;
	top: 13px;
	right: 108px;
}

#u1365
{
	z-index: 32;
	width: 38px;
	height: 42px;
	position: fixed;
	top: 13px;
	right: 60px;
}

#u1384
{
	z-index: 33;
	width: 38px;
	height: 42px;
	position: fixed;
	top: 13px;
	right: 12px;
}

#u1087:hover,#u1365:hover,#u1384:hover
{
	width: 38px;
	height: 42px;
	min-height: 0px;
	margin: 0px;
}

#u1439
{
	z-index: 34;
	width: 158px;
	position: fixed;
	top: 0px;
	left: 7px;
}

#u8793
{
	z-index: 36;
	width: 639px;
	padding-bottom: 69px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: -319px;
}

#u5239
{
	z-index: 53;
	width: 71px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -319px;
}

#u5239:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -319px;
}

#u1944-4
{
	z-index: 37;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -244px;
}

#u5252
{
	z-index: 54;
	width: 71px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -231px;
}

#u5252:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -231px;
}

#u5252.MuseLinkActive
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -231px;
}

#u1945-4
{
	z-index: 41;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -155px;
}

#u5270
{
	z-index: 55;
	width: 103px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -142px;
}

#u5270:hover
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -142px;
}

#u5270.MuseLinkActive
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -142px;
}

#u1946-4
{
	z-index: 45;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -37px;
}

#u5287
{
	z-index: 56;
	width: 64px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -26px;
}

#u5287:hover
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -26px;
}

#u5287.MuseLinkActive
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -26px;
}

#pu1947-4
{
	width: 0.01px;
	padding-bottom: 69px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: 42px;
}

#u1947-4
{
	z-index: 49;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 183px;
}

#u8775
{
	z-index: 63;
	width: 150px;
	padding-bottom: 68px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: 42px;
}

#u8775:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px 0px 42px;
}

#u8775.MuseLinkActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px 0px 0px 42px;
}

#u8791-4
{
	z-index: 64;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: -1px;
	left: 50%;
	margin-left: 40px;
}

#u5305
{
	z-index: 57;
	width: 55px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 196px;
}

#u5305:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 196px;
}

#u5305.MuseLinkActive
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 196px;
}

#u6498-4
{
	z-index: 59;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 254px;
}

#u6481
{
	z-index: 58;
	width: 55px;
	height: 68px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 264px;
}

#u6481:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 264px;
}

#u6481.MuseLinkActive
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 264px;
}

#u11947
{
	z-index: 7;
	width: 60px;
	background-color: transparent;
	margin-left: 58px;
	margin-top: 16px;
	position: relative;
}

#u4065
{
	z-index: 8;
	display: block;
}

#u4073-4
{
	z-index: 12;
	width: 391px;
	min-height: 57px;
	background-color: transparent;
	color: #484848;
	line-height: 40px;
	font-size: 33px;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	margin-left: 58px;
	margin-top: 28px;
	position: relative;
}

#u4072
{
	z-index: 9;
	width: 386px;
	border-style: solid;
	border-width: 5px;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 16px;
	margin-left: 56px;
	margin-top: 8px;
	position: relative;
}

#u4069
{
	z-index: 10;
	width: 354px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 15px;
}

#pu11536
{
	width: 0.01px;
	margin-left: 173px;
	margin-top: 13px;
}

#u11536
{
	z-index: 16;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4076
{
	z-index: 17;
	display: block;
}

#u11992
{
	z-index: 20;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 70px;
}

#u4082
{
	z-index: 21;
	display: block;
}

#u11827
{
	z-index: 18;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u4078
{
	z-index: 19;
	display: block;
}

#u3525-4
{
	z-index: 3;
	width: 948px;
	min-height: 89px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-left: 96px;
	margin-top: 42px;
	position: relative;
}

#u787
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	left: -100px;
	top: -91px;
	margin-bottom: -50px;
	position: relative;
}

#u532-6
{
	z-index: 22;
	min-height: 39px;
	padding-left: 20px;
	padding-top: 25px;
	padding-right: 20px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u532-6-bw
{
	z-index: 22;
	min-height: 39px;
	margin-top: 23px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1116px;
}

