	#u34058,#menuu12635
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u12639
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.2s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u12642-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 29px;
		text-align: center;
		color: #484848;
		font-size: 24px;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	#u12639:hover #u12642-4 p
	{
		color: #EAC516;
		visibility: inherit;
		text-decoration: none;
	}

	#u13143
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.2s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u13144-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #484848;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u13143:hover #u13144-4 p
	{
		color: #EAC516;
		visibility: inherit;
		text-decoration: none;
	}

	#u13166
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.2s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u13168-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #484848;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u13166:hover #u13168-4 p
	{
		color: #EAC516;
		visibility: inherit;
		text-decoration: none;
	}

	#u13185
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.2s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u13186-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #484848;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u13185:hover #u13186-4 p
	{
		color: #EAC516;
		visibility: inherit;
		text-decoration: none;
	}

	#u13206
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.2s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u13209-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #484848;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u13206:hover #u13209-4 p
	{
		color: #EAC516;
		visibility: inherit;
		text-decoration: none;
	}

	#u13227
	{
		-webkit-transition-duration: 0.2s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease-in-out;
		transition-duration: 0.2s;
		transition-delay: 0s;
		transition-timing-function: ease-in-out;
		background-image: url("../images/blank.gif");
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u13228-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		color: #484848;
		line-height: 29px;
		text-align: center;
		font-size: 24px;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u13227:hover #u13228-4 p
	{
		color: #EAC516;
		visibility: inherit;
		text-decoration: none;
	}

	#u12639.MuseMenuActive #u12642-4 p,#u13143.MuseMenuActive #u13144-4 p,#u13166.MuseMenuActive #u13168-4 p,#u13185.MuseMenuActive #u13186-4 p,#u13206.MuseMenuActive #u13209-4 p,#u13227.MuseMenuActive #u13228-4 p
	{
		color: #484848;
		visibility: inherit;
		text-decoration: underline;
	}

	#u12779-4,#u12785-4,#u12788-4,#u12791-4,#u12794-4,#u12797-4
	{
		background-color: transparent;
		line-height: 30px;
		font-size: 25px;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
	}

	#u12803-4
	{
		background-color: transparent;
		line-height: 29px;
		text-align: center;
		color: #484848;
		font-size: 24px;
		font-family: bebas-neue, sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	#u12803-4:hover p
	{
		color: #EAC516;
		visibility: inherit;
		text-decoration: none;
	}

	#u12636,#u13142,#u13163,#u13184,#u13205,#u13226,#u35310-4
	{
		background-color: transparent;
	}

	#u35310-3
	{
		line-height: 24px;
		text-align: center;
		font-size: 20px;
		font-family: source-sans-pro, sans-serif;
		font-weight: 300;
	}

	#u30842-20
	{
		background-color: transparent;
		line-height: 48px;
		color: #7F7F7F;
		text-align: center;
		font-size: 48px;
		font-family: '__websocialmenus_5';
		font-weight: 400;
	}

	#u30842-18
	{
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u30842,#u30842-3,#u30842-4,#u30842-6,#u30842-7,#u30842-9
	{
		line-height: 48px;
	}

	#u30842-10,#u30842-12
	{
		font-family: '__web-icons_5';
		font-weight: 400;
		line-height: 48px;
	}

	#u30842-15
	{
		font-size: 58px;
		color: #7F7F7F;
		font-family: '__MonoSocialIconsFont_5';
		font-weight: 400;
		line-height: 58px;
	}

	#u30842-13,#u30842-16
	{
		font-size: 58px;
		font-family: '__MonoSocialIconsFont_5';
		font-weight: 400;
		line-height: 58px;
	}

