/*

*/

.version.releases /* version checker */
{
	color: #000016;
	background-color: #0F3D1C;
}

#page
{
	z-index: 1;
	width: 1116px;
	min-height: 1972px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	width: 0.01px;/* should not cover content below */
}

#u12625
{
	z-index: 716;
	width: 162px;
	position: relative;
	margin-right: -10000px;
}

#pu12797-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 23px;
	margin-left: 885px;
}

#u12797-4
{
	z-index: 775;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u12803-4
{
	z-index: 780;
	width: 107px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u12803-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#menuu12635
{
	z-index: 718;
	width: 648px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 224px;
}

#u12636
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u12639
{
	width: 106px;
	padding-bottom: 5px;
	position: relative;
}

#u12639:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u12642-4
{
	width: 106px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u12639:hover #u12642-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13142
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u13143
{
	width: 106px;
	padding-bottom: 5px;
	position: relative;
}

#u12639.MuseMenuActive,#u13143:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u13144-4
{
	width: 106px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u12639.MuseMenuActive #u12642-4,#u13143:hover #u13144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13163
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u13166
{
	width: 106px;
	padding-bottom: 5px;
	position: relative;
}

#u13143.MuseMenuActive,#u13166:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u13168-4
{
	width: 106px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u13143.MuseMenuActive #u13144-4,#u13166:hover #u13168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13184
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 324px;
}

#u13185
{
	width: 106px;
	padding-bottom: 5px;
	position: relative;
}

#u13166.MuseMenuActive,#u13185:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u13185.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u13186-4
{
	width: 106px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u13166.MuseMenuActive #u13168-4,#u13185:hover #u13186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13185.MuseMenuActive #u13186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13205
{
	width: 107px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 432px;
}

#u13206
{
	width: 107px;
	padding-bottom: 5px;
	position: relative;
}

#u13206:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u13209-4
{
	width: 107px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u13206:hover #u13209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u13226
{
	width: 107px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 541px;
}

#u13227
{
	width: 107px;
	padding-bottom: 5px;
	position: relative;
}

#u13206.MuseMenuActive,#u13227:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u13227.MuseMenuActive
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u13228-4
{
	width: 107px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u13206.MuseMenuActive #u13209-4,#u13227:hover #u13228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u13227.MuseMenuActive #u13228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u12779-4
{
	z-index: 755;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 327px;
}

#u12785-4
{
	z-index: 759;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 435px;
}

#u12788-4
{
	z-index: 763;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 538px;
}

#u12791-4
{
	z-index: 767;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 660px;
}

#u12794-4
{
	z-index: 771;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 748px;
}

#u11791
{
	z-index: 70;
	width: 264px;
	background-color: transparent;
	margin-left: 83px;
	margin-top: 42px;
	position: relative;
}

#u2902
{
	z-index: 71;
	display: block;
}

#buttonu12800
{
	z-index: 779;
	width: 74px;
	height: 50px;
	margin-left: 891px;
	margin-top: 1px;
	position: relative;
}

.ie #buttonu12800
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2907
{
	z-index: 3;
	width: 950px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 2px;
	margin-left: 83px;
	margin-top: 10px;
	position: relative;
	border-width: 0px 0px 2px;
}

#u11782
{
	z-index: 68;
	width: 187px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 25px;
}

#u2897
{
	z-index: 69;
	display: block;
}

#ppu7608
{
	width: 0.01px;
	margin-left: 79px;
	margin-top: 59px;
}

#u7608
{
	z-index: 656;
	width: 236px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	background-color: transparent;
	position: relative;
}

#u7625-6
{
	z-index: 658;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 22px;
	position: relative;
}

#u7629-46
{
	z-index: 664;
	width: 671px;
	min-height: 238px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 283px;
}

#u7629-4
{
	font-size: 36px;
	font-style: normal;
	line-height: 43px;
}

#ppu7596
{
	width: 0.01px;
	margin-left: 77px;
	margin-top: 53px;
}

#u7596
{
	z-index: 494;
	width: 238px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	background-color: transparent;
	margin-left: 2px;
	position: relative;
}

#u7623-6
{
	z-index: 500;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 17px;
	position: relative;
}

#u7627-23
{
	z-index: 518;
	width: 671px;
	min-height: 238px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#u11797
{
	z-index: 73;
	width: 143px;
	background-color: transparent;
	margin-left: 79px;
	margin-top: 50px;
	position: relative;
}

#u2910
{
	z-index: 74;
	display: block;
}

#u2908
{
	z-index: 72;
	width: 950px;
	height: 2px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-left: 70px;
	margin-top: 2px;
	position: relative;
	border-width: 0px 0px 2px;
}

#ppu7602
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 94px;
}

#u7602
{
	z-index: 496;
	width: 237px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	background-color: transparent;
	position: relative;
}

#u7624-6
{
	z-index: 506;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-left: 5px;
	margin-top: 18px;
	position: relative;
}

#u7628-45
{
	z-index: 541;
	width: 671px;
	min-height: 238px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 283px;
}

#puberty
{
	left: -100px;
	margin-top: 13px;
	position: relative;
}

#u8453
{
	z-index: 620;
	width: 236px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.34);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8460-26
{
	z-index: 628;
	width: 671px;
	min-height: 238px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 283px;
}

#u8459-6
{
	z-index: 622;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-left: 78px;
	margin-top: 12px;
	position: relative;
}

#pu8453,#ppu7617
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 52px;
}

#pu7608,#pu7617
{
	width: 0.01px;
	margin-right: -10000px;
}

#u7617
{
	z-index: 498;
	width: 236px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.34);
	background-color: transparent;
	position: relative;
}

#u7626-6
{
	z-index: 512;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 21px;
	position: relative;
}

#u7630-34
{
	z-index: 586;
	width: 671px;
	min-height: 238px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 283px;
}

#u8460-18,#u7630-26
{
	text-align: left;
	padding-right: 10px;
	font-weight: 300;
}

#ppu6322
{
	width: 0.01px;
	margin-left: 83px;
	margin-top: 52px;
}

#u6322
{
	z-index: 382;
	width: 237px;
	height: 237px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	position: relative;
	background: transparent url("../images/2mountainz-u6322-fr.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u6322
{
	background-image: url("../images/2mountainz-u6322-fr_2x.jpg");
}

#u6325-6
{
	z-index: 433;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-left: 1px;
	margin-top: 18px;
	position: relative;
}

#u6324-50
{
	z-index: 383;
	width: 671px;
	min-height: 453px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#strangestthings
{
	left: -100px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#ppu2919
{
	width: 0.01px;
	margin-left: 82px;
	margin-top: 53px;
}

#u2919
{
	z-index: 81;
	width: 237px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	background-color: transparent;
	position: relative;
}

#u2925-6
{
	z-index: 200;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-left: 1px;
	margin-top: 18px;
	position: relative;
}

#u2924-43
{
	z-index: 157;
	width: 671px;
	min-height: 280px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#sugardreamz
{
	left: -100px;
	margin-top: 42px;
	position: relative;
}

#u6335
{
	z-index: 440;
	width: 237px;
	height: 237px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	position: relative;
	background: transparent url("../images/newgodsingleart-u6335-fr.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u6335
{
	background-image: url("../images/newgodsingleart-u6335-fr_2x.png");
}

#u6338-6
{
	z-index: 487;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-left: 1px;
	margin-top: 24px;
	position: relative;
}

#u6337-46
{
	z-index: 441;
	width: 671px;
	min-height: 280px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#u6337-4
{
	font-size: 36px;
	font-style: italic;
	line-height: 43px;
}

#u6337-9
{
	text-decoration: none;
	font-style: normal;
}

#comefindmeep
{
	left: -100px;
	margin-top: 24px;
	position: relative;
}

#ppu6335,#ppu5787
{
	width: 0.01px;
	margin-left: 82px;
	margin-top: 59px;
}

#u5787
{
	z-index: 332;
	width: 237px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.32);
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u5793-6
{
	z-index: 375;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-left: 1px;
	margin-top: 24px;
	position: relative;
}

#u5790-41
{
	z-index: 334;
	width: 671px;
	min-height: 280px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#dimensions
{
	left: -100px;
	margin-top: 38px;
	position: relative;
}

#pppu5350
{
	width: 0.01px;
	margin-left: 83px;
	margin-top: 68px;
}

#pu7596,#pu7602,#ppu5350
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#pu12625,#pu5350
{
	width: 0.01px;
}

#u5350
{
	z-index: 279;
	width: 237px;
	height: 237px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5351
{
	z-index: 280;
	width: 237px;
	height: 237px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/dustin_dimensions_art-u5351-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u5351
{
	background-image: url("../images/dustin_dimensions_art-u5351-fr_2x.jpg");
}

#u5353-6
{
	z-index: 325;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-top: 18px;
	position: relative;
}

#u5353-3
{
	font-weight: 300;
	font-style: normal;
}

#u5352-44
{
	z-index: 281;
	width: 671px;
	min-height: 580px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#magicsound
{
	left: -100px;
	margin-top: 49px;
	position: relative;
}

#ppu5331
{
	width: 0.01px;
	margin-left: 83px;
	margin-top: 47px;
}

#pu6322,#pu2919,#pu6335,#pu5787,#pu5331
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: -1px;
}

#u5331
{
	z-index: 209;
	width: 237px;
	height: 237px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	position: relative;
	background: transparent url("../images/tmsco%20gramaphone%20copy.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u5331
{
	background-image: url("../images/tmsco%20gramaphone%20copy_2x.jpg");
}

#u5333-6
{
	z-index: 272;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-left: 1px;
	margin-top: 20px;
	position: relative;
}

#u5332-62
{
	z-index: 210;
	width: 671px;
	min-height: 491px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#u6337-10,#u5790-2,#u5332-13
{
	font-style: normal;
}

#u5332-29,#u5332-38
{
	font-weight: 400;
}

#twiabp,#twomountains,#greatpine
{
	left: -100px;
	position: relative;
}

#pfirework
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 68px;
}

#firework
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 479px;
}

#pu2888
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: 182px;
}

#u2888
{
	z-index: 4;
	width: 237px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	background-color: transparent;
	position: relative;
}

#u2915-6
{
	z-index: 75;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-left: 1px;
	margin-top: 19px;
	position: relative;
}

#u2886-60
{
	z-index: 6;
	width: 671px;
	min-height: 508px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 462px;
}

#ppu2883
{
	width: 0.01px;
	margin-left: 83px;
	margin-top: 57px;
}

#pu2883
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: -1px;
}

#u2883
{
	z-index: 66;
	width: 237px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	background-color: transparent;
	position: relative;
}

#u2923-8
{
	z-index: 149;
	width: 237px;
	min-height: 61px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-left: 1px;
	margin-top: 19px;
	position: relative;
}

#u7625-2,#u7623-2,#u7624-2,#u8459-2,#u7626-2,#u6325-2,#u2925-2,#u6338-2,#u5793-2,#u5333-2,#u2915-2,#u2923-2
{
	font-weight: 400;
	font-style: italic;
}

#u7625-4,#u7623-4,#u7624-4,#u8459-4,#u7626-4,#u6325-4,#u2925-4,#u6338-4,#u5793-4,#u5333-4,#u2915-4,#u2923-4,#u2923-6
{
	font-weight: 300;
}

#u2922-66
{
	z-index: 83;
	width: 671px;
	min-height: 327px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#u7629-2,#u7627-2,#u7628-2,#u8460-2,#u7630-2,#u6324-2,#u2924-2,#u6337-2,#u5790-3,#u5352-2,#u5332-2,#u2886-2,#u2922-2
{
	font-size: 36px;
	text-align: left;
	line-height: 43px;
	font-weight: 400;
	font-style: italic;
}

#u7629-5,#u7627-5,#u7628-5,#u8460-5,#u7630-5,#u6324-5,#u2924-5,#u6337-5,#u5790-6,#u5352-5,#u5332-5,#u2886-5,#u2922-5
{
	font-size: 18px;
	text-align: left;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7629-3,#u7627-3,#u7628-3,#u8460-3,#u7630-3,#u6324-3,#u2924-3,#u6337-3,#u5790-4,#u5352-3,#u5332-3,#u2886-3,#u2922-3
{
	font-style: italic;
	line-height: 22px;
}

#u7627-4,#u7628-4,#u8460-4,#u7630-4,#u6324-4,#u2924-4,#u5790-5,#u5352-4,#u5332-4,#u2886-4,#u2922-4
{
	font-size: 36px;
	line-height: 43px;
}

#u7629-6,#u7629-8,#u7629-9,#u7629-15,#u7629-16,#u7627-6,#u7627-8,#u7627-9,#u7627-11,#u7627-12,#u7627-14,#u7627-15,#u7628-6,#u7628-8,#u7628-9,#u7628-11,#u7628-12,#u7628-14,#u7628-15,#u8460-6,#u7630-6,#u7630-10,#u7630-11,#u7630-13,#u7630-14,#u6324-6,#u6324-13,#u6324-14,#u2924-6,#u2924-8,#u2924-9,#u2924-11,#u2924-12,#u6337-6,#u6337-11,#u5790-7,#u5790-13,#u5790-14,#u5790-18,#u5352-6,#u5352-10,#u5352-11,#u5352-13,#u5352-14,#u5352-20,#u5352-21,#u5352-22,#u5332-6,#u5332-17,#u5332-18,#u5332-22,#u5332-23,#u2886-6,#u2886-10,#u2886-11,#u2886-21,#u2886-22,#u2922-6,#u2922-10,#u2922-11,#u2922-15,#u2922-16,#u2922-22
{
	font-size: 15px;
	text-align: justify;
	line-height: 18px;
	font-weight: 300;
}

#u7629-17,#u7627-16,#u7628-16,#u8460-7,#u7630-15,#u6324-15,#u2924-13,#u6337-14,#u5790-21,#u5352-23,#u5332-24,#u2886-23,#u2922-24
{
	text-decoration: underline;
	font-style: italic;
}

#u7629-26,#u7628-28,#u6324-27,#u2924-21,#u6337-22,#u5352-29,#u5332-36,#u2886-31,#u2922-36
{
	text-align: left;
	font-weight: 300;
	font-style: italic;
}

#u7629-25,#u7628-27,#u8460-14,#u7630-22,#u6324-26,#u2924-20,#u6337-21,#u5352-28,#u5332-35,#u2886-30,#u2922-35
{
	text-decoration: underline;
}

#u7629-18,#u7629-20,#u7629-22,#u7629-23,#u7629-24,#u7629-28,#u7629-30,#u7629-31,#u7629-32,#u7629-43,#u7629-44,#u7627-17,#u7627-19,#u7627-21,#u7628-17,#u7628-19,#u7628-21,#u7628-23,#u7628-25,#u7628-26,#u7628-30,#u7628-31,#u7628-32,#u7628-43,#u8460-8,#u8460-10,#u8460-12,#u8460-13,#u8460-15,#u8460-17,#u8460-24,#u7630-16,#u7630-18,#u7630-20,#u7630-21,#u7630-23,#u7630-25,#u7630-32,#u6324-16,#u6324-18,#u6324-20,#u6324-22,#u6324-24,#u6324-25,#u6324-29,#u6324-31,#u6324-32,#u6324-33,#u6324-47,#u2924-14,#u2924-16,#u2924-18,#u2924-19,#u2924-23,#u2924-24,#u2924-25,#u2924-41,#u6337-12,#u6337-13,#u6337-15,#u6337-17,#u6337-19,#u6337-20,#u6337-24,#u6337-25,#u6337-44,#u5790-19,#u5790-20,#u5790-22,#u5790-24,#u5790-25,#u5790-39,#u5352-24,#u5352-26,#u5352-27,#u5352-31,#u5352-32,#u5352-42,#u5332-25,#u5332-30,#u5332-33,#u5332-34,#u5332-39,#u5332-40,#u5332-41,#u5332-60,#u2886-24,#u2886-26,#u2886-28,#u2886-29,#u2886-33,#u2886-35,#u2886-36,#u2886-37,#u2886-57,#u2922-23,#u2922-25,#u2922-27,#u2922-29,#u2922-31,#u2922-33,#u2922-34,#u2922-38,#u2922-40,#u2922-42,#u2922-43,#u2922-44,#u2922-63
{
	text-align: left;
	font-weight: 300;
}

#u7629-33,#u7628-33,#u8460-19,#u7630-27,#u6324-34,#u2924-26,#u6337-26,#u5790-26,#u5352-33,#u5332-42,#u2886-38,#u2922-45
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u7629-11,#u7629-13,#u7629-35,#u7629-37,#u7629-38,#u7629-39,#u7629-40,#u7629-41,#u7629-42,#u7628-35,#u7628-37,#u7628-38,#u7628-39,#u7628-40,#u7628-41,#u7628-42,#u8460-22,#u7630-8,#u7630-30,#u6324-7,#u6324-9,#u6324-11,#u6324-36,#u6324-38,#u6324-39,#u6324-41,#u6324-42,#u6324-44,#u6324-45,#u2924-28,#u2924-31,#u2924-33,#u2924-35,#u2924-37,#u2924-39,#u6337-8,#u6337-29,#u6337-32,#u6337-34,#u6337-37,#u6337-39,#u6337-42,#u5790-9,#u5790-11,#u5790-16,#u5790-28,#u5790-30,#u5790-31,#u5790-33,#u5790-34,#u5790-36,#u5790-37,#u5352-8,#u5352-16,#u5352-18,#u5352-35,#u5352-39,#u5332-8,#u5332-10,#u5332-12,#u5332-15,#u5332-45,#u5332-48,#u5332-50,#u5332-53,#u5332-55,#u5332-58,#u2886-8,#u2886-13,#u2886-15,#u2886-17,#u2886-19,#u2886-41,#u2886-44,#u2886-46,#u2886-49,#u2886-51,#u2886-54,#u2922-8,#u2922-13,#u2922-18,#u2922-20,#u2922-47,#u2922-50,#u2922-52,#u2922-55,#u2922-57,#u2922-60
{
	font-style: italic;
}

#u2886-56,#u2922-62
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u6324-48,#u2886-58,#u2922-64
{
	text-align: center;
	font-weight: 300;
}

#u787
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	left: -100px;
	top: -115px;
	margin-bottom: -50px;
	position: relative;
}

#pu532-6
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u532-6
{
	z-index: 710;
	min-height: 39px;
	padding-left: 20px;
	padding-top: 25px;
	padding-right: 20px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u532-6-bw
{
	z-index: 710;
	min-height: 39px;
}

#u13317-14
{
	z-index: 784;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 1069px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1116px;
}

@font-face
{
	font-family: '__web-icons_5';
	src: url('../fonts/web-icons.eot');
	src: local('☺'), url('../fonts/web-icons.woff') format('woff'), url('../fonts/web-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../fonts/websocialmenus.eot');
	src: local('☺'), url('../fonts/websocialmenus.woff') format('woff'), url('../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

