.version.releases /* version checker */
{
	color: #0000F7;
	background-color: #5F9668;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1116px;
	min-height: 1971.9977302018888px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	padding-top: 112px;
	width: 0.01px;
}

#u531-3
{
	z-index: 441;
	min-height: 44px;
	top: 0px;
	padding: 20px 4px 4px;
}

#u531-3-bw
{
	z-index: 441;
}

#u1439
{
	z-index: 447;
	width: 158px;
	top: 0px;
	left: 7px;
}

#u6499
{
	z-index: 449;
	width: 497px;
	padding-bottom: 1px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5322
{
	z-index: 450;
	width: 429px;
	padding-bottom: 1px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5304
{
	z-index: 451;
	width: 369px;
	padding-bottom: 1px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5286
{
	z-index: 452;
	width: 369px;
	padding-bottom: 1px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5269
{
	z-index: 453;
	width: 369px;
	padding-bottom: 1px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5239
{
	z-index: 470;
	width: 71px;
	height: 68px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5239:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -239px;
}

#u1944-4
{
	z-index: 454;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: -163px;
}

#u5252
{
	z-index: 471;
	width: 71px;
	height: 68px;
	margin-right: -10000px;
	left: 88px;
}

#u5252:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5252.MuseLinkActive
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1945-4
{
	z-index: 458;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: -74px;
}

#u1946-4
{
	z-index: 462;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: 44px;
}

#u1947-4
{
	z-index: 466;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: 122px;
}

#u5270
{
	z-index: 472;
	width: 103px;
	height: 68px;
	margin-right: -10000px;
	left: 177px;
}

#u5270:hover
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5270.MuseLinkActive
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5287
{
	z-index: 473;
	width: 64px;
	height: 68px;
	margin-right: -10000px;
	left: 293px;
}

#u5287:hover
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5287.MuseLinkActive
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5305
{
	z-index: 474;
	width: 55px;
	height: 68px;
	margin-right: -10000px;
	left: 374px;
}

#u5305:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6498-4
{
	z-index: 476;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: 192px;
}

#u6481
{
	z-index: 475;
	width: 55px;
	height: 68px;
	margin-right: -10000px;
	left: 442px;
}

#u5305.MuseLinkActive,#u6481:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6481.MuseLinkActive
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1087
{
	z-index: 444;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 108px;
}

#u1365
{
	z-index: 445;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 60px;
}

#u1384
{
	z-index: 446;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 12px;
}

#u1087:hover,#u1365:hover,#u1384:hover
{
	width: 38px;
	height: 42px;
	min-height: 0px;
	margin: 0px;
}

#u2902
{
	z-index: 68;
	margin-left: 83px;
	position: relative;
}

#ptwomountains
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 49px;
}

#twomountains
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 8px;
}

#u2907
{
	z-index: 3;
	width: 950px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 2px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 183px;
	border-width: 0px 0px 2px;
}

#u2897
{
	z-index: 67;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 25px;
}

#pstrangestthings
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 48px;
}

#strangestthings
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 289px;
}

#pu6322
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: 182px;
}

#u6322
{
	z-index: 353;
	width: 237px;
	height: 237px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	position: relative;
	background: transparent url("../images/2mountainz-u6322-fr.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u6322
{
	background-image: url("../images/2mountainz-u6322-fr_2x.jpg");
}

#u6325-6
{
	z-index: 387;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-left: 1px;
	margin-top: 18px;
	position: relative;
}

#u6324-33
{
	z-index: 354;
	width: 671px;
	min-height: 280px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 462px;
}

#ppu2919
{
	width: 0.01px;
	margin-left: 82px;
	margin-top: 66px;
}

#u2919
{
	z-index: 77;
	width: 237px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	position: relative;
}

#u2925-6
{
	z-index: 182;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-left: 1px;
	margin-top: 18px;
	position: relative;
}

#u2924-33
{
	z-index: 149;
	width: 671px;
	min-height: 280px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#psugardreamz
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 42px;
}

#sugardreamz
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u2908
{
	z-index: 69;
	width: 950px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 4px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 183px;
	border-width: 0px 0px 2px;
}

#u2910
{
	z-index: 70;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 24px;
}

#ppu6335
{
	width: 0.01px;
	margin-left: 82px;
	margin-top: 39px;
}

#u6335
{
	z-index: 394;
	width: 237px;
	height: 237px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	position: relative;
	background: transparent url("../images/newgodsingleart-u6335-fr.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u6335
{
	background-image: url("../images/newgodsingleart-u6335-fr_2x.png");
}

#u6338-6
{
	z-index: 428;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-left: 1px;
	margin-top: 24px;
	position: relative;
}

#u6337-33
{
	z-index: 395;
	width: 671px;
	min-height: 280px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#u6337-4
{
	font-size: 36px;
	font-style: italic;
	line-height: 43px;
}

#u6337-9
{
	text-decoration: none;
	font-style: normal;
}

#comefindmeep
{
	left: -100px;
	margin-top: 24px;
	position: relative;
}

#ppu5787
{
	width: 0.01px;
	margin-left: 82px;
	margin-top: 59px;
}

#u5787
{
	z-index: 312;
	width: 237px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u5793-6
{
	z-index: 346;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-left: 1px;
	margin-top: 24px;
	position: relative;
}

#u5790-32
{
	z-index: 314;
	width: 671px;
	min-height: 280px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#dimensions
{
	left: -100px;
	margin-top: 38px;
	position: relative;
}

#pppu5350
{
	width: 0.01px;
	margin-left: 83px;
	margin-top: 68px;
}

#ppu5350
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
}

#pu5350
{
	width: 0.01px;
}

#u5350
{
	z-index: 259;
	width: 237px;
	height: 237px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5351
{
	z-index: 260;
	width: 237px;
	height: 237px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/dustin_dimensions_art-u5351-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u5351
{
	background-image: url("../images/dustin_dimensions_art-u5351-fr_2x.jpg");
}

#u5353-6
{
	z-index: 305;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-top: 18px;
	position: relative;
}

#u5353-3
{
	font-weight: 300;
	font-style: normal;
}

#u5352-44
{
	z-index: 261;
	width: 671px;
	min-height: 580px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#magicsound
{
	left: -100px;
	margin-top: 49px;
	position: relative;
}

#ppu5331
{
	width: 0.01px;
	margin-left: 83px;
	margin-top: 47px;
}

#pu2919,#pu6335,#pu5787,#pu5331
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: -1px;
}

#u5331
{
	z-index: 191;
	width: 237px;
	height: 237px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	position: relative;
	background: transparent url("../images/tmsco%20gramaphone%20copy.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u5331
{
	background-image: url("../images/tmsco%20gramaphone%20copy_2x.jpg");
}

#u5333-6
{
	z-index: 252;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-left: 1px;
	margin-top: 20px;
	position: relative;
}

#u5332-60
{
	z-index: 192;
	width: 671px;
	min-height: 491px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#u6337-10,#u5790-2,#u5332-13
{
	font-style: normal;
}

#u5332-29,#u5332-38
{
	font-weight: 400;
}

#greatpine
{
	left: -100px;
	position: relative;
}

#pfirework
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 68px;
}

#firework
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 478px;
}

#pu2888
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: 182px;
}

#u2888
{
	z-index: 4;
	width: 237px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	position: relative;
}

#u2915-6
{
	z-index: 71;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-left: 1px;
	margin-top: 19px;
	position: relative;
}

#u2886-59
{
	z-index: 6;
	width: 671px;
	min-height: 508px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 462px;
}

#ppu2883
{
	width: 0.01px;
	margin-left: 83px;
	margin-top: 57px;
}

#pu2883
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: -1px;
}

#u2883
{
	z-index: 65;
	width: 237px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	position: relative;
}

#u2923-8
{
	z-index: 141;
	width: 237px;
	min-height: 61px;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-left: 1px;
	margin-top: 19px;
	position: relative;
}

#u6325-2,#u2925-2,#u6338-2,#u5793-2,#u5333-2,#u2915-2,#u2923-2
{
	font-weight: 400;
	font-style: italic;
}

#u6325-4,#u2925-4,#u6338-4,#u5793-4,#u5333-4,#u2915-4,#u2923-4,#u2923-6
{
	font-weight: 300;
}

#u2922-62
{
	z-index: 79;
	width: 671px;
	min-height: 327px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#u6324-2,#u2924-2,#u6337-2,#u5790-3,#u5352-2,#u5332-2,#u2886-2,#u2922-2
{
	font-size: 36px;
	text-align: left;
	line-height: 43px;
	font-weight: 400;
	font-style: italic;
}

#u6324-5,#u2924-5,#u6337-5,#u5790-6,#u5352-5,#u5332-5,#u2886-5,#u2922-5
{
	font-size: 18px;
	text-align: left;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6324-3,#u2924-3,#u6337-3,#u5790-4,#u5352-3,#u5332-3,#u2886-3,#u2922-3
{
	font-style: italic;
	line-height: 22px;
}

#u6324-4,#u2924-4,#u5790-5,#u5352-4,#u5332-4,#u2886-4,#u2922-4
{
	font-size: 36px;
	line-height: 43px;
}

#u6324-6,#u2924-6,#u6337-6,#u6337-11,#u5790-7,#u5790-13,#u5790-14,#u5790-18,#u5352-6,#u5352-10,#u5352-11,#u5352-13,#u5352-14,#u5352-20,#u5352-21,#u5352-22,#u5332-6,#u5332-17,#u5332-18,#u5332-22,#u5332-23,#u2886-6,#u2886-10,#u2886-11,#u2886-21,#u2886-22,#u2922-6,#u2922-10,#u2922-11,#u2922-15,#u2922-16,#u2922-22
{
	font-size: 15px;
	text-align: justify;
	line-height: 18px;
	font-weight: 300;
}

#u6324-7,#u2924-7,#u6337-14,#u5790-21,#u5352-23,#u5332-24,#u2886-23,#u2922-24
{
	text-decoration: underline;
	font-style: italic;
}

#u6324-19,#u2924-15,#u6337-22,#u5352-29,#u5332-36,#u2886-31,#u2922-36
{
	text-align: left;
	font-weight: 300;
	font-style: italic;
}

#u6324-18,#u2924-14,#u6337-21,#u5352-28,#u5332-35,#u2886-30,#u2922-35
{
	text-decoration: underline;
}

#u6324-8,#u6324-10,#u6324-12,#u6324-14,#u6324-16,#u6324-17,#u6324-21,#u6324-23,#u6324-24,#u6324-25,#u6324-30,#u2924-8,#u2924-10,#u2924-12,#u2924-13,#u2924-17,#u2924-18,#u2924-19,#u2924-30,#u6337-12,#u6337-13,#u6337-15,#u6337-17,#u6337-19,#u6337-20,#u6337-24,#u6337-25,#u6337-31,#u5790-19,#u5790-20,#u5790-22,#u5790-24,#u5790-25,#u5790-30,#u5352-24,#u5352-26,#u5352-27,#u5352-31,#u5352-32,#u5352-42,#u5332-25,#u5332-30,#u5332-33,#u5332-34,#u5332-39,#u5332-40,#u5332-41,#u5332-58,#u2886-24,#u2886-26,#u2886-28,#u2886-29,#u2886-33,#u2886-35,#u2886-36,#u2886-37,#u2886-56,#u2922-23,#u2922-25,#u2922-27,#u2922-29,#u2922-31,#u2922-33,#u2922-34,#u2922-38,#u2922-40,#u2922-42,#u2922-43,#u2922-44,#u2922-59
{
	text-align: left;
	font-weight: 300;
}

#u6324-26,#u2924-20,#u6337-26,#u5790-26,#u5352-33,#u5332-42,#u2886-38,#u2922-45
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u6324-28,#u2924-22,#u2924-24,#u2924-26,#u2924-28,#u6337-8,#u6337-29,#u5790-9,#u5790-11,#u5790-16,#u5790-28,#u5352-8,#u5352-16,#u5352-18,#u5352-35,#u5352-39,#u5332-8,#u5332-10,#u5332-12,#u5332-15,#u5332-44,#u5332-47,#u5332-49,#u5332-52,#u5332-55,#u5332-57,#u2886-8,#u2886-13,#u2886-15,#u2886-17,#u2886-19,#u2886-40,#u2886-43,#u2886-45,#u2886-48,#u2886-51,#u2886-54,#u2922-8,#u2922-13,#u2922-18,#u2922-20,#u2922-47,#u2922-50,#u2922-53,#u2922-56
{
	font-style: italic;
}

#u2924-29,#u2886-53,#u2922-58
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u6324-31,#u2924-31,#u2886-57,#u2922-60
{
	text-align: center;
	font-weight: 300;
}

#u787
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	left: -100px;
	top: -113px;
	margin-bottom: -50px;
}

#u532-6
{
	z-index: 435;
	min-height: 39px;
	padding-left: 20px;
	padding-top: 25px;
	padding-right: 20px;
}

#u532-6-bw
{
	z-index: 435;
	min-height: 39px;
}

body
{
	position: relative;
	min-width: 1116px;
}

#page .verticalspacer
{
	clear: both;
}

