.version.roster /* version checker */
{
	color: #0000E7;
	background-color: #33CA34;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1116px;
	min-height: 1473px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	padding-top: 109px;
	width: 0.01px;
}

#u531-3
{
	z-index: 88;
	min-height: 44px;
	top: 0px;
	padding: 20px 4px 4px;
}

#u531-3-bw
{
	z-index: 88;
}

#u1439
{
	z-index: 94;
	width: 158px;
	top: 0px;
	left: 7px;
}

#u6499
{
	z-index: 96;
	width: 497px;
	padding-bottom: 1px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5322
{
	z-index: 97;
	width: 429px;
	padding-bottom: 1px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5304
{
	z-index: 98;
	width: 369px;
	padding-bottom: 1px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5286
{
	z-index: 99;
	width: 369px;
	padding-bottom: 1px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5269
{
	z-index: 100;
	width: 369px;
	padding-bottom: 1px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5239
{
	z-index: 117;
	width: 71px;
	height: 68px;
	top: 0px;
	left: 50%;
	margin-left: -239px;
}

#u5239:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -239px;
}

#u1944-4
{
	z-index: 101;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: -163px;
}

#u5252
{
	z-index: 118;
	width: 71px;
	height: 68px;
	margin-right: -10000px;
	left: 88px;
}

#u5252:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5252.MuseLinkActive
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1945-4
{
	z-index: 105;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: -74px;
}

#u1946-4
{
	z-index: 109;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: 44px;
}

#u1947-4
{
	z-index: 113;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: 122px;
}

#u5270
{
	z-index: 119;
	width: 103px;
	height: 68px;
	margin-right: -10000px;
	left: 177px;
}

#u5270:hover
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5270.MuseLinkActive
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5287
{
	z-index: 120;
	width: 64px;
	height: 68px;
	margin-right: -10000px;
	left: 293px;
}

#u5287:hover
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5287.MuseLinkActive
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5305
{
	z-index: 121;
	width: 55px;
	height: 68px;
	margin-right: -10000px;
	left: 374px;
}

#u5305:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6498-4
{
	z-index: 123;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: 192px;
}

#u6481
{
	z-index: 122;
	width: 55px;
	height: 68px;
	margin-right: -10000px;
	left: 442px;
}

#u5305.MuseLinkActive,#u6481:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6481.MuseLinkActive
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1087
{
	z-index: 91;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 108px;
}

#u1365
{
	z-index: 92;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 60px;
}

#u1384
{
	z-index: 93;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 12px;
}

#u1087:hover,#u1365:hover,#u1384:hover
{
	width: 38px;
	height: 42px;
	min-height: 0px;
	margin: 0px;
}

#u3056
{
	z-index: 11;
	margin-left: 85px;
	position: relative;
}

#pu1570
{
	width: 0.01px;
	margin-left: 126px;
	margin-top: 53px;
}

#u1570
{
	z-index: 6;
	width: 265px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u750
{
	z-index: 7;
	width: 265px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.27);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0px;
	position: relative;
	margin-right: -10000px;
}

#u6394
{
	z-index: 9;
	width: 265px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u896
{
	z-index: 10;
	width: 265px;
	height: 190px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.24);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/alex%20the%20brown-9668-u896-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u896
{
	background-image: url("../images/alex%20the%20brown-9668-u896-fr_2x.jpg");
}

#u6392
{
	z-index: 12;
	width: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u3536
{
	z-index: 13;
	width: 264px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu7514-4
{
	width: 0.01px;
	margin-left: 126px;
	margin-top: 15px;
}

#u7514-4
{
	z-index: 24;
	width: 264px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u7535-4
{
	z-index: 54;
	width: 264px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 301px;
}

#u7515-4
{
	z-index: 28;
	width: 264px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 601px;
}

#pu6108
{
	width: 0.01px;
	margin-left: 126px;
	margin-top: 22px;
}

#u6108
{
	z-index: 20;
	width: 266px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6116
{
	z-index: 21;
	width: 266px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7521
{
	z-index: 52;
	width: 265px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.26);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 300px;
}

#u7536
{
	z-index: 58;
	width: 265px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u7536_img
{
	padding-right: 1px;
}

#pu7520-4
{
	width: 0.01px;
	margin-left: 126px;
	margin-top: 12px;
}

#u7520-4
{
	z-index: 48;
	width: 264px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u7516-4
{
	z-index: 32;
	width: 265px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u7542-4
{
	z-index: 60;
	width: 265px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 601px;
}

#pu7543
{
	width: 0.01px;
	margin-left: 125px;
	margin-top: 26px;
}

#u7543
{
	z-index: 64;
	width: 265px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7558
{
	z-index: 70;
	width: 265px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u7565
{
	z-index: 76;
	width: 260px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 601px;
}

#u7565_clip
{
	overflow: hidden;
	width: 260px;
	height: 190px;
}

#u7565_img
{
	margin-top: -11px;
	margin-bottom: -12px;
}

#pu7549-4
{
	width: 0.01px;
	margin-left: 124px;
	margin-top: 16px;
}

#u7549-4
{
	z-index: 66;
	width: 265px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u7564-4
{
	z-index: 72;
	width: 265px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 301px;
}

#u7571-4
{
	z-index: 78;
	width: 265px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 602px;
}

#u6401
{
	z-index: 23;
	margin-left: 85px;
	margin-top: 82px;
	position: relative;
}

#pu5647
{
	width: 0.01px;
	margin-left: 140px;
	margin-top: 45px;
}

#u5647
{
	z-index: 15;
	width: 244px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u5658
{
	z-index: 16;
	width: 244px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6395
{
	z-index: 18;
	width: 247px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u3945
{
	z-index: 19;
	width: 247px;
	height: 178px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/dustin_artist_pic2.jpg") no-repeat center top;
	background-size: cover;
}

.hidpi #u3945
{
	background-image: url("../images/dustin_artist_pic_2x.jpg");
}

#u1572
{
	z-index: 3;
	width: 248px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 619px;
}

#u915
{
	z-index: 4;
	width: 248px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu7519-4
{
	width: 0.01px;
	margin-left: 140px;
	margin-top: 10px;
}

#u7519-4
{
	z-index: 44;
	width: 244px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u7517-4
{
	z-index: 36;
	width: 247px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u7518-4
{
	z-index: 40;
	width: 248px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 619px;
}

#u7514,#u7535,#u7515,#u7520,#u7516,#u7542,#u7549,#u7564,#u7571,#u7519,#u7517,#u7518
{
	font-size: 18px;
}

#u787
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	left: -100px;
	top: -82px;
	margin-bottom: -50px;
}

#u532-6
{
	z-index: 82;
	min-height: 39px;
	padding-left: 20px;
	padding-top: 25px;
	padding-right: 20px;
}

#u532-6-bw
{
	z-index: 82;
	min-height: 39px;
	margin-top: 31px;
}

body
{
	position: relative;
	min-width: 1116px;
}

#page .verticalspacer
{
	clear: both;
}

