.version.roster /* version checker */
{
	color: #0000E9;
	background-color: #A2A896;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1116px;
	min-height: 1485px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	padding-top: 109px;
	width: 0.01px;
}

#u531-3
{
	z-index: 30;
	min-height: 44px;
	top: 0px;
	padding: 20px 4px 4px;
}

#u531-3-bw
{
	z-index: 30;
}

#u1439
{
	z-index: 36;
	width: 158px;
	top: 0px;
	left: 7px;
}

#u5322
{
	z-index: 38;
	width: 429px;
	padding-bottom: 1px;
	top: -1px;
	left: 50%;
	margin-left: -215px;
}

#u5304
{
	z-index: 39;
	width: 369px;
	padding-bottom: 1px;
	top: -1px;
	left: 50%;
	margin-left: -215px;
}

#u5286
{
	z-index: 40;
	width: 369px;
	padding-bottom: 1px;
	top: -1px;
	left: 50%;
	margin-left: -215px;
}

#u5269
{
	z-index: 41;
	width: 369px;
	padding-bottom: 1px;
	top: -1px;
	left: 50%;
	margin-left: -215px;
}

#u5239
{
	z-index: 58;
	width: 71px;
	height: 68px;
	top: -1px;
	left: 50%;
	margin-left: -215px;
}

#u5239:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -215px;
}

#u1944-4
{
	z-index: 42;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: -1px;
	left: 50%;
	margin-left: -139px;
}

#u5252
{
	z-index: 59;
	width: 71px;
	height: 68px;
	margin-right: -10000px;
	left: 88px;
}

#u5252:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5252.MuseLinkActive
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1945-4
{
	z-index: 46;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: -1px;
	left: 50%;
	margin-left: -50px;
}

#u1946-4
{
	z-index: 50;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: -1px;
	left: 50%;
	margin-left: 68px;
}

#u1947-4
{
	z-index: 54;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: -1px;
	left: 50%;
	margin-left: 146px;
}

#u5270
{
	z-index: 60;
	width: 103px;
	height: 68px;
	margin-right: -10000px;
	left: 177px;
}

#u5270:hover
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5270.MuseLinkActive
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5287
{
	z-index: 61;
	width: 64px;
	height: 68px;
	margin-right: -10000px;
	left: 293px;
}

#u5287:hover
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5287.MuseLinkActive
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5305
{
	z-index: 62;
	width: 55px;
	height: 68px;
	margin-right: -10000px;
	left: 374px;
}

#u5305:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5305.MuseLinkActive
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1087
{
	z-index: 33;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 108px;
}

#u1365
{
	z-index: 34;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 60px;
}

#u1384
{
	z-index: 35;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 12px;
}

#u1087:hover,#u1365:hover,#u1384:hover
{
	width: 38px;
	height: 42px;
	min-height: 0px;
	margin: 0px;
}

#u3056
{
	z-index: 14;
	margin-left: 85px;
	position: relative;
}

#pu1570
{
	width: 0.01px;
	margin-left: 85px;
	margin-top: 53px;
}

#u1570
{
	z-index: 10;
	width: 462px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: -6px;
}

#u750
{
	z-index: 11;
	width: 450px;
	border-width: 6px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	border-radius: 0px;
	position: relative;
	margin-right: -10000px;
}

#u827
{
	z-index: 13;
	width: 450px;
	height: 324px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	border-radius: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

.ie #u827
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u827:hover
{
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
	width: 450px;
	height: 324px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
	background: transparent url("../images/view_newgod.png") no-repeat center center;
	background-size: cover;
}

.artistpic
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u3536
{
	z-index: 15;
	width: 450px;
	border-width: 6px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 490px;
}

#u873
{
	z-index: 17;
	width: 450px;
	height: 324px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

.ie #u873
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u873:hover
{
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
	width: 450px;
	height: 324px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/view_seagulls_2.png") no-repeat center center;
	background-size: cover;
}

#pu1573
{
	width: 0.01px;
	margin-left: 85px;
	margin-top: 71px;
}

#u1573
{
	z-index: 7;
	width: 462px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: -6px;
}

#u896
{
	z-index: 8;
	width: 450px;
	height: 324px;
	border-width: 6px;
	border-style: solid;
	border-color: #484848;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/alex%20the%20brown-9668.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u896
{
	background-image: url("../images/alex%20the%20brown-9668_2x.jpg");
}

#u902
{
	z-index: 9;
	width: 450px;
	height: 324px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

.ie #u902
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u902:hover
{
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
	width: 450px;
	height: 324px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
	background: transparent url("../images/view_williamalexander.png") no-repeat center center;
	background-size: cover;
}

#u3945
{
	z-index: 18;
	width: 450px;
	height: 324px;
	border-width: 6px;
	border-style: solid;
	border-color: #484848;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 490px;
	background: transparent url("../images/dustin_artist_pic.jpg") no-repeat center top;
	background-size: cover;
}

#u3957
{
	z-index: 19;
	width: 450px;
	height: 324px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	left: 496px;
}

.ie #u3957
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3957:hover
{
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
	width: 450px;
	height: 324px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/view_dustin.png") no-repeat center center;
	background-size: cover;
}

#pu5647
{
	width: 0.01px;
	margin-left: 85px;
	margin-top: 73px;
}

#u5647
{
	z-index: 20;
	width: 462px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: -6px;
}

#u5658
{
	z-index: 21;
	width: 450px;
	border-width: 6px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5650
{
	z-index: 23;
	width: 450px;
	height: 324px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

.ie #u5650
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5650:hover
{
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
	width: 450px;
	height: 324px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
	background: transparent url("../images/view_eskimeaux.png") no-repeat center center;
	background-size: cover;
}

#u1572
{
	z-index: 3;
	width: 462px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 490px;
}

#u915
{
	z-index: 4;
	width: 450px;
	border-width: 6px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u921
{
	z-index: 6;
	width: 450px;
	height: 324px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

.ie #u921
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u921:hover
{
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
	width: 450px;
	height: 324px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
	background: transparent url("../images/view_nicole.png") no-repeat center center;
	background-size: cover;
}

.ie #u827:hover,.ie #u873:hover,.ie #u902:hover,.ie #u3957:hover,.ie #u5650:hover,.ie #u921:hover
{
	opacity: 0.88;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
	filter: alpha(opacity=88);
}

#u787
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	left: -100px;
	top: -61px;
	margin-bottom: -50px;
}

#u532-6
{
	z-index: 24;
	min-height: 39px;
	padding-left: 20px;
	padding-top: 25px;
	padding-right: 20px;
}

#u532-6-bw
{
	z-index: 24;
	min-height: 39px;
	margin-top: 52px;
}

body
{
	position: relative;
	min-width: 1116px;
}

#page .verticalspacer
{
	clear: both;
}

