.version.seagulls /* version checker */
{
	color: #000000;
	background-color: #ACBCDA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1116px;
	min-height: 1564px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	padding-top: 100px;
	width: 0.01px;
}

#u531-3
{
	z-index: 136;
	min-height: 44px;
	top: 0px;
	padding: 20px 4px 4px;
}

#u531-3-bw
{
	z-index: 136;
}

#u1439
{
	z-index: 142;
	width: 158px;
	top: 0px;
	left: 7px;
}

#u1949
{
	z-index: 144;
	width: 428px;
	top: -1px;
	left: 50%;
	margin-left: -214px;
}

#u1943
{
	z-index: 145;
	width: 428px;
	margin-right: -10000px;
}

#buttonu1843
{
	z-index: 146;
	width: 71px;
	height: 68px;
	margin-right: -10000px;
}

#buttonu1843:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1843.ButtonSelected
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1856
{
	z-index: 147;
	width: 72px;
	height: 68px;
	margin-right: -10000px;
	left: 87px;
}

#buttonu1856:hover
{
	width: 72px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1856.ButtonSelected
{
	width: 72px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1869
{
	z-index: 148;
	width: 103px;
	height: 68px;
	margin-right: -10000px;
	left: 175px;
}

#buttonu1869:hover
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1869.ButtonSelected
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1882
{
	z-index: 149;
	width: 64px;
	height: 68px;
	margin-right: -10000px;
	left: 294px;
}

#buttonu1882:hover
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1882.ButtonSelected
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1908
{
	z-index: 150;
	width: 55px;
	height: 68px;
	margin-right: -10000px;
	left: 373px;
}

#buttonu1908:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1908.ButtonSelected
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1944-4
{
	z-index: 151;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	margin-right: -10000px;
	left: 75px;
}

#u1945-4
{
	z-index: 155;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	margin-right: -10000px;
	left: 164px;
}

#u1946-4
{
	z-index: 159;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	margin-right: -10000px;
	left: 282px;
}

#u1947-4
{
	z-index: 163;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	margin-right: -10000px;
	left: 360px;
}

#u1087
{
	z-index: 139;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 108px;
}

#u1365
{
	z-index: 140;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 60px;
}

#u1384
{
	z-index: 141;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 12px;
}

#u1087:hover,#u1365:hover,#u1384:hover
{
	width: 38px;
	height: 42px;
	min-height: 0px;
	margin: 0px;
}

#u2841
{
	z-index: 123;
	margin-left: 86px;
	position: relative;
}

#pu2788
{
	width: 0.01px;
	margin-left: 94px;
	margin-top: 57px;
}

#u2788
{
	z-index: 4;
	width: 386px;
	border-width: 5px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 15px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u2838
{
	z-index: 121;
	width: 354px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 15px;
}

#u2838_clip
{
	overflow: hidden;
	width: 354px;
	height: 253px;
}

#u2838_img
{
	margin-top: -1px;
	margin-bottom: 1px;
}

#pamphletu2798
{
	z-index: 5;
	width: 0.01px;
	height: 245px;
	padding-bottom: 43px;
	position: relative;
	margin-right: -10000px;
	left: 418px;
}

#u2810
{
	position: absolute;
	width: 518px;
	background-color: transparent;
}

#u2810popup
{
	z-index: 6;
}

#u2813
{
	z-index: 7;
	width: 518px;
	height: 288px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2814-10
{
	z-index: 8;
	width: 485px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u2814,#u2814-2,#u2814-3,#u2814-5
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u2814-6
{
	font-size: 16px;
	line-height: 22px;
	color: #29ABE2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u2814-8
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u2821
{
	z-index: 18;
	width: 518px;
	height: 288px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2822-10
{
	z-index: 19;
	width: 486px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2819
{
	z-index: 29;
	width: 518px;
	height: 288px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2820-10
{
	z-index: 30;
	width: 486px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2815
{
	z-index: 40;
	width: 518px;
	height: 288px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2816-10
{
	z-index: 41;
	width: 486px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2817
{
	z-index: 51;
	width: 518px;
	height: 288px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2818-10
{
	z-index: 52;
	width: 486px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2811
{
	z-index: 62;
	width: 518px;
	height: 288px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2812-10
{
	z-index: 63;
	width: 486px;
	min-height: 288px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u2822,#u2822-2,#u2822-3,#u2822-5,#u2822-6,#u2820,#u2820-2,#u2820-3,#u2820-5,#u2816,#u2816-2,#u2816-3,#u2816-5,#u2818,#u2818-2,#u2818-3,#u2818-5,#u2812,#u2812-2,#u2812-3,#u2812-5
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
}

#u2822-8,#u2820-6,#u2820-8,#u2816-6,#u2816-8,#u2818-6,#u2818-8,#u2812-6,#u2812-8
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
}

#u2822-7,#u2820-7,#u2816-7,#u2818-7,#u2812-7
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u2803
{
	z-index: 73;
	width: 99px;
	position: relative;
	margin-right: -10000px;
	margin-top: 236px;
	left: 210px;
}

#u2806
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
}

#u2806:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2806.PamphletThumbSelected
{
	background-color: #29ABE2;
	border-radius: 99px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2804
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 18px;
}

#u2804:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2805
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 36px;
}

#u2805:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2807
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 54px;
}

#u2807:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2808
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 72px;
}

#u2808:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2809
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 90px;
}

#u2809:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u2804.PamphletThumbSelected,#u2805.PamphletThumbSelected,#u2807.PamphletThumbSelected,#u2808.PamphletThumbSelected,#u2809.PamphletThumbSelected
{
	background-color: #29ABE2;
	border-radius: 50px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu2791
{
	width: 0.01px;
	margin-left: 229px;
	margin-top: 21px;
}

#u2791
{
	z-index: 116;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
}

#u2786
{
	z-index: 117;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 35px;
}

#u2778
{
	z-index: 118;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
	left: 70px;
}

#u2796
{
	z-index: 119;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
	left: 105px;
}

#u2793-20
{
	z-index: 80;
	width: 936px;
	min-height: 235px;
	background-color: transparent;
	line-height: 18px;
	text-align: justify;
	font-size: 15px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 94px;
	margin-top: 16px;
	position: relative;
}

#u2793-5,#u2793-10,#u2793-12,#u2793-14,#u2793-16
{
	font-style: italic;
}

#pu2782
{
	width: 0.01px;
	margin-left: 156px;
	margin-top: 30px;
}

#u2782
{
	z-index: 100;
	width: 335px;
	height: 335px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u2795-15
{
	z-index: 101;
	width: 405px;
	min-height: 246px;
	background-color: transparent;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 441px;
}

#u2795-2
{
	font-size: 48px;
	line-height: 58px;
}

#u2795-4
{
	font-size: 30px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2795-3
{
	font-size: 14px;
	line-height: 17px;
}

#u2795-6,#u2795-7,#u2795-10,#u2795-13
{
	font-size: 22px;
	line-height: 26px;
}

#u2846
{
	z-index: 124;
	width: 335px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pamphletu3614
{
	z-index: 126;
	width: 0.01px;
	height: 252px;
	margin-left: 122px;
	margin-top: 29px;
	position: relative;
}

#u3615
{
	z-index: 127;
	width: 404px;
	position: relative;
	margin-right: -10000px;
}

#u3617
{
	position: absolute;
	width: 404px;
	height: 252px;
}

.ie #u3617
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3625
{
	position: absolute;
	width: 853px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -77px;
	left: 1219px;
	-pie-background: rgba(0,0,0,0.9);
}

#u3625popup
{
	z-index: 129;
}

#u3630
{
	z-index: 130;
	width: 809px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3632
{
	z-index: 131;
	width: 748px;
	min-height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 31px;
}

#pu2772
{
	width: 0.01px;
	margin-left: 122px;
	margin-top: -254px;
}

#u2772
{
	z-index: 3;
	width: 404px;
	min-height: 252px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u2780
{
	z-index: 120;
	width: 405px;
	min-height: 252px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 475px;
}

#u787
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	left: -100px;
	top: -53px;
	margin-bottom: -50px;
}

#u532-4
{
	z-index: 132;
	min-height: 39px;
	padding-left: 20px;
	padding-top: 25px;
	padding-right: 20px;
}

#u532-4-bw
{
	z-index: 132;
	min-height: 39px;
	margin-top: 61px;
}

body
{
	position: relative;
	min-width: 1116px;
}

#page .verticalspacer
{
	clear: both;
}

