.version.william_alexander /* version checker */
{
	color: #0000E8;
	background-color: #D9CF0E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1116px;
	min-height: 1535px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	padding-top: 83px;
	width: 0.01px;
}

#u531-3
{
	z-index: 90;
	min-height: 44px;
	top: -1px;
	padding: 20px 4px 4px;
}

#u531-3-bw
{
	z-index: 90;
}

#u1439
{
	z-index: 96;
	width: 158px;
	top: 0px;
	left: 7px;
}

#u8793
{
	z-index: 98;
	width: 639px;
	top: -1px;
	left: 50%;
	margin-left: -319px;
}

#u5239
{
	z-index: 115;
	width: 71px;
	height: 68px;
	top: 0px;
	left: 50%;
	margin-left: -319px;
}

#u5239:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -319px;
}

#u1944-4
{
	z-index: 99;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: -244px;
}

#u5252
{
	z-index: 116;
	width: 71px;
	height: 68px;
	top: 0px;
	left: 50%;
	margin-left: -231px;
}

#u5252:hover
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -231px;
}

#u5252.MuseLinkActive
{
	width: 71px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -231px;
}

#u1945-4
{
	z-index: 103;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: -155px;
}

#u5270
{
	z-index: 117;
	width: 103px;
	height: 68px;
	top: 0px;
	left: 50%;
	margin-left: -142px;
}

#u5270:hover
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -142px;
}

#u5270.MuseLinkActive
{
	width: 103px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -142px;
}

#u1946-4
{
	z-index: 107;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: -37px;
}

#u5287
{
	z-index: 118;
	width: 64px;
	height: 68px;
	top: 0px;
	left: 50%;
	margin-left: -26px;
}

#u5287:hover
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -26px;
}

#u5287.MuseLinkActive
{
	width: 64px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px -26px;
}

#u8775
{
	z-index: 125;
	width: 150px;
	padding-bottom: 68px;
	margin-right: -10000px;
	left: 361px;
}

#u8775:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8775.MuseLinkActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u8791-4
{
	z-index: 126;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: -1px;
	left: 50%;
	margin-left: 40px;
}

#u1947-4
{
	z-index: 111;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: 183px;
}

#u5305
{
	z-index: 119;
	width: 55px;
	height: 68px;
	top: 0px;
	left: 50%;
	margin-left: 196px;
}

#u5305:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 196px;
}

#u5305.MuseLinkActive
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 196px;
}

#u6498-4
{
	z-index: 121;
	width: 8px;
	min-height: 59px;
	padding-top: 9px;
	top: 0px;
	left: 50%;
	margin-left: 254px;
}

#u6481
{
	z-index: 120;
	width: 55px;
	height: 68px;
	top: 0px;
	left: 50%;
	margin-left: 264px;
}

#u6481:hover
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 264px;
}

#u6481.MuseLinkActive
{
	width: 55px;
	height: 68px;
	min-height: 0px;
	margin: 0px 0px 0px 264px;
}

#u1087
{
	z-index: 93;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 108px;
}

#u1365
{
	z-index: 94;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 60px;
}

#u1384
{
	z-index: 95;
	width: 38px;
	height: 42px;
	top: 13px;
	right: 12px;
}

#u1087:hover,#u1365:hover,#u1384:hover
{
	width: 38px;
	height: 42px;
	min-height: 0px;
	margin: 0px;
}

#u5750
{
	z-index: 77;
	overflow: hidden;
	margin-left: 86px;
	position: relative;
}

#u5753
{
	z-index: 74;
	margin-left: 86px;
	margin-top: 33px;
	position: relative;
}

#pu5752
{
	width: 0.01px;
	margin-left: 94px;
	margin-top: 34px;
}

#u5752
{
	z-index: 4;
	width: 386px;
	border-width: 5px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 10px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u5770
{
	z-index: 78;
	width: 367px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
}

#u5770_clip
{
	overflow: hidden;
	width: 367px;
	height: 265px;
}

#u5770_img
{
	margin-bottom: -19px;
}

#pamphletu5735
{
	z-index: 5;
	width: 0.01px;
	height: 219px;
	padding-bottom: 69px;
	position: relative;
	margin-right: -10000px;
	left: 418px;
}

#u5745
{
	position: absolute;
	width: 518px;
	background-color: transparent;
}

#u5745popup
{
	z-index: 6;
}

#u5748
{
	z-index: 7;
	width: 518px;
	height: 288px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5749-13
{
	z-index: 8;
	width: 485px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5749,#u5749-2,#u5749-8
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5749-9,#u5749-11
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u5746
{
	z-index: 21;
	width: 518px;
	height: 288px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5747-10
{
	z-index: 22;
	width: 486px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u7398
{
	z-index: 32;
	width: 518px;
	height: 288px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7403-8
{
	z-index: 33;
	width: 486px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 4px;
}

#u7404
{
	z-index: 41;
	width: 518px;
	height: 288px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7407-11
{
	z-index: 42;
	width: 486px;
	min-height: 168px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 4px;
}

#u5747,#u5747-2,#u5747-3,#u5747-5,#u7403,#u7403-3,#u7403-4,#u7407,#u7407-2,#u7407-3,#u7407-5
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
}

#u5747-6,#u5747-8,#u7403-6,#u7407-6,#u7407-9
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
}

#u5747-7,#u7403-5,#u7407-7
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u7407-8
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	font-style: italic;
}

#u5736
{
	z-index: 53;
	width: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 228px;
}

#u5738
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
}

#u5738:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u5738.PamphletThumbSelected
{
	background-color: #29ABE2;
	border-radius: 99px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u5737
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 18px;
}

#u5737:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u7400
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 36px;
}

#u7400:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u7406
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 54px;
}

#u7406:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u5737.PamphletThumbSelected,#u7400.PamphletThumbSelected,#u7406.PamphletThumbSelected
{
	background-color: #29ABE2;
	border-radius: 50px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu5728
{
	width: 0.01px;
	margin-left: 229px;
	margin-top: 21px;
}

#u5728
{
	z-index: 72;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
}

#u5724
{
	z-index: 75;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
	left: 53px;
}

#u5756
{
	z-index: 73;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
	left: 105px;
}

#u5734-13
{
	z-index: 58;
	width: 936px;
	min-height: 235px;
	background-color: transparent;
	text-align: justify;
	font-size: 15px;
	line-height: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 94px;
	margin-top: 17px;
	position: relative;
}

#u5749-4,#u5749-6,#u5734-2,#u5734-4,#u5734-9
{
	font-style: italic;
}

#pu5727
{
	width: 0.01px;
	margin-left: 157px;
	margin-top: 29px;
}

#u5727
{
	z-index: 71;
	width: 335px;
	height: 335px;
	position: relative;
	margin-right: -10000px;
	left: 474px;
}

.ie #u5727
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5777
{
	z-index: 80;
	width: 335px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.24);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 474px;
}

#u7414
{
	z-index: 82;
	width: 333px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.24);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu5730
{
	width: 0.01px;
	margin-left: 121px;
	margin-top: 29px;
}

#u5730
{
	z-index: 3;
	width: 404px;
	min-height: 252px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5732
{
	z-index: 76;
	width: 252px;
	min-height: 252px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 552px;
}

#u787
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	left: -100px;
	top: -70px;
	margin-bottom: -50px;
}

#u532-6
{
	z-index: 84;
	min-height: 39px;
	padding-left: 20px;
	padding-top: 25px;
	padding-right: 20px;
}

#u532-6-bw
{
	z-index: 84;
	min-height: 39px;
	margin-top: 44px;
}

body
{
	position: relative;
	min-width: 1116px;
}

#page .verticalspacer
{
	clear: both;
}

