/*

*/

.version.william_alexander /* version checker */
{
	color: #00001B;
	background-color: #F8C0DC;
}

#page
{
	z-index: 1;
	width: 1116px;
	min-height: 1535px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	margin-bottom: -1px;
	width: 0.01px;/* should not cover content below */
}

#pu12625
{
	width: 0.01px;
	margin-left: -97px;
}

#u12625
{
	z-index: 93;
	width: 162px;
	position: relative;
	margin-right: -10000px;
}

#pu12811-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 17px;
	margin-left: 897px;
}

#u12811-4
{
	z-index: 152;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 98px;
}

#u12797-4
{
	z-index: 156;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u12803-4
{
	z-index: 161;
	width: 107px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u12803-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#menuu12635
{
	z-index: 95;
	width: 648px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 237px;
}

#u12636
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u12639
{
	width: 106px;
	padding-bottom: 5px;
	position: relative;
}

#u12639:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u12642-4
{
	width: 106px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u12639:hover #u12642-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13142
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u13143
{
	width: 106px;
	padding-bottom: 5px;
	position: relative;
}

#u12639.MuseMenuActive,#u13143:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u13144-4
{
	width: 106px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u12639.MuseMenuActive #u12642-4,#u13143:hover #u13144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13163
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u13166
{
	width: 106px;
	padding-bottom: 5px;
	position: relative;
}

#u13143.MuseMenuActive,#u13166:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u13168-4
{
	width: 106px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u13143.MuseMenuActive #u13144-4,#u13166:hover #u13168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13184
{
	width: 106px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 324px;
}

#u13185
{
	width: 106px;
	padding-bottom: 5px;
	position: relative;
}

#u13166.MuseMenuActive,#u13185:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u13185.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u13186-4
{
	width: 106px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u13166.MuseMenuActive #u13168-4,#u13185:hover #u13186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13185.MuseMenuActive #u13186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 106px;
	margin: 0px -10000px 0px 0px;
}

#u13205
{
	width: 107px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 432px;
}

#u13206
{
	width: 107px;
	padding-bottom: 5px;
	position: relative;
}

#u13206:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u13209-4
{
	width: 107px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u13206:hover #u13209-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u13226
{
	width: 107px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 541px;
}

#u13227
{
	width: 107px;
	padding-bottom: 5px;
	position: relative;
}

#u13206.MuseMenuActive,#u13227:hover
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u13227.MuseMenuActive
{
	width: 107px;
	min-height: 0px;
	margin: 0px;
}

#u13228-4
{
	width: 107px;
	min-height: 29px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u13206.MuseMenuActive #u13209-4,#u13227:hover #u13228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u13227.MuseMenuActive #u13228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 107px;
	margin: 0px -10000px 0px 0px;
}

#u12779-4
{
	z-index: 132;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 339px;
}

#u12785-4
{
	z-index: 136;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 447px;
}

#u12788-4
{
	z-index: 140;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 551px;
}

#u12791-4
{
	z-index: 144;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 672px;
}

#u12794-4
{
	z-index: 148;
	width: 16px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 760px;
}

#u12808-4
{
	z-index: 165;
	width: 107px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 1023px;
}

#u12808-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 107px;
	margin: 17px -10000px 0px 0px;
}

#u11818
{
	z-index: 76;
	width: 622px;
	background-color: transparent;
	margin-left: 86px;
	margin-top: 64px;
	position: relative;
}

#u5753
{
	z-index: 77;
	display: block;
}

#pu5752
{
	width: 0.01px;
	margin-left: 94px;
	margin-top: 15px;
}

#u5752
{
	z-index: 4;
	width: 386px;
	border-style: solid;
	border-width: 5px;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 10px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: -2px;
}

#u5770
{
	z-index: 81;
	width: 367px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 9px;
}

#u5770_img
{
	margin-bottom: -19px;
}

#pamphletu5735
{
	z-index: 5;
	width: 0.01px;
	height: 219px;
	padding-bottom: 69px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 418px;
}

#u5745
{
	position: absolute;
	width: 518px;
	background-color: transparent;
}

#u5745popup
{
	z-index: 6;
}

#u5748
{
	z-index: 7;
	width: 518px;
	height: 288px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5749-13
{
	z-index: 8;
	width: 485px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5749,#u5749-2,#u5749-8
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5749-9,#u5749-11
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u5746
{
	z-index: 21;
	width: 518px;
	height: 288px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5747-10
{
	z-index: 22;
	width: 486px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u7398
{
	z-index: 32;
	width: 518px;
	height: 288px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7403-8
{
	z-index: 33;
	width: 486px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 4px;
}

#u7404
{
	z-index: 41;
	width: 518px;
	height: 288px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7407-11
{
	z-index: 42;
	width: 486px;
	min-height: 168px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 4px;
}

#u5747,#u5747-2,#u5747-3,#u5747-5,#u7403,#u7403-3,#u7403-4,#u7407,#u7407-2,#u7407-3,#u7407-5
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
}

#u5747-6,#u5747-8,#u7403-6,#u7407-6,#u7407-9
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
}

#u5747-7,#u7403-5,#u7407-7
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u7407-8
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	font-style: italic;
}

#u5736
{
	z-index: 53;
	width: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 228px;
}

#u5738
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
}

#u5738:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u5738.PamphletThumbSelected
{
	background-color: #29ABE2;
	border-radius: 99px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u5737
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 18px;
}

#u5737:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u7400
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 36px;
}

#u7400:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u7406
{
	position: absolute;
	width: 7px;
	height: 7px;
	border-style: solid;
	border-width: 1px;
	border-color: #29ABE2;
	background-color: #FFFFFF;
	border-radius: 100px;
	left: 54px;
}

#u7406:hover
{
	background-color: #29ABE2;
	border-radius: 100px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

#u5737.PamphletThumbSelected,#u7400.PamphletThumbSelected,#u7406.PamphletThumbSelected
{
	background-color: #29ABE2;
	border-radius: 50px;
	width: 7px;
	height: 7px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#buttonu12800
{
	z-index: 160;
	width: 74px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 797px;
}

#pu11572
{
	width: 0.01px;
	margin-left: 229px;
	margin-top: 21px;
}

#u11572
{
	z-index: 72;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5728
{
	z-index: 73;
	display: block;
}

#u11854
{
	z-index: 78;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 53px;
}

#u5724
{
	z-index: 79;
	display: block;
}

#u11770
{
	z-index: 74;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 105px;
}

#u5756
{
	z-index: 75;
	display: block;
}

#u5734-13
{
	z-index: 58;
	width: 936px;
	min-height: 235px;
	background-color: transparent;
	text-align: justify;
	font-size: 15px;
	line-height: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 94px;
	margin-top: 17px;
	position: relative;
}

#u5749-4,#u5749-6,#u5734-2,#u5734-4,#u5734-9
{
	font-style: italic;
}

#pu5727
{
	width: 0.01px;
	margin-left: 157px;
	margin-top: 29px;
}

#u5727
{
	z-index: 71;
	width: 335px;
	height: 335px;
	position: relative;
	margin-right: -10000px;
	left: 474px;
}

.ie #buttonu12800,.ie #u5727
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5777
{
	z-index: 83;
	width: 335px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.24);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 474px;
}

#u7414
{
	z-index: 85;
	width: 333px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.24);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu5730
{
	width: 0.01px;
	margin-left: 121px;
	margin-top: 29px;
}

#u5730
{
	z-index: 3;
	width: 404px;
	min-height: 252px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5732
{
	z-index: 80;
	width: 252px;
	min-height: 252px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 552px;
}

#u787
{
	z-index: 2;
	width: 50px;
	min-height: 50px;
	left: -100px;
	top: -70px;
	margin-bottom: -50px;
	position: relative;
}

#pu532-6
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 44px;
}

#u532-6
{
	z-index: 87;
	min-height: 39px;
	padding-left: 20px;
	padding-top: 25px;
	padding-right: 20px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u532-6-bw
{
	z-index: 87;
	min-height: 39px;
}

#u13317-14
{
	z-index: 169;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1069px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1116px;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../fonts/websocialmenus.eot');
	src: local('☺'), url('../fonts/websocialmenus.woff') format('woff'), url('../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__web-icons_5';
	src: url('../fonts/web-icons.eot');
	src: local('☺'), url('../fonts/web-icons.woff') format('woff'), url('../fonts/web-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

