/*

*/

.version.about /* version checker */
{
	color: #000012;
	background-color: #4E21C6;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1126.95px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
}

#u3789
{
	z-index: 10;
}

#u3790-4
{
	z-index: 11;
	min-height: 30px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u3790-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u3790-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u3791
{
	z-index: 15;
}

#u3805
{
	min-height: 29px;
	position: relative;
}

#u3805:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3805:active
{
	min-height: 29px;
	margin: 0px;
}

#u3807-4
{
	min-height: 29px;
	position: relative;
}

#u3805:hover #u3807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3805:active #u3807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3810
{
	min-height: 29px;
	position: relative;
}

#u3805.MuseMenuActive,#u3810:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3810:active
{
	min-height: 29px;
	margin: 0px;
}

#u3812-4
{
	min-height: 29px;
	position: relative;
}

#u3805.MuseMenuActive #u3807-4,#u3810:hover #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3810:active #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3817
{
	min-height: 29px;
	position: relative;
}

#u3810.MuseMenuActive,#u3817:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3817:active
{
	min-height: 29px;
	margin: 0px;
}

#u3820-4
{
	min-height: 29px;
	position: relative;
}

#u3810.MuseMenuActive #u3812-4,#u3817:hover #u3820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3817:active #u3820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3824
{
	min-height: 29px;
	position: relative;
}

#u3817.MuseMenuActive,#u3824:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3824:active
{
	min-height: 29px;
	margin: 0px;
}

#u3827-4
{
	min-height: 29px;
	position: relative;
}

#u3817.MuseMenuActive #u3820-4,#u3824:hover #u3827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3824:active #u3827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3831
{
	min-height: 29px;
	position: relative;
}

#u3824.MuseMenuActive,#u3831:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3831:active
{
	min-height: 29px;
	margin: 0px;
}

#u3834-4
{
	min-height: 29px;
	position: relative;
}

#u3824.MuseMenuActive #u3827-4,#u3831:hover #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3831:active #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635
{
	min-height: 29px;
	position: relative;
}

#u3831.MuseMenuActive,#u6635:hover
{
	min-height: 29px;
	margin: 0px;
}

#u6635:active
{
	min-height: 29px;
	margin: 0px;
}

#u6635.MuseMenuActive
{
	min-height: 29px;
	margin: 0px;
}

#u6636-4
{
	min-height: 29px;
	position: relative;
}

#u3831.MuseMenuActive #u3834-4,#u6635:hover #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635:active #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635.MuseMenuActive #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3809,#u3816,#u3823,#u3830,#u6634
{
	margin-top: 2px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#menuu3801,#menuu3801-bw
{
	z-index: 16;
	min-height: 184px;
}

#accordionu3788,#accordionu3788-bw
{
	z-index: 9;
}

#u4294
{
	z-index: 59;
	height: 121px;
	background: transparent url("../../images/yellow-k-logo-horiz-b-w-trans.gif") no-repeat center top;
	background-size: contain;
}

.hidpi #u4294
{
	background-image: url("../../images/yellow-k-logo-horiz-b-w-trans_2x.gif");
}

#u4294-bw
{
	z-index: 59;
	margin-top: 20px;
	height: 121px;
}

#u4293-6
{
	z-index: 53;
	min-height: 36px;
	background-color: transparent;
	color: #333333;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4293-6-bw
{
	z-index: 53;
	min-height: 36px;
	margin-top: 14px;
}

#u4304
{
	z-index: 60;
	width: 311px;
	height: 1px;
	background-color: #484848;
	margin-left: 35px;
	margin-top: 14px;
	position: relative;
}

#u5395
{
	z-index: 61;
	width: 278px;
	border-style: solid;
	border-width: 2px;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 9px;
	margin-left: 49px;
	margin-top: 13px;
	position: relative;
}

#u5396
{
	z-index: 62;
	width: 258px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u13302-21
{
	z-index: 64;
	min-height: 153px;
	background-color: transparent;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u13302-21-bw
{
	z-index: 64;
	min-height: 153px;
	margin-top: 54px;
}

#u13303
{
	z-index: 85;
	width: 380px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 41px;
	position: relative;
}

#u13304-23
{
	z-index: 86;
	width: 380px;
	min-height: 153px;
	background-color: transparent;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u13305
{
	z-index: 109;
	width: 380px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 42px;
	position: relative;
}

#u13306-23
{
	z-index: 110;
	width: 380px;
	min-height: 153px;
	background-color: transparent;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u13302-2,#u13304-2,#u13304-4,#u13306-2,#u13306-4
{
	font-style: italic;
}

#u13302-5,#u13302-6,#u13304-7,#u13304-8,#u13306-7
{
	font-size: 18px;
	line-height: 18px;
}

#u13306-8
{
	font-size: 20px;
	line-height: 20px;
}

#u13302-3,#u13302-9,#u13304-5,#u13304-11,#u13306-5,#u13306-11
{
	font-size: 22px;
	line-height: 22px;
}

#u13302-10,#u13304-12,#u13306-12
{
	font-size: 17px;
	line-height: 17px;
}

#u13302-19,#u13304-21,#u13306-21
{
	font-size: 35px;
	line-height: 35px;
	color: #7F7F7F;
}

#u13302-11,#u13302-13,#u13302-14,#u13302-16,#u13302-17,#u13304-13,#u13304-15,#u13304-16,#u13304-18,#u13304-19,#u13306-13,#u13306-15,#u13306-16,#u13306-18,#u13306-19
{
	font-family: '__websocialmenus_5';
	font-weight: 400;
}

#pu4301
{
	width: 0.01px;
	margin-top: 45px;
}

#u4301,#u4301-bw
{
	z-index: 2;
	height: 77px;
}

#u3936-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u3936-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u13321-14
{
	z-index: 133;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 90px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

@font-face
{
	font-family: '__web-icons_5';
	src: url('../../fonts/web-icons.eot');
	src: local('☺'), url('../../fonts/web-icons.woff') format('woff'), url('../../fonts/web-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

