/*

*/

.version.about /* version checker */
{
	color: #00000E;
	background-color: #616034;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 612.95px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
}

#page_position_content
{
	width: 0.01px;
}

#u3789
{
	z-index: 13;
}

#u3790-4
{
	z-index: 14;
	min-height: 45px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u3790-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 45px;
	margin: 0px;
}

#u3790-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 45px;
	margin: 0px;
}

#u3791
{
	z-index: 18;
}

#u3805
{
	min-height: 20px;
	padding-bottom: 5px;
}

#u3805:hover
{
	min-height: 20px;
	margin: 0px;
}

#u3805:active
{
	min-height: 20px;
	margin: 0px;
}

#u3807-4
{
	min-height: 20px;
	top: 2px;
}

#u3805:hover #u3807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3805:active #u3807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3810
{
	min-height: 20px;
	padding-bottom: 5px;
}

#u3805.MuseMenuActive,#u3810:hover
{
	min-height: 20px;
	margin: 0px;
}

#u3810:active
{
	min-height: 20px;
	margin: 0px;
}

#u3812-4
{
	min-height: 20px;
	top: 2px;
}

#u3805.MuseMenuActive #u3807-4,#u3810:hover #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3810:active #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3817
{
	min-height: 20px;
	padding-bottom: 5px;
}

#u3810.MuseMenuActive,#u3817:hover
{
	min-height: 20px;
	margin: 0px;
}

#u3817:active
{
	min-height: 20px;
	margin: 0px;
}

#u3820-4
{
	min-height: 20px;
	top: 2px;
}

#u3810.MuseMenuActive #u3812-4,#u3817:hover #u3820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3817:active #u3820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3824
{
	min-height: 20px;
	padding-bottom: 5px;
}

#u3817.MuseMenuActive,#u3824:hover
{
	min-height: 20px;
	margin: 0px;
}

#u3824:active
{
	min-height: 20px;
	margin: 0px;
}

#u3827-4
{
	min-height: 20px;
	top: 2px;
}

#u3817.MuseMenuActive #u3820-4,#u3824:hover #u3827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3824:active #u3827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3831
{
	min-height: 20px;
	padding-bottom: 6px;
}

#u3824.MuseMenuActive,#u3831:hover
{
	min-height: 20px;
	margin: 0px;
}

#u3831:active
{
	min-height: 20px;
	margin: 0px;
}

#u3831.MuseMenuActive
{
	min-height: 20px;
	margin: 0px;
}

#u3834-4
{
	min-height: 20px;
	top: 3px;
}

#u3824.MuseMenuActive #u3827-4,#u3831:hover #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3831:active #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3831.MuseMenuActive #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3809,#u3816,#u3823,#u3830
{
	margin-top: 2px;
}

#menuu3801,#menuu3801-bw
{
	z-index: 19;
	min-height: 134px;
}

#accordionu3788,#accordionu3788-bw
{
	z-index: 12;
}

#u4294
{
	z-index: 56;
	height: 121px;
	background: transparent url("../../images/yellow-k-logo-horiz-b-w-trans.gif") no-repeat center top;
	background-size: contain;
}

.hidpi #u4294
{
	background-image: url("../../images/yellow-k-logo-horiz-b-w-trans_2x.gif");
}

#u4294-bw
{
	z-index: 56;
	margin-top: 5px;
	height: 121px;
}

#u4293-6
{
	z-index: 50;
	min-height: 36px;
	background-color: transparent;
	color: #333333;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4293-6-bw
{
	z-index: 50;
	min-height: 36px;
	margin-top: 14px;
}

#u4304
{
	z-index: 57;
	width: 311px;
	height: 1px;
	background-color: #484848;
	margin-left: 35px;
	margin-top: 14px;
	position: relative;
}

#u5395
{
	z-index: 58;
	width: 278px;
	border-width: 2px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 9px;
	margin-left: 49px;
	margin-top: 13px;
	position: relative;
}

#u5396
{
	z-index: 59;
	width: 258px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#pu4301
{
	width: 0.01px;
	margin-top: 127px;
}

#u4301,#u4301-bw
{
	z-index: 2;
	height: 77px;
}

#u3936-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u3936-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u4298
{
	z-index: 9;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 172px;
}

#u4299
{
	z-index: 10;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 251px;
}

#u4300
{
	z-index: 11;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 93px;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

