/*

*/

.version.dist /* version checker */
{
	color: #0000E6;
	background-color: #2D7B95;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 613px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u132777
{
	z-index: 107;
}

#u132822-4
{
	z-index: 108;
	min-height: 30px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u132822-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u132822-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u132822-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u132778
{
	z-index: 112;
}

#menuu132779
{
	z-index: 113;
	width: 352px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u132787
{
	width: 352px;
	position: relative;
}

#u132788
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u132788:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132791-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132788:hover #u132791-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132804
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u132788.MuseMenuActive,#u132804:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132807-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132788.MuseMenuActive #u132791-4,#u132804:hover #u132807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132818
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u132804.MuseMenuActive,#u132818:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132821-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132804.MuseMenuActive #u132807-4,#u132818:hover #u132821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132781
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u132818.MuseMenuActive,#u132781:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132783-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132818.MuseMenuActive #u132821-4,#u132781:hover #u132783-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132795
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u132781.MuseMenuActive,#u132795:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132797-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132781.MuseMenuActive #u132783-4,#u132795:hover #u132797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132801,#u132815,#u132780,#u132794,#u132808
{
	width: 352px;
	margin-top: 2px;
	position: relative;
}

#u132811
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u132795.MuseMenuActive,#u132811:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132811.MuseMenuActive
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132813-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132795.MuseMenuActive #u132797-4,#u132811:hover #u132813-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132811.MuseMenuActive #u132813-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#accordionu132776,#accordionu132776-bw
{
	z-index: 106;
}

#pu132751
{
	width: 0.01px;
	margin-left: 109px;
}

#u132751
{
	z-index: 104;
	width: 162px;
	position: relative;
	margin-right: -10000px;
}

#u133169-4
{
	z-index: 86;
	width: 37px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 196px;
}

#u12061
{
	z-index: 9;
	width: 133px;
	background-color: transparent;
	margin-left: 14px;
	margin-top: 16px;
	position: relative;
}

#u6645
{
	z-index: 10;
	display: block;
}

#u123256-12
{
	z-index: 69;
	min-height: 80px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u123256-2,#u123256-3,#u123256-7
{
	font-size: 19px;
	line-height: 23px;
	padding-right: 10px;
	padding-left: 10px;
}

#u123256-6,#u123256-10
{
	font-size: 27px;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u123256-4,#u123256-8
{
	font-size: 19px;
	line-height: 23px;
}

#u123256-12-bw
{
	z-index: 69;
	min-height: 80px;
	margin-top: 6px;
}

#u123258
{
	z-index: 85;
	width: 339px;
	height: 2px;
	background-color: #7F7F7F;
	margin-left: 21px;
	margin-top: 27px;
	position: relative;
}

#u123257-4
{
	z-index: 81;
	min-height: 73px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u123257-2
{
	padding-right: 10px;
	padding-left: 10px;
}

#u123257-4-bw
{
	z-index: 81;
	min-height: 73px;
	margin-top: 27px;
}

#pu7364
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 38px;
}

#u7364
{
	z-index: 11;
	width: 128px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu7367-7
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 143px;
}

#u7367-7
{
	z-index: 17;
	width: 108px;
	min-height: 48px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u7367-2
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	font-style: italic;
}

#u7367-5
{
	font-size: 21px;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7367-3
{
	font-size: 12px;
	font-style: italic;
	line-height: 14px;
}

#u7367-4
{
	font-style: italic;
	line-height: 25px;
}

#u7366-4
{
	z-index: 13;
	width: 92px;
	min-height: 34px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-top: 15px;
	position: relative;
}

#u7368-45
{
	z-index: 24;
	min-height: 546px;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 5px;
}

#u7368-20
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u7368-11,#u7368-16,#u7368-26,#u7368-28
{
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u7368-10,#u7368-15,#u7368-27
{
	text-decoration: underline;
}

#u7368-9,#u7368-29
{
	text-decoration: underline;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u7368-23,#u7368-31,#u7368-35,#u7368-39
{
	font-style: italic;
}

#u7368-2,#u7368-3,#u7368-8,#u7368-13,#u7368-14,#u7368-18,#u7368-19,#u7368-25,#u7368-32,#u7368-33,#u7368-36,#u7368-37,#u7368-41,#u7368-42
{
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u7368-45-bw
{
	z-index: 24;
	min-height: 546px;
	margin-top: 17px;
}

#pu4301
{
	width: 0.01px;
}

#u4301,#u4301-bw
{
	z-index: 2;
	height: 77px;
}

#u3936-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u3936-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u13321-14
{
	z-index: 90;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 90px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

@font-face
{
	font-family: '__web-icons_5';
	src: url('../../fonts/web-icons.eot');
	src: local('☺'), url('../../fonts/web-icons.woff') format('woff'), url('../../fonts/web-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

