/*

*/

.version.eskimeaux /* version checker */
{
	color: #00000D;
	background-color: #E53CF8;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1538.95px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
}

#u3789
{
	z-index: 10;
}

#u3790-4
{
	z-index: 11;
	min-height: 30px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u3790-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u3790-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u3791
{
	z-index: 15;
}

#u3805
{
	min-height: 29px;
	position: relative;
}

#u3805:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3805:active
{
	min-height: 29px;
	margin: 0px;
}

#u3807-4
{
	min-height: 29px;
	position: relative;
}

#u3805:hover #u3807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3805:active #u3807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3810
{
	min-height: 29px;
	position: relative;
}

#u3805.MuseMenuActive,#u3810:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3810:active
{
	min-height: 29px;
	margin: 0px;
}

#u3812-4
{
	min-height: 29px;
	position: relative;
}

#u3805.MuseMenuActive #u3807-4,#u3810:hover #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3810:active #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3817
{
	min-height: 29px;
	position: relative;
}

#u3810.MuseMenuActive,#u3817:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3817:active
{
	min-height: 29px;
	margin: 0px;
}

#u3820-4
{
	min-height: 29px;
	position: relative;
}

#u3810.MuseMenuActive #u3812-4,#u3817:hover #u3820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3817:active #u3820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3824
{
	min-height: 29px;
	position: relative;
}

#u3817.MuseMenuActive,#u3824:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3824:active
{
	min-height: 29px;
	margin: 0px;
}

#u3827-4
{
	min-height: 29px;
	position: relative;
}

#u3817.MuseMenuActive #u3820-4,#u3824:hover #u3827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3824:active #u3827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3831
{
	min-height: 29px;
	position: relative;
}

#u3824.MuseMenuActive,#u3831:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3831:active
{
	min-height: 29px;
	margin: 0px;
}

#u3834-4
{
	min-height: 29px;
	position: relative;
}

#u3824.MuseMenuActive #u3827-4,#u3831:hover #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3831:active #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635
{
	min-height: 29px;
	position: relative;
}

#u3831.MuseMenuActive,#u6635:hover
{
	min-height: 29px;
	margin: 0px;
}

#u6635:active
{
	min-height: 29px;
	margin: 0px;
}

#u6635.MuseMenuActive
{
	min-height: 29px;
	margin: 0px;
}

#u6636-4
{
	min-height: 29px;
	position: relative;
}

#u3831.MuseMenuActive #u3834-4,#u6635:hover #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635:active #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635.MuseMenuActive #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3809,#u3816,#u3823,#u3830,#u6634
{
	margin-top: 2px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#menuu3801,#menuu3801-bw
{
	z-index: 16;
	min-height: 184px;
}

#accordionu3788,#accordionu3788-bw
{
	z-index: 9;
}

#u11971
{
	z-index: 102;
	width: 60px;
	background-color: transparent;
	margin-left: 8px;
	margin-top: 29px;
	position: relative;
}

#u6004
{
	z-index: 103;
	display: block;
}

#u12034
{
	z-index: 57;
	width: 324px;
	background-color: transparent;
	margin-left: 28px;
	margin-top: 20px;
	position: relative;
}

#u5985
{
	z-index: 58;
	display: block;
}

#u5987
{
	z-index: 59;
	width: 321px;
	background-color: transparent;
	margin-left: 29px;
	margin-top: 21px;
	position: relative;
}

#pu11578
{
	width: 0.01px;
	margin-left: 110px;
	margin-top: 20px;
}

#u11578
{
	z-index: 53;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5981
{
	z-index: 54;
	display: block;
}

#u11650
{
	z-index: 61;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u5989
{
	z-index: 62;
	display: block;
}

#u11860
{
	z-index: 55;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u5983
{
	z-index: 56;
	display: block;
}

#u5991-21
{
	z-index: 63;
	min-height: 271px;
	background-color: transparent;
	line-height: 18px;
	text-align: justify;
	font-size: 15px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5991-8,#u5991-9,#u5991-11,#u5991-12,#u5991-19
{
	padding-right: 10px;
	padding-left: 10px;
}

#u5991-2,#u5991-4,#u5991-6,#u5991-13,#u5991-15,#u5991-17
{
	font-style: italic;
}

#u5991-21-bw
{
	z-index: 63;
	min-height: 271px;
	margin-top: 12px;
}

#u5994-18
{
	z-index: 84;
	min-height: 187px;
	background-color: transparent;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5994-2
{
	font-size: 39px;
	line-height: 47px;
}

#u5994-4
{
	font-size: 30px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5994-3
{
	font-size: 14px;
	line-height: 17px;
}

#u5994-5
{
	font-size: 30px;
	line-height: 36px;
}

#u5994-7
{
	font-size: 22px;
	line-height: 26px;
	font-style: italic;
}

#u5994-10,#u5994-13,#u5994-16
{
	font-size: 22px;
	line-height: 26px;
}

#u5994-18-bw
{
	z-index: 84;
	min-height: 187px;
	margin-top: 36px;
}

#u7231
{
	z-index: 104;
	width: 222px;
	background-color: transparent;
	margin-left: 79px;
	margin-top: 36px;
	position: relative;
}

#pu4301
{
	width: 0.01px;
	margin-top: 42px;
}

#u4301,#u4301-bw
{
	z-index: 2;
	height: 77px;
}

#u3936-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u3936-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u13321-14
{
	z-index: 106;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 90px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

@font-face
{
	font-family: '__web-icons_5';
	src: url('../../fonts/web-icons.eot');
	src: local('☺'), url('../../fonts/web-icons.woff') format('woff'), url('../../fonts/web-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

