.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u3790-4.AccordionPanelTabOpen p,#u3790-4
{
	font-family: '__websocialmenus_5';
}

#u3807-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3812-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3820-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3827-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3834-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6636-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3936-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4246-4,#u4248-4,#u12512-35,#u12504-19,#u12493-11,#u12502-14,#u8705-19,#u8688-13,#u8699-16,#u8691-14
{
	font-family: source-sans-pro-n3, sans-serif;
}

