.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u3790-4.AccordionPanelTabOpen p,#u3790-4
{
	font-family: '__websocialmenus_5';
}

#u3807-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3812-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3820-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3827-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3834-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6636-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3936-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6356-20,#u5373-20,#u6360-18,#u6010-19,#u5369-31,#u4332-32,#u4314-32,#u4327-39
{
	font-family: open-sans-n6, sans-serif;
}

#u6358-8,#u6357-6,#u6356-38,#u5375-8,#u5374-6,#u5373-37,#u6362-7,#u6361-6,#u6360-25,#u6012-9,#u6011-6,#u6010-32,#u6010-28,#u5379-8,#u5378-7,#u5369-40,#u4341-8,#u4333-6,#u4332-51,#u4343-8,#u4324-6,#u4314-54,#u4314-49,#u4344-8,#u4328-6,#u4327-56,#u4327-26,#u4327-52
{
	font-family: source-sans-pro-n3, sans-serif;
}

