.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u3790-4.AccordionPanelTabOpen p,#u3790-4
{
	font-family: '__websocialmenus_5';
}

#u3807-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3812-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3820-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3827-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3834-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6636-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3936-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4488-6,#u4488-8,#u4480-7,#u4486-7,#u4490-7,#u4482-7,#u4484-7
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u4488,#u4488-2,#u4488-3,#u4488-5,#u4480-10,#u4486-10,#u4490-10,#u4482-10,#u4484-10,#u4497-20,#u4499-15
{
	font-family: source-sans-pro-n3, sans-serif;
}

