.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u3790-4.AccordionPanelTabOpen p,#u3790-4
{
	font-family: '__websocialmenus_5';
}

#u3807-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3812-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3820-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3827-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3834-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6636-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3936-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u7368-20
{
	font-family: open-sans-n6, sans-serif;
}

#u7367-7,#u7366-4,#u7368-2,#u7368-3,#u7368-8,#u7368-9,#u7368-11,#u7368-13,#u7368-14,#u7368-16,#u7368-18,#u7368-19,#u7368-25,#u7368-26,#u7368-28,#u7368-29,#u7368-32,#u7368-33,#u7368-36,#u7368-37,#u7368-41,#u7368-42
{
	font-family: source-sans-pro-n3, sans-serif;
}

