.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u3790-4.AccordionPanelTabOpen p,#u3790-4
{
	font-family: '__websocialmenus_5';
}

#u3807-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3812-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3820-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3827-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3834-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3936-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4332-32,#u4329-28,#u4314-32,#u4327-35
{
	font-family: open-sans-n6, sans-serif;
}

#u4341-8,#u4333-6,#u4332-51,#u4342-8,#u4330-6,#u4329-42,#u4329-38,#u4343-8,#u4324-6,#u4314-54,#u4314-49,#u4344-8,#u4328-6,#u4327-52,#u4327-48
{
	font-family: source-sans-pro-n3, sans-serif;
}

