/*

*/

.version.index /* version checker */
{
	color: #000002;
	background-color: #6A062A;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 2722.95px;
	background-image: none;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	border-width: 0px 0px 1px;
}

#u132777
{
	z-index: 71;
}

#u132822-4
{
	z-index: 72;
	min-height: 30px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u132822-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u132822-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u132822-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u132778
{
	z-index: 76;
}

#menuu132779
{
	z-index: 77;
	width: 352px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u132787
{
	width: 352px;
	position: relative;
}

#u132788
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u132788:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132791-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132788:hover #u132791-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132804
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u132788.MuseMenuActive,#u132804:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132807-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132788.MuseMenuActive #u132791-4,#u132804:hover #u132807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132818
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u132804.MuseMenuActive,#u132818:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132821-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132804.MuseMenuActive #u132807-4,#u132818:hover #u132821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132781
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u132818.MuseMenuActive,#u132781:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132783-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132818.MuseMenuActive #u132821-4,#u132781:hover #u132783-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132795
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u132781.MuseMenuActive,#u132795:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132797-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132781.MuseMenuActive #u132783-4,#u132795:hover #u132797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132801,#u132815,#u132780,#u132794,#u132808
{
	width: 352px;
	margin-top: 2px;
	position: relative;
}

#u132811
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u132795.MuseMenuActive,#u132811:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132811.MuseMenuActive
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132813-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132795.MuseMenuActive #u132797-4,#u132811:hover #u132813-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132811.MuseMenuActive #u132813-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#accordionu132776,#accordionu132776-bw
{
	z-index: 70;
}

#pu132751
{
	width: 0.01px;
	margin-left: 109px;
}

#u132751
{
	z-index: 68;
	width: 162px;
	position: relative;
	margin-right: -10000px;
}

#u133169-4
{
	z-index: 50;
	width: 37px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 196px;
}

#u4247
{
	z-index: 9;
	width: 363px;
	height: 3px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-left: 9px;
	margin-top: 16px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u160198
{
	z-index: 35;
	width: 355px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 13px;
	margin-top: 22px;
	position: relative;
}

#u160201
{
	z-index: 36;
	width: 355px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u160204
{
	z-index: 37;
	width: 355px;
	-pie-box-shadow: 5px 3px 10px #AAAAAA;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	background-color: #F0F1F3;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u160204_position_content
{
	padding-top: 334px;
	padding-bottom: 19px;
	width: 100%;
}

#u160202-4
{
	z-index: 38;
	width: 319px;
	min-height: 47px;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../../images/blank.gif");
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	text-align: center;
	line-height: 44px;
	letter-spacing: 3px;
	color: #484848;
	font-size: 37px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 17px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u160202-4:hover
{
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 47px;
	width: 319px;
	margin: 0px 0px 0px 17px;
}

#u160203-6
{
	z-index: 42;
	width: 355px;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-top: 8px;
	position: relative;
}

#u160203-2
{
	font-size: 23px;
	line-height: 28px;
}

#u160203-4
{
	font-size: 24px;
	line-height: 29px;
}

#u160199
{
	z-index: 48;
	width: 320px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 17px;
}

#u160205
{
	z-index: 114;
	width: 354px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 13px;
	margin-top: 24px;
	position: relative;
}

#u160206
{
	z-index: 115;
	width: 354px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u160208
{
	z-index: 116;
	width: 311px;
	-pie-box-shadow: 9px 4px 8px #CCCCCC;
	box-shadow: 9px 4px 8px rgba(0,0,0,0.2);
	background-color: #F0F1F3;
	position: relative;
	margin-right: -10000px;
	padding: 337px 16px 10.336270374232754px 27px;
}

#u160207-4
{
	z-index: 121;
	width: 311px;
	min-height: 55px;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../../images/blank.gif");
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	color: #484848;
	text-align: center;
	font-size: 37px;
	line-height: 44px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 1px;
}

#u160207-4:hover
{
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 311px;
	margin: 0px;
}

#u160209-4
{
	z-index: 117;
	width: 311px;
	min-height: 36px;
	background-color: transparent;
	text-align: center;
	font-size: 24px;
	line-height: 29px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-top: 8px;
	position: relative;
}

#u160210
{
	z-index: 125;
	width: 314px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 20px;
}

#u160185
{
	z-index: 10;
	width: 260px;
	height: 1px;
	background-color: #484848;
	margin-left: 59px;
	margin-top: 31px;
	position: relative;
}

#u160212
{
	z-index: 127;
	width: 355px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 12px;
	margin-top: 32px;
	position: relative;
}

#u160215
{
	z-index: 128;
	width: 311px;
	-pie-box-shadow: 9px 4px 8px #CCCCCC;
	box-shadow: 9px 4px 8px rgba(0,0,0,0.2);
	background-color: #F0F1F3;
	position: relative;
	margin-right: -10000px;
	padding: 10px 22px 28.436554570216686px;
}

#u160213-4
{
	z-index: 130;
	width: 311px;
	min-height: 56px;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../../images/blank.gif");
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	color: #484848;
	text-align: center;
	font-size: 34px;
	line-height: 41px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 1px;
}

#u160213-4:hover
{
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 56px;
	width: 311px;
	margin: 0px;
}

#u160214
{
	z-index: 129;
	width: 311px;
	height: 192px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 100000px;
	min-width: 100px;
	margin-top: 15px;
	position: relative;
}

#u160216
{
	z-index: 134;
	width: 355px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 11px;
	margin-top: 15px;
	position: relative;
}

#u160217
{
	z-index: 135;
	width: 312px;
	-pie-box-shadow: 9px 4px 8px #CCCCCC;
	box-shadow: 9px 4px 8px rgba(0,0,0,0.2);
	background-color: #F0F1F3;
	position: relative;
	margin-right: -10000px;
	padding: 7px 22px 23.07491022622412px 21px;
}

#u160219-4
{
	z-index: 137;
	width: 311px;
	min-height: 46px;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../../images/blank.gif");
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	color: #484848;
	text-align: center;
	font-size: 27px;
	line-height: 32px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	border-width: 0px 0px 1px;
}

#u160219-4:hover
{
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 311px;
	margin: 0px;
}

#u160207-2,#u160213-2,#u160219-2
{
	padding-top: 7px;
}

#u160218
{
	z-index: 136;
	width: 311px;
	height: 207px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 100000px;
	min-width: 100px;
	margin-left: 1px;
	margin-top: 18px;
	position: relative;
}

#u160192
{
	z-index: 23;
	width: 351px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 14px;
	margin-top: 20px;
	position: relative;
}

#u160193
{
	z-index: 24;
	width: 351px;
	-pie-box-shadow: 5px 3px 10px #AAAAAA;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	background-color: #F0F1F3;
	padding-top: 16px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u160195
{
	z-index: 25;
	width: 297px;
	border-style: solid;
	border-width: 1px;
	border-color: #A4A4A4;
	background-color: transparent;
	margin-left: 26px;
	position: relative;
}

#u160194-4
{
	z-index: 31;
	width: 277px;
	min-height: 46px;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../../images/blank.gif");
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	text-align: center;
	line-height: 29px;
	letter-spacing: 3px;
	color: #484848;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 37px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u160194-4:hover
{
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	width: 277px;
	margin: 0px 0px -8px 37px;
}

#u160197-4
{
	z-index: 27;
	width: 351px;
	min-height: 29px;
	background-color: transparent;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-top: 8px;
	position: relative;
}

#u160186
{
	z-index: 11;
	width: 354px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 12px;
	margin-top: 22px;
	position: relative;
}

#u160187
{
	z-index: 12;
	width: 317px;
	-pie-box-shadow: 5px 3px 10px #AAAAAA;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	background-color: #F0F1F3;
	position: relative;
	margin-right: -10000px;
	padding: 31px 19px 4.3403924516042025px 18px;
}

#u160190
{
	z-index: 13;
	width: 283px;
	background-color: transparent;
	margin-left: 18px;
	position: relative;
}

#u160188-4
{
	z-index: 19;
	width: 282px;
	min-height: 51px;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../../images/blank.gif");
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	text-align: center;
	line-height: 29px;
	letter-spacing: 1px;
	color: #484848;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 18px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u160188-4:hover
{
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 51px;
	width: 282px;
	margin: 0px 0px 0px 18px;
}

#u160202-4:hover p,#u160207-4:hover p,#u160213-4:hover p,#u160219-4:hover p,#u160194-4:hover p,#u160188-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u160202-2,#u160194-2,#u160188-2
{
	padding-top: 10px;
}

#u160189-4
{
	z-index: 15;
	width: 317px;
	min-height: 28px;
	background-color: transparent;
	text-align: center;
	font-size: 19px;
	line-height: 23px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	margin-top: 6px;
	position: relative;
}

#pu4301
{
	width: 0.01px;
	margin-top: 22px;
}

#u4301,#u4301-bw
{
	z-index: 2;
	height: 77px;
}

#u3936-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u3936-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u13321-14
{
	z-index: 54;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 90px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

@font-face
{
	font-family: '__web-icons_5';
	src: url('../../fonts/web-icons.eot');
	src: local('☺'), url('../../fonts/web-icons.woff') format('woff'), url('../../fonts/web-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}








