/*

*/

.version.index /* version checker */
{
	color: #00000C;
	background-color: #8BB966;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 612.8700279924733px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
}

#page_position_content
{
	width: 0.01px;
}

#u3789
{
	z-index: 3;
}

#u3790-4
{
	z-index: 4;
	min-height: 45px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u3790-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 45px;
	margin: 0px;
}

#u3790-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 45px;
	margin: 0px;
}

#u3791
{
	z-index: 8;
}

#u3805
{
	min-height: 20px;
	padding-bottom: 5px;
}

#u3805:hover
{
	min-height: 20px;
	margin: 0px;
}

#u3805:active
{
	min-height: 20px;
	margin: 0px;
}

#u3807-4
{
	min-height: 20px;
	top: 2px;
}

#u3805:hover #u3807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3805:active #u3807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3810
{
	min-height: 20px;
	padding-bottom: 5px;
}

#u3805.MuseMenuActive,#u3810:hover
{
	min-height: 20px;
	margin: 0px;
}

#u3810:active
{
	min-height: 20px;
	margin: 0px;
}

#u3812-4
{
	min-height: 20px;
	top: 2px;
}

#u3805.MuseMenuActive #u3807-4,#u3810:hover #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3810:active #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3817
{
	min-height: 20px;
	padding-bottom: 5px;
}

#u3810.MuseMenuActive,#u3817:hover
{
	min-height: 20px;
	margin: 0px;
}

#u3817:active
{
	min-height: 20px;
	margin: 0px;
}

#u3820-4
{
	min-height: 20px;
	top: 2px;
}

#u3810.MuseMenuActive #u3812-4,#u3817:hover #u3820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3817:active #u3820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3824
{
	min-height: 20px;
	padding-bottom: 5px;
}

#u3817.MuseMenuActive,#u3824:hover
{
	min-height: 20px;
	margin: 0px;
}

#u3824:active
{
	min-height: 20px;
	margin: 0px;
}

#u3827-4
{
	min-height: 20px;
	top: 2px;
}

#u3817.MuseMenuActive #u3820-4,#u3824:hover #u3827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3824:active #u3827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3831
{
	min-height: 20px;
	padding-bottom: 6px;
}

#u3824.MuseMenuActive,#u3831:hover
{
	min-height: 20px;
	margin: 0px;
}

#u3831:active
{
	min-height: 20px;
	margin: 0px;
}

#u3831.MuseMenuActive
{
	min-height: 20px;
	margin: 0px;
}

#u3834-4
{
	min-height: 20px;
	top: 3px;
}

#u3824.MuseMenuActive #u3827-4,#u3831:hover #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3831:active #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3831.MuseMenuActive #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u3809,#u3816,#u3823,#u3830
{
	margin-top: 2px;
}

#menuu3801,#menuu3801-bw
{
	z-index: 9;
	min-height: 134px;
}

#accordionu3788,#accordionu3788-bw
{
	z-index: 2;
}

#u3940
{
	z-index: 40;
	height: 141px;
	background: transparent url("../../images/yellow-k-logo-horiz-b-w-trans.gif") no-repeat center top;
	background-size: contain;
}

.hidpi #u3940
{
	background-image: url("../../images/yellow-k-logo-horiz-b-w-trans_2x.gif");
}

#u3940-bw
{
	z-index: 40;
	height: 141px;
}

#pu3895
{
	width: 0.01px;
	margin-left: 74px;
	margin-top: 9px;
}

#u3895
{
	z-index: 130;
	width: 44px;
	height: 42px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	background-size: contain;
}

.nosvg #u3895
{
	background-image: url('../../images/insta-01_poster_u1385.png');
}

.big_menu_insta
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../../images/insta-01.svg") no-repeat center center;
	background-size: contain;
}

#u3893
{
	z-index: 128;
	width: 44px;
	height: 42px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 94px;
	background-size: contain;
}

.nosvg #u3893
{
	background-image: url('../../images/fb-01-01_poster_u1346.png');
}

.big_menu_facebook
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../../images/fb-01-01.svg") no-repeat center center;
	background-size: contain;
}

#u3894
{
	z-index: 129;
	width: 44px;
	height: 42px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 188px;
	background-size: contain;
}

.nosvg #u3894
{
	background-image: url('../../images/twiiter-01_poster_u1372.png');
}

.big_menu_twitter
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../../images/twiiter-01.svg") no-repeat center center;
	background-size: contain;
}

#pamphletu4164
{
	z-index: 45;
	width: 0.01px;
	height: 507px;
	padding-bottom: 5px;
	margin-top: 10px;
	position: relative;
}

#u4172
{
	position: absolute;
	width: 381px;
	background-color: transparent;
}

#u4172popup
{
	z-index: 46;
}

#u4173
{
	z-index: 47;
	width: 380px;
	height: 442px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 13px;
	padding-right: 1px;
	padding-bottom: 57px;
	margin-right: -10000px;
	position: relative;
}

#u4174
{
	z-index: 48;
	width: 365px;
	min-height: 228px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 7px;
	position: relative;
}

#u4176-13
{
	z-index: 49;
	width: 380px;
	min-height: 208px;
	background-color: transparent;
	font-size: 32px;
	margin-top: 6px;
	position: relative;
}

#u4177
{
	z-index: 62;
	width: 381px;
	height: 512px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4178
{
	z-index: 63;
	width: 380px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#u4179
{
	z-index: 64;
	width: 365px;
	min-height: 228px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 7px;
	position: relative;
}

#u4181-15
{
	z-index: 65;
	width: 380px;
	min-height: 208px;
	background-color: transparent;
	font-size: 32px;
	margin-top: 6px;
	position: relative;
}

#u4182
{
	z-index: 80;
	width: 381px;
	height: 512px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4183
{
	z-index: 81;
	width: 378px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1px;
}

#u4184
{
	z-index: 82;
	width: 179px;
	min-height: 224px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 9px;
	position: relative;
}

#u4186-13
{
	z-index: 83;
	width: 378px;
	min-height: 208px;
	background-color: transparent;
	font-size: 32px;
	margin-top: 11px;
	position: relative;
}

#u4181-13,#u4186-11
{
	text-align: justify;
	padding-right: 12px;
	padding-left: 12px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4176-9,#u4181-9,#u4181-11,#u4186-9
{
	font-size: 14px;
	font-style: italic;
	line-height: 25px;
}

#u4176-8,#u4176-10,#u4181-8,#u4181-10,#u4181-12,#u4186-8,#u4186-10
{
	font-size: 14px;
	line-height: 25px;
}

#u4187
{
	z-index: 96;
	width: 179px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 190px;
}

#u4189
{
	z-index: 98;
	width: 380px;
	height: 445px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 11px;
	padding-right: 1px;
	padding-bottom: 56px;
	margin-right: -10000px;
	position: relative;
}

#u4191
{
	z-index: 116;
	width: 365px;
	min-height: 229px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 8px;
	position: relative;
}

#u4190-17
{
	z-index: 99;
	width: 380px;
	min-height: 208px;
	background-color: transparent;
	font-size: 32px;
	margin-top: 5px;
	position: relative;
}

#u4176-3,#u4181-3,#u4186-3,#u4190-3
{
	line-height: 38px;
	padding-right: 12px;
	padding-left: 12px;
}

#u4176-5,#u4176-11,#u4181-5,#u4186-5,#u4190-5
{
	padding-right: 12px;
	padding-left: 12px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4176-4,#u4181-4,#u4186-4,#u4190-4
{
	font-size: 14px;
	line-height: 17px;
}

#u4176-7,#u4181-7,#u4186-7,#u4190-7,#u4190-15
{
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4176-6,#u4181-6,#u4186-6,#u4190-6,#u4190-10,#u4190-12
{
	font-size: 14px;
	line-height: 28px;
}

#u4190-9,#u4190-13
{
	font-size: 14px;
	font-style: italic;
	line-height: 28px;
}

#u4190-8,#u4190-11,#u4190-14
{
	font-size: 14px;
	font-style: normal;
	line-height: 28px;
}

#u4165
{
	z-index: 117;
	width: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 492px;
	left: 150px;
}

#u4167
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u4167.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u4168
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	left: 22px;
	background: transparent url("../../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u4168.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u4166
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	left: 44px;
	background: transparent url("../../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u4166.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u4169
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	left: 66px;
	background: transparent url("../../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u4167,.nosvg #u4168,.nosvg #u4166,.nosvg #u4169
{
	background-image: url('../../images/thumbnail_poster_u2139.png');
}

#u4169.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u4167.PamphletThumbSelected,.nosvg #u4168.PamphletThumbSelected,.nosvg #u4166.PamphletThumbSelected,.nosvg #u4169.PamphletThumbSelected
{
	background-image: url('../../images/thumbnail_active_poster_u2145.png');
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u4115
{
	z-index: 43;
	margin-left: 108px;
	margin-top: 150px;
	position: relative;
}

#u4123
{
	z-index: 44;
	margin-left: 114px;
	margin-top: 14px;
	position: relative;
}

#u4112
{
	z-index: 42;
	overflow: hidden;
	margin-left: 82px;
	margin-top: 13px;
	position: relative;
}

#u4109
{
	z-index: 41;
	overflow: hidden;
	margin-left: 120px;
	margin-top: 16px;
	position: relative;
}

#u3936-6
{
	z-index: 122;
	min-height: 44px;
	padding-top: 24px;
}

#u3936-6-bw
{
	z-index: 122;
	min-height: 44px;
	margin-top: 2px;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

