/*

*/

.version.index /* version checker */
{
	color: #0000E5;
	background-color: #315A0C;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 787.6999999999998px;
	background-image: none;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	border-width: 0px 0px 1px;
}

#u3789
{
	z-index: 13;
}

#u3790-4
{
	z-index: 14;
	min-height: 30px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u3790-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u3790-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u3791
{
	z-index: 18;
}

#u3805
{
	min-height: 29px;
}

#u3805:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3805:active
{
	min-height: 29px;
	margin: 0px;
}

#u3807-4
{
	min-height: 29px;
}

#u3805:hover #u3807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3805:active #u3807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3810
{
	min-height: 29px;
}

#u3805.MuseMenuActive,#u3810:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3810:active
{
	min-height: 29px;
	margin: 0px;
}

#u3812-4
{
	min-height: 29px;
}

#u3805.MuseMenuActive #u3807-4,#u3810:hover #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3810:active #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3817
{
	min-height: 29px;
}

#u3810.MuseMenuActive,#u3817:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3817:active
{
	min-height: 29px;
	margin: 0px;
}

#u3820-4
{
	min-height: 29px;
}

#u3810.MuseMenuActive #u3812-4,#u3817:hover #u3820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3817:active #u3820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3824
{
	min-height: 29px;
}

#u3817.MuseMenuActive,#u3824:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3824:active
{
	min-height: 29px;
	margin: 0px;
}

#u3827-4
{
	min-height: 29px;
}

#u3817.MuseMenuActive #u3820-4,#u3824:hover #u3827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3824:active #u3827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3831
{
	min-height: 29px;
}

#u3824.MuseMenuActive,#u3831:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3831:active
{
	min-height: 29px;
	margin: 0px;
}

#u3834-4
{
	min-height: 29px;
}

#u3824.MuseMenuActive #u3827-4,#u3831:hover #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3831:active #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635
{
	min-height: 29px;
}

#u3831.MuseMenuActive,#u6635:hover
{
	min-height: 29px;
	margin: 0px;
}

#u6635:active
{
	min-height: 29px;
	margin: 0px;
}

#u6635.MuseMenuActive
{
	min-height: 29px;
	margin: 0px;
}

#u6636-4
{
	min-height: 29px;
}

#u3831.MuseMenuActive #u3834-4,#u6635:hover #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635:active #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635.MuseMenuActive #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3809,#u3816,#u3823,#u3830,#u6634
{
	margin-top: 2px;
}

#menuu3801,#menuu3801-bw
{
	z-index: 19;
	min-height: 184px;
}

#accordionu3788,#accordionu3788-bw
{
	z-index: 12;
}

#u3940
{
	z-index: 56;
	height: 141px;
	background: transparent url("../../images/yellow-k-logo-horiz-b-w-trans-u3940-fr.png") no-repeat center top;
	background-size: contain;
}

.hidpi #u3940
{
	background-image: url("../../images/yellow-k-logo-horiz-b-w-trans-u3940-fr_2x.png");
}

#u3940-bw
{
	z-index: 56;
	margin-top: 15px;
	height: 141px;
}

#pu4246-4
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 1px;
}

#u4246-4
{
	z-index: 57;
	width: 94px;
	min-height: 19px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u4248-4
{
	z-index: 62;
	width: 66px;
	min-height: 18px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 151px;
}

#u4255
{
	z-index: 66;
	overflow: hidden;
	position: relative;
	width: 9px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 217px;
}

#u5030
{
	z-index: 67;
	overflow: hidden;
	position: relative;
	width: 45px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 318px;
}

#u4247
{
	z-index: 61;
	width: 363px;
	height: 3px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-left: 9px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	border-width: 0px 0px 1px;
}

#pamphletu7469
{
	z-index: 68;
	width: 0.01px;
	height: 482px;
	padding-bottom: 18px;
	margin-top: 11px;
	position: relative;
}

#u7472
{
	position: absolute;
	width: 380px;
	background-color: transparent;
}

#u7472popup
{
	z-index: 69;
}

#u7485
{
	z-index: 70;
	width: 380px;
	height: 431px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 59px;
	margin-right: -10000px;
	position: relative;
}

#u7487
{
	z-index: 87;
	width: 178px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7489
{
	z-index: 85;
	width: 178px;
	border-width: 1px;
	border-style: solid;
	border-color: #A4A4A4;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 186px;
}

#u7489_img
{
	padding-right: 2px;
	padding-bottom: 2px;
}

#u7486-14
{
	z-index: 71;
	width: 380px;
	min-height: 232px;
	background-color: transparent;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-top: 22px;
	position: relative;
}

#u7486-6
{
	font-size: 18px;
	line-height: 22px;
	padding-right: 12px;
	padding-left: 12px;
}

#u7486-8
{
	font-size: 15px;
	line-height: 30px;
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
}

#u7486-12
{
	font-size: 14px;
	line-height: 28px;
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
}

#u7473
{
	z-index: 89;
	width: 380px;
	height: 435px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 6px;
	padding-bottom: 59px;
	margin-right: -10000px;
	position: relative;
}

#pu7477
{
	width: 0.01px;
	margin-left: 6px;
}

#u7477
{
	z-index: 90;
	width: 178px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7475
{
	z-index: 120;
	width: 179px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#u7474-28
{
	z-index: 92;
	width: 380px;
	min-height: 235px;
	background-color: transparent;
	text-align: justify;
	margin-top: 20px;
	position: relative;
}

#u7474-13
{
	font-size: 18px;
	line-height: 36px;
	padding-right: 12px;
	padding-left: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u7486-9,#u7486-11,#u7474-11
{
	font-style: normal;
}

#u7474-12
{
	font-style: italic;
}

#u7474-17,#u7474-19
{
	font-size: 14px;
	font-style: italic;
	line-height: 25px;
}

#u7491
{
	z-index: 122;
	width: 380px;
	height: 431px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 8px;
	padding-bottom: 61px;
	margin-right: -10000px;
	position: relative;
}

#pu7494
{
	width: 0.01px;
	margin-left: 8px;
}

#u7494
{
	z-index: 151;
	width: 178px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7492
{
	z-index: 153;
	width: 178px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 184px;
}

#u7496-28
{
	z-index: 123;
	width: 380px;
	min-height: 208px;
	background-color: transparent;
	text-align: justify;
	margin-top: 21px;
	position: relative;
}

#u7496-5
{
	font-size: 18px;
	line-height: 22px;
	padding-right: 12px;
	padding-left: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u7496-8
{
	font-size: 32px;
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7496-6
{
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	line-height: 32px;
}

#u7496-10,#u7496-12,#u7496-17,#u7496-20,#u7496-22
{
	font-size: 14px;
	line-height: 28px;
}

#u7496-9,#u7496-13,#u7496-14,#u7496-16,#u7496-19,#u7496-23,#u7496-24
{
	font-size: 14px;
	font-style: normal;
	line-height: 28px;
}

#u7479
{
	z-index: 155;
	width: 380px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 8px;
	padding-bottom: 83px;
	margin-right: -10000px;
	position: relative;
}

#pu7487,#pu7483
{
	width: 0.01px;
	margin-left: 7px;
}

#u7483
{
	z-index: 178;
	width: 180px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7481
{
	z-index: 180;
	width: 180px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u7480-22
{
	z-index: 156;
	width: 380px;
	min-height: 208px;
	background-color: transparent;
	text-align: justify;
	margin-top: 21px;
	position: relative;
}

#u7486-4,#u7474-3,#u7496-3,#u7480-3
{
	font-size: 32px;
	line-height: 38px;
	padding-right: 12px;
	padding-left: 12px;
}

#u7474,#u7496,#u7480
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u7474-6,#u7480-6
{
	font-size: 32px;
	padding-right: 12px;
	padding-left: 12px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7474-4,#u7480-4
{
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	line-height: 22px;
}

#u7480-10
{
	font-size: 16px;
	line-height: 32px;
	padding-right: 12px;
	padding-left: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u7474-26,#u7496-26,#u7480-20
{
	font-size: 32px;
	padding-right: 12px;
	padding-left: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7474-15,#u7480-13,#u7480-15
{
	font-size: 14px;
	line-height: 25px;
}

#u7474-14,#u7474-16,#u7474-18,#u7474-20,#u7474-21,#u7474-23,#u7474-24,#u7480-11,#u7480-12,#u7480-14,#u7480-16,#u7480-17,#u7480-19
{
	font-size: 14px;
	font-style: normal;
	line-height: 25px;
}

#u7497
{
	z-index: 182;
	width: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 468px;
	left: 150px;
}

#u7501
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u7501.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u7498
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	left: 22px;
	background: transparent url("../../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u7498.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u7499
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	left: 44px;
	background: transparent url("../../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u7499.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u7500
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	left: 66px;
	background: transparent url("../../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u7501,.nosvg #u7498,.nosvg #u7499,.nosvg #u7500
{
	background-image: url('../../images/thumbnail_poster_u2139.png');
}

#u7500.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u7501.PamphletThumbSelected,.nosvg #u7498.PamphletThumbSelected,.nosvg #u7499.PamphletThumbSelected,.nosvg #u7500.PamphletThumbSelected
{
	background-image: url('../../images/thumbnail_active_poster_u2145.png');
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#page_position_content,#pu4301
{
	width: 0.01px;
}

#u4301,#u4301-bw
{
	z-index: 2;
	height: 77px;
}

#u3936-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u3936-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u4298
{
	z-index: 9;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 172px;
}

#u4299
{
	z-index: 10;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 251px;
}

#u4300
{
	z-index: 11;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 93px;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

