/*

*/

.version.japanese_breakfast /* version checker */
{
	color: #0000EF;
	background-color: #316842;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1008.9084498843029px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
}

#u132777
{
	z-index: 58;
}

#u132822-4
{
	z-index: 59;
	min-height: 30px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u132822-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u132822-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u132822-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u132778
{
	z-index: 63;
}

#menuu132779
{
	z-index: 64;
	width: 352px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u132787
{
	width: 352px;
	position: relative;
}

#u132788
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u132788:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132791-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132788:hover #u132791-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132804
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u132788.MuseMenuActive,#u132804:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132807-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132788.MuseMenuActive #u132791-4,#u132804:hover #u132807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132818
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u132804.MuseMenuActive,#u132818:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132821-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132804.MuseMenuActive #u132807-4,#u132818:hover #u132821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132781
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u132818.MuseMenuActive,#u132781:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132783-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132818.MuseMenuActive #u132821-4,#u132781:hover #u132783-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132795
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u132781.MuseMenuActive,#u132795:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132797-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132781.MuseMenuActive #u132783-4,#u132795:hover #u132797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132801,#u132815,#u132780,#u132794,#u132808
{
	width: 352px;
	margin-top: 2px;
	position: relative;
}

#u132811
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u132795.MuseMenuActive,#u132811:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132811.MuseMenuActive
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132813-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132795.MuseMenuActive #u132797-4,#u132811:hover #u132813-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132811.MuseMenuActive #u132813-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#accordionu132776,#accordionu132776-bw
{
	z-index: 57;
}

#pu132751
{
	width: 0.01px;
	margin-left: 109px;
}

#u132751
{
	z-index: 55;
	width: 162px;
	position: relative;
	margin-right: -10000px;
}

#u133169-4
{
	z-index: 37;
	width: 37px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 196px;
}

#u12088
{
	z-index: 35;
	width: 311px;
	background-color: transparent;
	margin-left: 34px;
	margin-top: 44px;
	position: relative;
}

#u8096
{
	z-index: 36;
	display: block;
}

#pu8092
{
	width: 0.01px;
	margin-left: 16px;
	margin-top: 41px;
}

#u8092
{
	z-index: 31;
	width: 220px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8092_img
{
	margin-left: -1px;
	margin-bottom: -7px;
}

#u11896
{
	z-index: 29;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 232px;
}

#u8090
{
	z-index: 30;
	display: block;
}

#u11614
{
	z-index: 23;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 264px;
}

#u8084
{
	z-index: 24;
	display: block;
}

#u11731
{
	z-index: 27;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 296px;
}

#u8088
{
	z-index: 28;
	display: block;
}

#u11677
{
	z-index: 25;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 328px;
}

#u8086
{
	z-index: 26;
	display: block;
}

#u8083-14
{
	z-index: 9;
	min-height: 226px;
	background-color: transparent;
	line-height: 18px;
	text-align: justify;
	font-size: 15px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u8083-5,#u8083-7
{
	font-style: italic;
}

#u8083-2,#u8083-3,#u8083-9,#u8083-10,#u8083-12
{
	padding-right: 10px;
	padding-left: 10px;
}

#u8083-14-bw
{
	z-index: 9;
	min-height: 226px;
	margin-top: 16px;
}

#u8094
{
	z-index: 33;
	width: 192px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.31);
	background-color: transparent;
	margin-left: 94px;
	margin-top: 26px;
	position: relative;
}

#pu4301
{
	width: 0.01px;
}

#u4301,#u4301-bw
{
	z-index: 2;
	height: 77px;
}

#u3936-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u3936-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u13321-14
{
	z-index: 41;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 90px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

@font-face
{
	font-family: '__web-icons_5';
	src: url('../../fonts/web-icons.eot');
	src: local('☺'), url('../../fonts/web-icons.woff') format('woff'), url('../../fonts/web-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

