#u3790-4
{
	border-style: none;
	border-color: transparent;
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	color: #FFFFFF;
	line-height: 30px;
	font-size: 30px;
	font-family: '__websocialmenus_5';
	font-weight: 400;
	-pie-background: rgba(0,0,0,0.6);
}

#u3790-4:active
{
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	-pie-background: rgba(0,0,0,0.6);
}

#u3790-4.AccordionPanelTabOpen
{
	background-color: #000000;
	background-color: rgba(0,0,0,1);
	-pie-background: rgba(0,0,0,1);
}

#u3790-4.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 30px;
	font-family: '__websocialmenus_5';
	font-weight: 400;
	font-style: normal;
}

#accordionu3788,#u3791,#menuu3801
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u3805
{
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	position: relative;
	-pie-background: rgba(0,0,0,0.6);
}

#u3805:hover
{
	background-color: #C1C1C1;
	background-color: rgba(153,153,153,0.6);
	-pie-background: rgba(153,153,153,0.6);
}

#u3805:active
{
	background-color: #A6A6A6;
	background-color: rgba(107,107,107,0.6);
	-pie-background: rgba(107,107,107,0.6);
}

#u3805.MuseMenuActive
{
	background-color: #C1C1C1;
	background-color: rgba(153,153,153,0.6);
	-pie-background: rgba(153,153,153,0.6);
}

#u3807-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 24px;
	line-height: 29px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3807-2
{
	padding-left: 10px;
}

#u3810
{
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	position: relative;
	-pie-background: rgba(0,0,0,0.6);
}

#u3810:hover
{
	background-color: #C1C1C1;
	background-color: rgba(153,153,153,0.6);
	-pie-background: rgba(153,153,153,0.6);
}

#u3810:active
{
	background-color: #A6A6A6;
	background-color: rgba(107,107,107,0.6);
	-pie-background: rgba(107,107,107,0.6);
}

#u3810.MuseMenuActive
{
	background-color: #C1C1C1;
	background-color: rgba(153,153,153,0.6);
	-pie-background: rgba(153,153,153,0.6);
}

#u3812-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 24px;
	line-height: 29px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3812-2
{
	padding-left: 10px;
}

#u3817
{
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	position: relative;
	-pie-background: rgba(0,0,0,0.6);
}

#u3817:hover
{
	background-color: #C1C1C1;
	background-color: rgba(153,153,153,0.6);
	-pie-background: rgba(153,153,153,0.6);
}

#u3817:active
{
	background-color: #A6A6A6;
	background-color: rgba(107,107,107,0.6);
	-pie-background: rgba(107,107,107,0.6);
}

#u3817.MuseMenuActive
{
	background-color: #C1C1C1;
	background-color: rgba(153,153,153,0.6);
	-pie-background: rgba(153,153,153,0.6);
}

#u3820-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 24px;
	line-height: 29px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3820-2
{
	padding-left: 10px;
}

#u3824
{
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	position: relative;
	-pie-background: rgba(0,0,0,0.6);
}

#u3824:hover
{
	background-color: #C1C1C1;
	background-color: rgba(153,153,153,0.6);
	-pie-background: rgba(153,153,153,0.6);
}

#u3824:active
{
	background-color: #A6A6A6;
	background-color: rgba(107,107,107,0.6);
	-pie-background: rgba(107,107,107,0.6);
}

#u3824.MuseMenuActive
{
	background-color: #C1C1C1;
	background-color: rgba(153,153,153,0.6);
	-pie-background: rgba(153,153,153,0.6);
}

#u3827-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 24px;
	line-height: 29px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3827-2
{
	padding-left: 10px;
}

#u3831
{
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	position: relative;
	-pie-background: rgba(0,0,0,0.6);
}

#u3831:hover
{
	background-color: #C1C1C1;
	background-color: rgba(153,153,153,0.6);
	-pie-background: rgba(153,153,153,0.6);
}

#u3831:active
{
	background-color: #A6A6A6;
	background-color: rgba(107,107,107,0.6);
	-pie-background: rgba(107,107,107,0.6);
}

#u3831.MuseMenuActive
{
	background-color: #C1C1C1;
	background-color: rgba(153,153,153,0.6);
	-pie-background: rgba(153,153,153,0.6);
}

#u3834-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 24px;
	line-height: 29px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3834-2
{
	padding-left: 10px;
}

#u3789,#u3802,#u3809,#u3816,#u3823,#u3830,#u6634
{
	background-color: transparent;
}

#u6635
{
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	position: relative;
	-pie-background: rgba(0,0,0,0.6);
}

#u6635:hover
{
	background-color: #C1C1C1;
	background-color: rgba(153,153,153,0.6);
	-pie-background: rgba(153,153,153,0.6);
}

#u6635:active
{
	background-color: #A6A6A6;
	background-color: rgba(107,107,107,0.6);
	-pie-background: rgba(107,107,107,0.6);
}

#u6635.MuseMenuActive
{
	background-color: #C1C1C1;
	background-color: rgba(153,153,153,0.6);
	-pie-background: rgba(153,153,153,0.6);
}

#u6636-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 24px;
	line-height: 29px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u6636-2
{
	padding-left: 10px;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u4301
{
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	-pie-background: rgba(0,0,0,0.6);
}

#u3936-6
{
	background-color: transparent;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u3936
{
	color: #FFFFFF;
}

.big_menu_facebook
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../../images/fb-01-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u4298
{
	background-image: url('../../images/fb-01-01_poster_u1346.png');
}

.big_menu_twitter
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../../images/twiiter-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u4299
{
	background-image: url('../../images/twiiter-01_poster_u1372.png');
}

#u4298,#u4299,#u4300
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: relative;
	background-size: contain;
}

.big_menu_insta
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../../images/insta-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u4300
{
	background-image: url('../../images/insta-01_poster_u1385.png');
}

