/*

*/

.version.new_god /* version checker */
{
	color: #0000FB;
	background-color: #CAE2C1;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 2355.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
}

#page_position_content
{
	width: 0.01px;
}

#u3789
{
	z-index: 13;
}

#u3790-4
{
	z-index: 14;
	min-height: 30px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u3790-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u3790-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u3791
{
	z-index: 18;
}

#u3805
{
	min-height: 29px;
}

#u3805:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3805:active
{
	min-height: 29px;
	margin: 0px;
}

#u3807-4
{
	min-height: 29px;
}

#u3805:hover #u3807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3805:active #u3807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3810
{
	min-height: 29px;
}

#u3805.MuseMenuActive,#u3810:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3810:active
{
	min-height: 29px;
	margin: 0px;
}

#u3812-4
{
	min-height: 29px;
}

#u3805.MuseMenuActive #u3807-4,#u3810:hover #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3810:active #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3817
{
	min-height: 29px;
}

#u3810.MuseMenuActive,#u3817:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3817:active
{
	min-height: 29px;
	margin: 0px;
}

#u3820-4
{
	min-height: 29px;
}

#u3810.MuseMenuActive #u3812-4,#u3817:hover #u3820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3817:active #u3820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3824
{
	min-height: 29px;
}

#u3817.MuseMenuActive,#u3824:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3824:active
{
	min-height: 29px;
	margin: 0px;
}

#u3827-4
{
	min-height: 29px;
}

#u3817.MuseMenuActive #u3820-4,#u3824:hover #u3827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3824:active #u3827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3831
{
	min-height: 29px;
}

#u3824.MuseMenuActive,#u3831:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3831:active
{
	min-height: 29px;
	margin: 0px;
}

#u3834-4
{
	min-height: 29px;
}

#u3824.MuseMenuActive #u3827-4,#u3831:hover #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3831:active #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635
{
	min-height: 29px;
}

#u3831.MuseMenuActive,#u6635:hover
{
	min-height: 29px;
	margin: 0px;
}

#u6635:active
{
	min-height: 29px;
	margin: 0px;
}

#u6635.MuseMenuActive
{
	min-height: 29px;
	margin: 0px;
}

#u6636-4
{
	min-height: 29px;
}

#u3831.MuseMenuActive #u3834-4,#u6635:hover #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635:active #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635.MuseMenuActive #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3809,#u3816,#u3823,#u3830,#u6634
{
	margin-top: 2px;
}

#menuu3801,#menuu3801-bw
{
	z-index: 19;
	min-height: 184px;
}

#accordionu3788,#accordionu3788-bw
{
	z-index: 12;
}

#u4456
{
	z-index: 150;
	overflow: hidden;
	margin-left: 12px;
	margin-top: 23px;
	position: relative;
}

#u4389
{
	z-index: 61;
	margin-left: 12px;
	margin-top: 23px;
	position: relative;
}

#pu4387
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 28px;
}

#u4387
{
	z-index: 59;
	width: 195px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu4422-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 49px;
	margin-left: 212px;
}

#u4422-4
{
	z-index: 141;
	width: 133px;
	min-height: 19px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#pu4423
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 1px;
}

#u4423
{
	z-index: 145;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
}

#u4425
{
	z-index: 146;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 35px;
}

#u4427
{
	z-index: 147;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
	left: 70px;
}

#u4429
{
	z-index: 148;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
	left: 105px;
}

#pamphletu4391
{
	z-index: 62;
	width: 0.01px;
	height: 47px;
	padding-bottom: 69px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u4399
{
	position: absolute;
	width: 380px;
	background-color: transparent;
}

#u4399popup
{
	z-index: 63;
}

#u4404
{
	z-index: 64;
	width: 380px;
	height: 116px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4405-7
{
	z-index: 65;
	width: 356px;
	min-height: 91px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u4405-2
{
	font-size: 13px;
	line-height: 18px;
	color: #29ABE2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4405-3,#u4405-5
{
	font-size: 14px;
	line-height: 20px;
	color: #484848;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u4406
{
	z-index: 72;
	width: 380px;
	height: 116px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4407-7
{
	z-index: 73;
	width: 356px;
	min-height: 62px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u4408
{
	z-index: 80;
	width: 380px;
	height: 116px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4409-7
{
	z-index: 81;
	width: 356px;
	min-height: 99px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	line-height: 18px;
	font-size: 13px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: -1px;
}

#u4410
{
	z-index: 88;
	width: 380px;
	height: 116px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4411-7
{
	z-index: 89;
	width: 356px;
	min-height: 70px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u4400
{
	z-index: 96;
	width: 380px;
	height: 116px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4401-7
{
	z-index: 97;
	width: 356px;
	min-height: 62px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u4401-2
{
	font-size: 13px;
	line-height: 18px;
	color: #29ABE2;
}

#u4401-3
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
}

#u4401-5
{
	font-size: 14px;
	line-height: 20px;
	color: #484848;
}

#u4402
{
	z-index: 104;
	width: 380px;
	height: 116px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4403-9
{
	z-index: 105;
	width: 356px;
	min-height: 72px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u4407-2,#u4409-2,#u4411-2,#u4403-4
{
	color: #29ABE2;
}

#u4407-3,#u4407-5,#u4409-3,#u4409-5,#u4411-3,#u4411-5,#u4403-5,#u4403-7
{
	color: #484848;
}

#u4407-4,#u4409-4,#u4411-4,#u4401-4,#u4403-6
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u4392
{
	z-index: 114;
	width: 95px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 143px;
}

#u4395
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
}

.ie #u4395
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4395.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u4396
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 18px;
}

.ie #u4395.PamphletThumbSelected,.ie #u4396
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4396.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u4397
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 36px;
}

.ie #u4396.PamphletThumbSelected,.ie #u4397
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4397.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u4394
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 54px;
}

.ie #u4397.PamphletThumbSelected,.ie #u4394
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4394.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u4398
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 72px;
}

.ie #u4394.PamphletThumbSelected,.ie #u4398
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4398.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u4393
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 90px;
}

.ie #u4398.PamphletThumbSelected,.ie #u4393
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4393.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

.ie #u4393.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u4418-20
{
	z-index: 121;
	min-height: 523px;
	background-color: transparent;
	line-height: 18px;
	text-align: justify;
	font-size: 15px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4418-4,#u4418-5,#u4418-9,#u4418-10,#u4418-18
{
	padding-right: 10px;
	padding-left: 10px;
}

#u4403-2,#u4418-2,#u4418-7,#u4418-12,#u4418-14,#u4418-16
{
	font-style: italic;
}

#u4418-20-bw
{
	z-index: 121;
	min-height: 523px;
	margin-top: 12px;
}

#pu6387
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 85px;
}

#u6387
{
	z-index: 151;
	width: 106px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u6389
{
	z-index: 153;
	width: 106px;
	height: 106px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 125px;
	background: transparent url("../../images/tmsco%20gramaphone%20copy-u6389-fr.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u6389
{
	background-image: url("../../images/tmsco%20gramaphone%20copy-u6389-fr_2x.jpg");
}

#u6390
{
	z-index: 154;
	width: 106px;
	height: 106px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 252px;
	background: transparent url("../../images/newgodsingleart-u6390-fr.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u6390
{
	background-image: url("../../images/newgodsingleart-u6390-fr_2x.png");
}

#u4431
{
	z-index: 149;
	width: 327px;
	min-height: 256px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 26px;
	margin-top: 84px;
	position: relative;
}

#u4384
{
	z-index: 58;
	width: 327px;
	min-height: 204px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 25px;
	margin-top: 37px;
	position: relative;
}

#u4382
{
	z-index: 57;
	width: 327px;
	min-height: 205px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 27px;
	margin-top: 30px;
	position: relative;
}

#u4380
{
	z-index: 56;
	width: 327px;
	min-height: 211px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 25px;
	margin-top: 30px;
	position: relative;
}

#pu4301
{
	width: 0.01px;
	margin-top: 34px;
}

#u4301,#u4301-bw
{
	z-index: 2;
	height: 77px;
}

#u3936-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u3936-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u4298
{
	z-index: 9;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 172px;
}

#u4299
{
	z-index: 10;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 251px;
}

#u4300
{
	z-index: 11;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 93px;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

