/*

*/

.version.new_god /* version checker */
{
	color: #00001F;
	background-color: #F47225;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 2355.982337170385px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
}

#u132777
{
	z-index: 135;
}

#u132822-4
{
	z-index: 136;
	min-height: 30px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u132822-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u132822-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u132822-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u132778
{
	z-index: 140;
}

#menuu132779
{
	z-index: 141;
	width: 352px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u132787
{
	width: 352px;
	position: relative;
}

#u132788
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u132788:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132791-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132788:hover #u132791-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132804
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u132788.MuseMenuActive,#u132804:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132807-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132788.MuseMenuActive #u132791-4,#u132804:hover #u132807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132818
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u132804.MuseMenuActive,#u132818:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132821-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132804.MuseMenuActive #u132807-4,#u132818:hover #u132821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132781
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u132818.MuseMenuActive,#u132781:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132783-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132818.MuseMenuActive #u132821-4,#u132781:hover #u132783-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132795
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u132781.MuseMenuActive,#u132795:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132797-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132781.MuseMenuActive #u132783-4,#u132795:hover #u132797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132801,#u132815,#u132780,#u132794,#u132808
{
	width: 352px;
	margin-top: 2px;
	position: relative;
}

#u132811
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u132795.MuseMenuActive,#u132811:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132811.MuseMenuActive
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132813-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132795.MuseMenuActive #u132797-4,#u132811:hover #u132813-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132811.MuseMenuActive #u132813-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#accordionu132776,#accordionu132776-bw
{
	z-index: 134;
}

#pu132751
{
	width: 0.01px;
	margin-left: 109px;
}

#u132751
{
	z-index: 132;
	width: 162px;
	position: relative;
	margin-right: -10000px;
}

#u133169-4
{
	z-index: 114;
	width: 37px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 196px;
}

#u11950
{
	z-index: 108;
	width: 60px;
	background-color: transparent;
	margin-left: 12px;
	margin-top: 24px;
	position: relative;
}

#u4456
{
	z-index: 109;
	display: block;
}

#u11518
{
	z-index: 14;
	width: 355px;
	background-color: transparent;
	margin-left: 12px;
	margin-top: 23px;
	position: relative;
}

#u4389
{
	z-index: 15;
	display: block;
}

#pu4387
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 28px;
}

#u4387
{
	z-index: 12;
	width: 195px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu4422-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 49px;
	margin-left: 212px;
}

#u4422-4
{
	z-index: 95;
	width: 133px;
	min-height: 19px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#pu11539
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 1px;
}

#u11539
{
	z-index: 99;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4423
{
	z-index: 100;
	display: block;
}

#u11632
{
	z-index: 101;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 35px;
}

#u4425
{
	z-index: 102;
	display: block;
}

#u11695
{
	z-index: 103;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u4427
{
	z-index: 104;
	display: block;
}

#u11752
{
	z-index: 105;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 105px;
}

#u4429
{
	z-index: 106;
	display: block;
}

#pamphletu4391
{
	z-index: 16;
	width: 0.01px;
	height: 47px;
	padding-bottom: 69px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u4399
{
	position: absolute;
	width: 380px;
	background-color: transparent;
}

#u4399popup
{
	z-index: 17;
}

#u4404
{
	z-index: 18;
	width: 380px;
	height: 116px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4405-7
{
	z-index: 19;
	width: 356px;
	min-height: 91px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u4405-2
{
	font-size: 13px;
	line-height: 18px;
	color: #29ABE2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4405-3,#u4405-5
{
	font-size: 14px;
	line-height: 20px;
	color: #484848;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u4406
{
	z-index: 26;
	width: 380px;
	height: 116px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4407-7
{
	z-index: 27;
	width: 356px;
	min-height: 62px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u4408
{
	z-index: 34;
	width: 380px;
	height: 116px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4409-7
{
	z-index: 35;
	width: 356px;
	min-height: 99px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 18px;
	text-align: center;
	font-size: 13px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: -1px;
}

#u4410
{
	z-index: 42;
	width: 380px;
	height: 116px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4411-7
{
	z-index: 43;
	width: 356px;
	min-height: 70px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u4400
{
	z-index: 50;
	width: 380px;
	height: 116px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4401-7
{
	z-index: 51;
	width: 356px;
	min-height: 62px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u4401-2
{
	font-size: 13px;
	line-height: 18px;
	color: #29ABE2;
}

#u4401-3
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
}

#u4401-5
{
	font-size: 14px;
	line-height: 20px;
	color: #484848;
}

#u4402
{
	z-index: 58;
	width: 380px;
	height: 116px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4403-9
{
	z-index: 59;
	width: 356px;
	min-height: 72px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u4407-2,#u4409-2,#u4411-2,#u4403-4
{
	color: #29ABE2;
}

#u4407-3,#u4407-5,#u4409-3,#u4409-5,#u4411-3,#u4411-5,#u4403-5,#u4403-7
{
	color: #484848;
}

#u4407-4,#u4409-4,#u4411-4,#u4401-4,#u4403-6
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u4392
{
	z-index: 68;
	width: 95px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 143px;
}

#u4395
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
}

.ie #u4395
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4395.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u4396
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 18px;
}

.ie #u4395.PamphletThumbSelected,.ie #u4396
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4396.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u4397
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 36px;
}

.ie #u4396.PamphletThumbSelected,.ie #u4397
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4397.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u4394
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 54px;
}

.ie #u4397.PamphletThumbSelected,.ie #u4394
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4394.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u4398
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 72px;
}

.ie #u4394.PamphletThumbSelected,.ie #u4398
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4398.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u4393
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 90px;
}

.ie #u4398.PamphletThumbSelected,.ie #u4393
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4393.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

.ie #u4393.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u4418-20
{
	z-index: 75;
	min-height: 523px;
	background-color: transparent;
	line-height: 18px;
	text-align: justify;
	font-size: 15px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4418-4,#u4418-5,#u4418-9,#u4418-10,#u4418-18
{
	padding-right: 10px;
	padding-left: 10px;
}

#u4403-2,#u4418-2,#u4418-7,#u4418-12,#u4418-14,#u4418-16
{
	font-style: italic;
}

#u4418-20-bw
{
	z-index: 75;
	min-height: 523px;
	margin-top: 12px;
}

#pu6387
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 85px;
}

#u6387
{
	z-index: 110;
	width: 106px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u6389
{
	z-index: 112;
	width: 106px;
	height: 106px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 125px;
	background: transparent url("../../images/tmsco%20gramaphone%20copy-u6389-fr.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u6389
{
	background-image: url("../../images/tmsco%20gramaphone%20copy-u6389-fr_2x.jpg");
}

#u6390
{
	z-index: 113;
	width: 106px;
	height: 106px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 252px;
	background: transparent url("../../images/newgodsingleart-u6390-fr.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u6390
{
	background-image: url("../../images/newgodsingleart-u6390-fr_2x.png");
}

#u4431
{
	z-index: 107;
	width: 327px;
	min-height: 256px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 26px;
	margin-top: 84px;
	position: relative;
}

#u4384
{
	z-index: 11;
	width: 327px;
	min-height: 204px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 25px;
	margin-top: 37px;
	position: relative;
}

#u4382
{
	z-index: 10;
	width: 327px;
	min-height: 205px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 27px;
	margin-top: 30px;
	position: relative;
}

#u4380
{
	z-index: 9;
	width: 327px;
	min-height: 211px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 25px;
	margin-top: 30px;
	position: relative;
}

#pu4301
{
	width: 0.01px;
}

#u4301,#u4301-bw
{
	z-index: 2;
	height: 77px;
}

#u3936-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u3936-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u13321-14
{
	z-index: 118;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 90px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

@font-face
{
	font-family: '__web-icons_5';
	src: url('../../fonts/web-icons.eot');
	src: local('☺'), url('../../fonts/web-icons.woff') format('woff'), url('../../fonts/web-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

