/*

*/

.version.releases /* version checker */
{
	color: #000006;
	background-color: #075457;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 613px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u3789
{
	z-index: 10;
}

#u3790-4
{
	z-index: 11;
	min-height: 30px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u3790-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u3790-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u3791
{
	z-index: 15;
}

#u3805
{
	min-height: 29px;
	position: relative;
}

#u3805:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3805:active
{
	min-height: 29px;
	margin: 0px;
}

#u3807-4
{
	min-height: 29px;
	position: relative;
}

#u3805:hover #u3807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3805:active #u3807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3810
{
	min-height: 29px;
	position: relative;
}

#u3805.MuseMenuActive,#u3810:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3810:active
{
	min-height: 29px;
	margin: 0px;
}

#u3812-4
{
	min-height: 29px;
	position: relative;
}

#u3805.MuseMenuActive #u3807-4,#u3810:hover #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3810:active #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3817
{
	min-height: 29px;
	position: relative;
}

#u3810.MuseMenuActive,#u3817:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3817:active
{
	min-height: 29px;
	margin: 0px;
}

#u3820-4
{
	min-height: 29px;
	position: relative;
}

#u3810.MuseMenuActive #u3812-4,#u3817:hover #u3820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3817:active #u3820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3824
{
	min-height: 29px;
	position: relative;
}

#u3817.MuseMenuActive,#u3824:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3824:active
{
	min-height: 29px;
	margin: 0px;
}

#u3827-4
{
	min-height: 29px;
	position: relative;
}

#u3817.MuseMenuActive #u3820-4,#u3824:hover #u3827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3824:active #u3827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3831
{
	min-height: 29px;
	position: relative;
}

#u3824.MuseMenuActive,#u3831:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3831:active
{
	min-height: 29px;
	margin: 0px;
}

#u3834-4
{
	min-height: 29px;
	position: relative;
}

#u3824.MuseMenuActive #u3827-4,#u3831:hover #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3831:active #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635
{
	min-height: 29px;
	position: relative;
}

#u3831.MuseMenuActive,#u6635:hover
{
	min-height: 29px;
	margin: 0px;
}

#u6635:active
{
	min-height: 29px;
	margin: 0px;
}

#u6635.MuseMenuActive
{
	min-height: 29px;
	margin: 0px;
}

#u6636-4
{
	min-height: 29px;
	position: relative;
}

#u3831.MuseMenuActive #u3834-4,#u6635:hover #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635:active #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635.MuseMenuActive #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3809,#u3816,#u3823,#u3830,#u6634
{
	margin-top: 2px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#menuu3801,#menuu3801-bw
{
	z-index: 16;
	min-height: 184px;
}

#accordionu3788,#accordionu3788-bw
{
	z-index: 9;
}

#u11794
{
	z-index: 117;
	width: 109px;
	background-color: transparent;
	margin-left: 9px;
	margin-top: 27px;
	position: relative;
}

#u4319
{
	z-index: 118;
	display: block;
}

#u4311
{
	z-index: 53;
	width: 368px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 10px;
	margin-left: 6px;
	margin-top: 20px;
	position: relative;
	border-width: 0px 0px 2px;
}

#u11785
{
	z-index: 115;
	width: 114px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 1px;
}

#u4317
{
	z-index: 116;
	display: block;
}

#u12022
{
	z-index: 391;
	width: 62px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 306px;
}

#u5570
{
	z-index: 392;
	display: block;
}

#u8512
{
	z-index: 712;
	width: 128px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8514-8
{
	z-index: 714;
	width: 219px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u8515-6
{
	z-index: 722;
	width: 219px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 14px;
	position: relative;
}

#u8516-41
{
	z-index: 728;
	min-height: 372px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u8516-41-bw
{
	z-index: 728;
	min-height: 372px;
	margin-top: 23px;
}

#u11800
{
	z-index: 120;
	width: 90px;
	background-color: transparent;
	margin-left: 11px;
	margin-top: 41px;
	position: relative;
}

#u4322
{
	z-index: 121;
	display: block;
}

#u4321
{
	z-index: 119;
	width: 367px;
	height: 5px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-left: 6px;
	margin-top: 6px;
	position: relative;
	border-width: 0px 0px 2px;
}

#pu8507
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 37px;
}

#u8507
{
	z-index: 559;
	width: 128px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8509-13
{
	z-index: 561;
	width: 221px;
	min-height: 126px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 153px;
}

#u8509-2
{
	font-size: 21px;
	text-align: left;
	line-height: 25px;
	font-weight: 400;
	font-style: italic;
}

#u8509-6
{
	font-size: 21px;
	text-align: left;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8509-7
{
	font-size: 15px;
	text-align: justify;
	line-height: 18px;
	font-weight: 300;
}

#u8509-9
{
	font-size: 17px;
	text-align: left;
	line-height: 20px;
	font-weight: 400;
	font-style: italic;
}

#u8509-11
{
	font-size: 17px;
	text-align: left;
	line-height: 20px;
	font-weight: 300;
}

#u8510-44
{
	z-index: 574;
	width: 380px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-top: 24px;
	position: relative;
}

#pu8527
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 38px;
}

#u8527
{
	z-index: 662;
	width: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.34);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu8514-8,#pu8529-8
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 155px;
}

#u8529-8
{
	z-index: 664;
	width: 200px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u8530-6
{
	z-index: 672;
	width: 192px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 14px;
	position: relative;
}

#u8531-20
{
	z-index: 678;
	min-height: 137px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u8531-2,#u8531-4,#u8531-6,#u8531-7,#u8531-9,#u8531-11,#u8531-12,#u8531-18
{
	padding-right: 10px;
	padding-left: 10px;
}

#u8531-20-bw
{
	z-index: 678;
	min-height: 137px;
	margin-top: 31px;
}

#pu8523
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 45px;
}

#u8523
{
	z-index: 618;
	width: 126px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.34);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8525-12
{
	z-index: 620;
	width: 233px;
	min-height: 126px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 141px;
}

#u8525-2
{
	font-size: 19px;
	line-height: 23px;
	font-weight: 400;
	font-style: italic;
}

#u8525-5,#u8525-6
{
	font-size: 21px;
	line-height: 25px;
	font-weight: 300;
}

#u8525-8
{
	font-size: 17px;
	line-height: 20px;
	font-weight: 400;
	font-style: italic;
}

#u8525-10
{
	font-size: 17px;
	line-height: 20px;
	font-weight: 300;
}

#u8526-30
{
	z-index: 632;
	min-height: 180px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u8526-5
{
	font-size: 15px;
	text-align: justify;
	line-height: 18px;
	font-style: normal;
}

#u8526-7,#u8526-8
{
	font-size: 15px;
	text-align: justify;
	line-height: 18px;
	padding-right: 10px;
	padding-left: 10px;
	font-style: normal;
}

#u8526-30-bw
{
	z-index: 632;
	min-height: 180px;
	margin-top: 23px;
}

#pu6355
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 24px;
}

#u6355
{
	z-index: 445;
	width: 127px;
	height: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: transparent url("../../images/2mountainz-u6355-fr.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u6355
{
	background-image: url("../../images/2mountainz-u6355-fr_2x.jpg");
}

#pu6358-8
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 141px;
}

#u6358-8
{
	z-index: 498;
	width: 229px;
	min-height: 51px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	margin-left: 3px;
	position: relative;
}

#u6357-6
{
	z-index: 492;
	width: 232px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 13px;
	position: relative;
}

#u6357-2
{
	padding-left: 10px;
	font-weight: 400;
	font-style: italic;
}

#u6357-4
{
	padding-left: 10px;
	font-weight: 300;
}

#u6356-46
{
	z-index: 446;
	min-height: 203px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u6356-46-bw
{
	z-index: 446;
	min-height: 203px;
	margin-top: 23px;
}

#pu5371
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 19px;
}

#u5371
{
	z-index: 323;
	width: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5375-8
{
	z-index: 368;
	width: 229px;
	min-height: 52px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u5374-6
{
	z-index: 362;
	width: 229px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 11px;
	position: relative;
}

#u5373-37
{
	z-index: 325;
	min-height: 194px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5373-37-bw
{
	z-index: 325;
	min-height: 194px;
	margin-top: 14px;
}

#pu6359
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 64px;
}

#u6359
{
	z-index: 506;
	width: 127px;
	height: 127px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: transparent url("../../images/newgodsingleart-u6359-fr.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u6359
{
	background-image: url("../../images/newgodsingleart-u6359-fr_2x.png");
}

#pu6362-7
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 142px;
}

#u6362-7
{
	z-index: 552;
	width: 200px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u6361-6
{
	z-index: 546;
	width: 200px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-left: 3px;
	margin-top: 16px;
	position: relative;
}

#u6360-39
{
	z-index: 507;
	min-height: 174px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u8516-19,#u8510-26,#u8526-10,#u8526-17,#u6356-11,#u6356-22,#u5373-8,#u5373-15,#u6360-14
{
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	font-style: italic;
}

#u6360-39-bw
{
	z-index: 507;
	min-height: 174px;
	margin-top: 21px;
}

#pu6008
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 70px;
}

#u6008
{
	z-index: 393;
	width: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu5375-8,#pu6012-9
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 145px;
}

#u6012-9
{
	z-index: 436;
	width: 200px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u6012-2
{
	font-style: normal;
}

#u6362-4,#u6012-5
{
	font-size: 20px;
	font-style: italic;
	line-height: 24px;
}

#u6011-6
{
	z-index: 430;
	width: 200px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u6010-35
{
	z-index: 395;
	min-height: 280px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u8516-2,#u8516-3,#u8516-9,#u8516-10,#u8510-2,#u8510-3,#u8510-5,#u8510-6,#u8510-8,#u8510-9,#u8526-4,#u6356-7,#u6356-8,#u6356-9,#u5373-2,#u5373-3,#u5373-5,#u5373-6,#u6360-4,#u6010-6,#u6010-7,#u6010-11
{
	font-size: 15px;
	text-align: justify;
	line-height: 18px;
	padding-right: 10px;
	padding-left: 10px;
}

#u8516-12,#u8516-14,#u8516-16,#u8516-17,#u8516-21,#u8516-23,#u8516-24,#u8516-25,#u8516-39,#u8510-11,#u8510-14,#u8510-17,#u8510-20,#u8510-23,#u8510-24,#u8510-28,#u8510-29,#u8510-42,#u8526-12,#u8526-14,#u8526-15,#u8526-19,#u8526-20,#u8526-21,#u8526-27,#u6356-13,#u6356-15,#u6356-17,#u6356-19,#u6356-20,#u6356-24,#u6356-26,#u6356-27,#u6356-28,#u6356-42,#u6356-43,#u5373-10,#u5373-12,#u5373-13,#u5373-17,#u5373-18,#u5373-19,#u5373-35,#u6360-5,#u6360-7,#u6360-9,#u6360-11,#u6360-12,#u6360-16,#u6360-17,#u6360-37,#u6010-12,#u6010-13,#u6010-15,#u6010-17,#u6010-18,#u6010-32
{
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
}

#u6010-35-bw
{
	z-index: 395;
	min-height: 280px;
	margin-top: 32px;
}

#pu5377
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 65px;
}

#u5377
{
	z-index: 320;
	width: 129px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5367
{
	z-index: 321;
	width: 127px;
	height: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5368
{
	z-index: 322;
	width: 127px;
	height: 127px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
	background: transparent url("../../images/dustin_dimensions_art-u5368-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u5368
{
	background-image: url("../../images/dustin_dimensions_art-u5368-fr_2x.jpg");
}

#pu5379-8
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 145px;
}

#u5379-8
{
	z-index: 383;
	width: 229px;
	min-height: 52px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u5378-7
{
	z-index: 376;
	width: 229px;
	min-height: 61px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 11px;
	position: relative;
}

#u5378-2
{
	padding-right: 10px;
	font-weight: 400;
	font-style: italic;
}

#u5378-4
{
	padding-right: 10px;
	font-weight: 300;
}

#u5369-40
{
	z-index: 280;
	min-height: 750px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5369-40-bw
{
	z-index: 280;
	min-height: 750px;
	margin-top: 11px;
}

#pu8512,#pu4331
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 18px;
}

#u4331
{
	z-index: 194;
	width: 126px;
	height: 126px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: transparent url("../../images/tmsco%20gramaphone%20copy-u4331-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u4331
{
	background-image: url("../../images/tmsco%20gramaphone%20copy-u4331-fr_2x.jpg");
}

#pu4341-8
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 143px;
}

#u4341-8
{
	z-index: 256;
	width: 231px;
	min-height: 50px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u4341-6
{
	font-size: 21px;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4341-3
{
	font-size: 10px;
	font-style: italic;
	line-height: 12px;
}

#u8509-4,#u4341-4
{
	font-style: italic;
	line-height: 25px;
}

#u8509-5,#u4341-5
{
	line-height: 25px;
}

#u4333-6
{
	z-index: 250;
	width: 231px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 13px;
	position: relative;
}

#u4332-55
{
	z-index: 195;
	min-height: 491px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4332-55-bw
{
	z-index: 195;
	min-height: 491px;
	margin-top: 10px;
}

#pu4312
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: 41px;
}

#u4312
{
	z-index: 54;
	width: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4343-8
{
	z-index: 264;
	width: 229px;
	min-height: 45px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u8514-2,#u8529-2,#u4343-2
{
	font-size: 21px;
	line-height: 25px;
	font-weight: 400;
	font-style: italic;
}

#u6358-4,#u4343-4
{
	font-size: 21px;
	font-style: italic;
	line-height: 25px;
}

#u8514-5,#u8529-5,#u6358-5,#u5375-5,#u5379-5,#u4343-5
{
	font-size: 21px;
	line-height: 25px;
}

#u4324-6
{
	z-index: 122;
	width: 229px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 13px;
	position: relative;
}

#u4314-57
{
	z-index: 56;
	min-height: 549px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4314-31,#u4314-55
{
	font-size: 14px;
	text-align: left;
	padding-right: 5px;
	padding-left: 5px;
}

#u4314-57-bw
{
	z-index: 56;
	min-height: 549px;
	margin-top: 13px;
}

#pu4315
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: 42px;
}

#u4315
{
	z-index: 113;
	width: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu4343-8,#pu4344-8
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 140px;
}

#u4344-8
{
	z-index: 272;
	width: 229px;
	min-height: 50px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u6358-2,#u5375-2,#u6362-2,#u6012-3,#u5379-2,#u4341-2,#u4344-2
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	font-style: italic;
}

#u8514-6,#u8529-6,#u6358-6,#u5375-6,#u6362-5,#u6012-7,#u5379-6,#u4343-6,#u4344-6
{
	font-size: 18px;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8514-3,#u8509-3,#u8529-3,#u6358-3,#u5375-3,#u6362-3,#u6012-4,#u5379-3,#u4344-3
{
	font-size: 12px;
	font-style: italic;
	line-height: 14px;
}

#u8514-4,#u8529-4,#u5375-4,#u5379-4,#u4343-3,#u4344-4
{
	font-style: italic;
	line-height: 22px;
}

#u6012-6,#u4344-5
{
	font-size: 20px;
	line-height: 24px;
}

#u4328-6
{
	z-index: 188;
	width: 229px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 13px;
	position: relative;
}

#u8515-2,#u8530-2,#u5374-2,#u6361-2,#u6011-2,#u4333-2,#u4324-2,#u4328-2
{
	font-weight: 400;
	font-style: italic;
}

#u8515-4,#u8530-4,#u5374-4,#u6361-4,#u6011-4,#u5378-5,#u4333-4,#u4324-4,#u4328-4
{
	font-weight: 300;
}

#u4327-60
{
	z-index: 128;
	min-height: 672px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5369-4,#u5369-5,#u5369-7,#u5369-8,#u5369-14,#u5369-15,#u5369-16,#u4332-10,#u4332-11,#u4332-15,#u4332-16,#u4314-4,#u4314-5,#u4314-15,#u4314-16,#u4327-4,#u4327-5,#u4327-9,#u4327-10,#u4327-16
{
	font-size: 15px;
	text-align: justify;
	line-height: 18px;
	padding-right: 5px;
	padding-left: 5px;
}

#u8516-11,#u8510-10,#u8531,#u6360-6,#u6010-14,#u5369-17,#u4332-17,#u4314-17,#u4327-18
{
	text-decoration: underline;
	font-style: italic;
}

#u4327-26
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5369-27,#u4332-27,#u4314-25,#u4327-30
{
	text-align: left;
	padding-right: 5px;
	padding-left: 5px;
	font-style: italic;
}

#u8516-18,#u8510-25,#u8531-8,#u8526-9,#u8526-16,#u6356-10,#u6356-21,#u5373-7,#u5373-14,#u6360-13,#u5369-26,#u4332-26,#u4314-24,#u4327-29
{
	text-decoration: underline;
}

#u5369-18,#u5369-20,#u5369-22,#u5369-24,#u5369-25,#u5369-29,#u5369-30,#u5369-38,#u4332-18,#u4332-21,#u4332-24,#u4332-25,#u4332-29,#u4332-30,#u4332-31,#u4332-52,#u4314-18,#u4314-20,#u4314-22,#u4314-23,#u4314-27,#u4314-29,#u4314-30,#u4327-17,#u4327-19,#u4327-21,#u4327-23,#u4327-25,#u4327-27,#u4327-28,#u4327-32,#u4327-34,#u4327-36,#u4327-37,#u4327-38,#u4327-57
{
	text-align: left;
	padding-right: 5px;
	padding-left: 5px;
}

#u8516-26,#u8510-30,#u8531-13,#u8526-22,#u6356-29,#u5373-20,#u6360-18,#u6010-19,#u5369-31,#u4332-32,#u4314-32,#u4327-39
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u8516-5,#u8516-7,#u8516-28,#u8516-30,#u8516-31,#u8516-33,#u8516-34,#u8516-36,#u8516-37,#u8510-32,#u8510-33,#u8510-34,#u8510-36,#u8510-37,#u8510-39,#u8510-40,#u8531-16,#u8525-3,#u8526-2,#u8526-25,#u6356,#u6356-3,#u6356-5,#u6356-31,#u6356-33,#u6356-34,#u6356-36,#u6356-37,#u6356-39,#u6356-40,#u5373-22,#u5373-25,#u5373-27,#u5373-29,#u5373-31,#u5373-33,#u6360-2,#u6360-21,#u6360-25,#u6360-27,#u6360-30,#u6360-32,#u6360-35,#u6010-2,#u6010-4,#u6010-9,#u6010-21,#u6010-23,#u6010-24,#u6010-26,#u6010-27,#u6010-29,#u6010-30,#u5369-2,#u5369-10,#u5369-12,#u5369-33,#u5369-36,#u4332-2,#u4332-4,#u4332-6,#u4332-8,#u4332-35,#u4332-39,#u4332-41,#u4332-45,#u4332-47,#u4332-50,#u4314-2,#u4314-7,#u4314-9,#u4314-11,#u4314-13,#u4314-35,#u4314-39,#u4314-41,#u4314-45,#u4314-47,#u4314-51,#u4314-53,#u4327-2,#u4327-7,#u4327-12,#u4327-14,#u4327-41,#u4327-44,#u4327-46,#u4327-49,#u4327-51,#u4327-54,#u4327-56
{
	font-style: italic;
}

#u8526-28,#u6356-44,#u6010-33,#u4332-53,#u4327-58
{
	text-align: center;
}

#u4327-60-bw
{
	z-index: 128;
	min-height: 672px;
	margin-top: 13px;
}

#page_position_content,#pu4301
{
	width: 0.01px;/* should not cover content below */
}

#u4301,#u4301-bw
{
	z-index: 2;
	height: 77px;
}

#u3936-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u3936-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u13321-14
{
	z-index: 698;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 90px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

@font-face
{
	font-family: '__web-icons_5';
	src: url('../../fonts/web-icons.eot');
	src: local('☺'), url('../../fonts/web-icons.woff') format('woff'), url('../../fonts/web-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}









