/*

*/

.version.william_alexander /* version checker */
{
	color: #0000E8;
	background-color: #902147;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1866.95px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#u3789
{
	z-index: 13;
}

#u3790-4
{
	z-index: 14;
	min-height: 30px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u3790-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u3790-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u3791
{
	z-index: 18;
}

#u3805
{
	min-height: 29px;
	position: relative;
}

#u3805:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3805:active
{
	min-height: 29px;
	margin: 0px;
}

#u3807-4
{
	min-height: 29px;
	position: relative;
}

#u3805:hover #u3807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3805:active #u3807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3810
{
	min-height: 29px;
	position: relative;
}

#u3805.MuseMenuActive,#u3810:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3810:active
{
	min-height: 29px;
	margin: 0px;
}

#u3812-4
{
	min-height: 29px;
	position: relative;
}

#u3805.MuseMenuActive #u3807-4,#u3810:hover #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3810:active #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3817
{
	min-height: 29px;
	position: relative;
}

#u3810.MuseMenuActive,#u3817:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3817:active
{
	min-height: 29px;
	margin: 0px;
}

#u3820-4
{
	min-height: 29px;
	position: relative;
}

#u3810.MuseMenuActive #u3812-4,#u3817:hover #u3820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3817:active #u3820-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3824
{
	min-height: 29px;
	position: relative;
}

#u3817.MuseMenuActive,#u3824:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3824:active
{
	min-height: 29px;
	margin: 0px;
}

#u3827-4
{
	min-height: 29px;
	position: relative;
}

#u3817.MuseMenuActive #u3820-4,#u3824:hover #u3827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3824:active #u3827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3831
{
	min-height: 29px;
	position: relative;
}

#u3824.MuseMenuActive,#u3831:hover
{
	min-height: 29px;
	margin: 0px;
}

#u3831:active
{
	min-height: 29px;
	margin: 0px;
}

#u3834-4
{
	min-height: 29px;
	position: relative;
}

#u3824.MuseMenuActive #u3827-4,#u3831:hover #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3831:active #u3834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635
{
	min-height: 29px;
	position: relative;
}

#u3831.MuseMenuActive,#u6635:hover
{
	min-height: 29px;
	margin: 0px;
}

#u6635:active
{
	min-height: 29px;
	margin: 0px;
}

#u6635.MuseMenuActive
{
	min-height: 29px;
	margin: 0px;
}

#u6636-4
{
	min-height: 29px;
	position: relative;
}

#u3831.MuseMenuActive #u3834-4,#u6635:hover #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635:active #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u6635.MuseMenuActive #u6636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px;
}

#u3809,#u3816,#u3823,#u3830,#u6634
{
	margin-top: 2px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#menuu3801,#menuu3801-bw
{
	z-index: 19;
	min-height: 184px;
}

#accordionu3788,#accordionu3788-bw
{
	z-index: 12;
}

#u11956
{
	z-index: 96;
	width: 60px;
	background-color: transparent;
	margin-left: 9px;
	margin-top: 25px;
	position: relative;
}

#u4576
{
	z-index: 97;
	display: block;
}

#u11812
{
	z-index: 91;
	width: 358px;
	background-color: transparent;
	margin-left: 9px;
	margin-top: 23px;
	position: relative;
}

#u4570
{
	z-index: 92;
	display: block;
}

#pu4568
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 30px;
}

#u4568
{
	z-index: 89;
	width: 194px;
	height: 138px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/alex%20the%20brown-9668-u4568-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u4568
{
	background-image: url("../../images/alex%20the%20brown-9668-u4568-fr_2x.jpg");
}

#u11545
{
	z-index: 85;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 221px;
}

#u4564
{
	z-index: 86;
	display: block;
}

#u11833
{
	z-index: 93;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 274px;
}

#u4572
{
	z-index: 94;
	display: block;
}

#u11758
{
	z-index: 87;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 326px;
}

#u4566
{
	z-index: 88;
	display: block;
}

#pamphletu4546
{
	z-index: 57;
	width: 0.01px;
	height: 145px;
	padding-bottom: 47px;
	margin-left: 1px;
	margin-top: 1px;
	position: relative;
}

#u4554
{
	position: absolute;
	width: 379px;
	background-color: transparent;
}

#u4554popup
{
	z-index: 58;
}

#u4555
{
	z-index: 59;
	width: 379px;
	height: 192px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4556-12
{
	z-index: 60;
	width: 355px;
	min-height: 210px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	margin-bottom: -18px;
	position: relative;
	margin-right: -10000px;
}

#u4556,#u4556-7
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4556-8,#u4556-10
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u4557
{
	z-index: 72;
	width: 379px;
	height: 192px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4558-8
{
	z-index: 73;
	width: 355px;
	min-height: 186px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u4558,#u4558-3,#u4558-4
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
}

#u4558-6
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
}

#u4558-5
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u4549
{
	z-index: 81;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 176px;
}

#u4551
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
}

.ie #u4551
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4551.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u4550
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 18px;
}

.ie #u4551.PamphletThumbSelected,.ie #u4550
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4550.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

.ie #u4550.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u6007-13
{
	z-index: 98;
	min-height: 365px;
	background-color: transparent;
	text-align: justify;
	font-size: 15px;
	line-height: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u6007-6,#u6007-7,#u6007-11
{
	padding-right: 10px;
	padding-left: 10px;
}

#u4556-3,#u4556-5,#u6007-2,#u6007-4,#u6007-9
{
	font-style: italic;
}

#u6007-13-bw
{
	z-index: 98;
	min-height: 365px;
	margin-top: 57px;
}

#pu4562
{
	width: 0.01px;
	margin-left: 32px;
	margin-top: 61px;
}

#u4562
{
	z-index: 84;
	width: 150px;
	height: 150px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4569
{
	z-index: 90;
	width: 150px;
	height: 150px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/wa%20come%20find%20me-u4569-fr.png") no-repeat center center;
	background-size: cover;
}

.hidpi #u4569
{
	background-image: url("../../images/wa%20come%20find%20me-u4569-fr_2x.png");
}

#u7677
{
	z-index: 111;
	width: 149px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.24);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

#u4543
{
	z-index: 56;
	width: 329px;
	min-height: 205px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 26px;
	margin-top: 81px;
	position: relative;
}

#u4574
{
	z-index: 95;
	width: 327px;
	min-height: 252px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 26px;
	margin-top: 24px;
	position: relative;
}

#pu4301
{
	width: 0.01px;
	margin-top: 24px;
}

#u4301,#u4301-bw
{
	z-index: 2;
	height: 77px;
}

#u3936-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u3936-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u4298
{
	z-index: 9;
	width: 37px;
	height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 172px;
}

#u4299
{
	z-index: 10;
	width: 37px;
	height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 251px;
}

#u4300
{
	z-index: 11;
	width: 37px;
	height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 93px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

