/*

*/

.version.william_alexander /* version checker */
{
	color: #000008;
	background-color: #2BE235;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1866.9811963743252px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
}

#u132777
{
	z-index: 87;
}

#u132822-4
{
	z-index: 88;
	min-height: 30px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u132822-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u132822-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u132822-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u132778
{
	z-index: 92;
}

#menuu132779
{
	z-index: 93;
	width: 352px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u132787
{
	width: 352px;
	position: relative;
}

#u132788
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u132788:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132791-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132788:hover #u132791-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132804
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u132788.MuseMenuActive,#u132804:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132807-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132788.MuseMenuActive #u132791-4,#u132804:hover #u132807-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132818
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u132804.MuseMenuActive,#u132818:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132821-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132804.MuseMenuActive #u132807-4,#u132818:hover #u132821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132781
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u132818.MuseMenuActive,#u132781:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132783-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132818.MuseMenuActive #u132821-4,#u132781:hover #u132783-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132795
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u132781.MuseMenuActive,#u132795:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132797-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132781.MuseMenuActive #u132783-4,#u132795:hover #u132797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132801,#u132815,#u132780,#u132794,#u132808
{
	width: 352px;
	margin-top: 2px;
	position: relative;
}

#u132811
{
	width: 352px;
	min-height: 23px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u132795.MuseMenuActive,#u132811:hover
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132811.MuseMenuActive
{
	width: 352px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u132813-4
{
	width: 352px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	top: 3px;
}

#u132795.MuseMenuActive #u132797-4,#u132811:hover #u132813-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

#u132811.MuseMenuActive #u132813-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 352px;
	margin: 0px -10000px 0px 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#accordionu132776,#accordionu132776-bw
{
	z-index: 86;
}

#pu132751
{
	width: 0.01px;
	margin-left: 109px;
}

#u132751
{
	z-index: 84;
	width: 162px;
	position: relative;
	margin-right: -10000px;
}

#u133169-4
{
	z-index: 66;
	width: 37px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 196px;
}

#u11956
{
	z-index: 49;
	width: 60px;
	background-color: transparent;
	margin-left: 9px;
	margin-top: 26px;
	position: relative;
}

#u4576
{
	z-index: 50;
	display: block;
}

#u11812
{
	z-index: 44;
	width: 358px;
	background-color: transparent;
	margin-left: 9px;
	margin-top: 23px;
	position: relative;
}

#u4570
{
	z-index: 45;
	display: block;
}

#pu4568
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 30px;
}

#u4568
{
	z-index: 42;
	width: 194px;
	height: 138px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/alex%20the%20brown-9668-u4568-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u4568
{
	background-image: url("../../images/alex%20the%20brown-9668-u4568-fr_2x.jpg");
}

#u11545
{
	z-index: 38;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 221px;
}

#u4564
{
	z-index: 39;
	display: block;
}

#u11833
{
	z-index: 46;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 274px;
}

#u4572
{
	z-index: 47;
	display: block;
}

#u11758
{
	z-index: 40;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 326px;
}

#u4566
{
	z-index: 41;
	display: block;
}

#pamphletu4546
{
	z-index: 10;
	width: 0.01px;
	height: 145px;
	padding-bottom: 47px;
	margin-left: 1px;
	margin-top: 1px;
	position: relative;
}

#u4554
{
	position: absolute;
	width: 379px;
	background-color: transparent;
}

#u4554popup
{
	z-index: 11;
}

#u4555
{
	z-index: 12;
	width: 379px;
	height: 192px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4556-12
{
	z-index: 13;
	width: 355px;
	min-height: 210px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	margin-bottom: -18px;
	position: relative;
	margin-right: -10000px;
}

#u4556,#u4556-7
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4556-8,#u4556-10
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u4557
{
	z-index: 25;
	width: 379px;
	height: 192px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4558-8
{
	z-index: 26;
	width: 355px;
	min-height: 186px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u4558,#u4558-3,#u4558-4
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
}

#u4558-6
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
}

#u4558-5
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u4549
{
	z-index: 34;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 176px;
}

#u4551
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
}

.ie #u4551
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4551.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u4550
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 18px;
}

.ie #u4551.PamphletThumbSelected,.ie #u4550
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4550.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

.ie #u4550.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u6007-13
{
	z-index: 51;
	min-height: 365px;
	background-color: transparent;
	line-height: 18px;
	text-align: justify;
	font-size: 15px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u6007-6,#u6007-7,#u6007-11
{
	padding-right: 10px;
	padding-left: 10px;
}

#u4556-3,#u4556-5,#u6007-2,#u6007-4,#u6007-9
{
	font-style: italic;
}

#u6007-13-bw
{
	z-index: 51;
	min-height: 365px;
	margin-top: 57px;
}

#pu4562
{
	width: 0.01px;
	margin-left: 32px;
	margin-top: 61px;
}

#u4562
{
	z-index: 37;
	width: 150px;
	height: 150px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4569
{
	z-index: 43;
	width: 150px;
	height: 150px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/wa%20come%20find%20me-u4569-fr.png") no-repeat center center;
	background-size: cover;
}

.hidpi #u4569
{
	background-image: url("../../images/wa%20come%20find%20me-u4569-fr_2x.png");
}

#u7677
{
	z-index: 64;
	width: 149px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.24);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

#u4543
{
	z-index: 9;
	width: 329px;
	min-height: 205px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 26px;
	margin-top: 81px;
	position: relative;
}

#u4574
{
	z-index: 48;
	width: 327px;
	min-height: 252px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 26px;
	margin-top: 24px;
	position: relative;
}

#page_position_content,#pu4301
{
	width: 0.01px;/* should not cover content below */
}

#u4301,#u4301-bw
{
	z-index: 2;
	height: 77px;
}

#u3936-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u3936-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u13321-14
{
	z-index: 70;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 90px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

@font-face
{
	font-family: '__web-icons_5';
	src: url('../../fonts/web-icons.eot');
	src: local('☺'), url('../../fonts/web-icons.woff') format('woff'), url('../../fonts/web-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

