/*

*/

.version.dist /* version checker */
{
	color: #0000E0;
	background-color: #FB7F40;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 789px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u133181
{
	z-index: 108;
}

#u133226-4
{
	z-index: 109;
	min-height: 30px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u133226-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u133226-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u133226-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u133182
{
	z-index: 113;
}

#menuu133183
{
	z-index: 114;
	min-height: 241px;
}

#u133220
{
	min-height: 31px;
	padding-bottom: 7px;
	position: relative;
}

#u133220:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133221-4
{
	min-height: 31px;
	position: relative;
	top: 3px;
}

#u133220:hover #u133221-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133187
{
	min-height: 31px;
	padding-bottom: 7px;
	position: relative;
}

#u133220.MuseMenuActive,#u133187:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133190-4
{
	min-height: 31px;
	position: relative;
	top: 3px;
}

#u133220.MuseMenuActive #u133221-4,#u133187:hover #u133190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133208
{
	min-height: 31px;
	padding-bottom: 7px;
	position: relative;
}

#u133187.MuseMenuActive,#u133208:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133211-4
{
	min-height: 31px;
	position: relative;
	top: 3px;
}

#u133187.MuseMenuActive #u133190-4,#u133208:hover #u133211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133194
{
	min-height: 31px;
	padding-bottom: 8px;
	position: relative;
}

#u133208.MuseMenuActive,#u133194:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133196-4
{
	min-height: 31px;
	position: relative;
	top: 4px;
}

#u133208.MuseMenuActive #u133211-4,#u133194:hover #u133196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133213
{
	min-height: 31px;
	padding-bottom: 8px;
	position: relative;
}

#u133194.MuseMenuActive,#u133213:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133215-4
{
	min-height: 31px;
	position: relative;
	top: 4px;
}

#u133194.MuseMenuActive #u133196-4,#u133213:hover #u133215-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133199
{
	min-height: 31px;
	padding-bottom: 8px;
	position: relative;
}

#u133213.MuseMenuActive,#u133199:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133199.MuseMenuActive
{
	min-height: 31px;
	margin: 0px;
}

#u133200-4
{
	min-height: 31px;
	position: relative;
	top: 4px;
}

#u133213.MuseMenuActive #u133215-4,#u133199:hover #u133200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133199.MuseMenuActive #u133200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133184,#u133205,#u133191,#u133212,#u133198
{
	margin-top: 2px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#menuu133183-bw
{
	z-index: 114;
	min-height: 241px;
	margin-bottom: -52px;
	margin-top: -1px;
}

#accordionu133180,#accordionu133180-bw
{
	z-index: 107;
}

#pu133178
{
	width: 0.01px;
	margin-left: 229px;
}

#u133178
{
	z-index: 105;
	width: 310px;
	position: relative;
	margin-right: -10000px;
}

#u133227-4
{
	z-index: 87;
	width: 61px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 379px;
}

#pu12058
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 22px;
}

#u12058
{
	z-index: 9;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u6641
{
	z-index: 10;
	display: block;
}

#u7357
{
	z-index: 11;
	width: 753px;
	height: 45px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	border-width: 0px 0px 1px;
}

#u123265-12
{
	z-index: 70;
	min-height: 114px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u123265-2,#u123265-3,#u123265-7
{
	font-size: 17px;
	line-height: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

#u123265-6,#u123265-10
{
	font-size: 27px;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u123265-4,#u123265-8
{
	font-size: 17px;
	line-height: 20px;
}

#u123265-12-bw
{
	z-index: 70;
	min-height: 114px;
	margin-top: 23px;
}

#u123267
{
	z-index: 86;
	width: 676px;
	height: 1px;
	background-color: #7F7F7F;
	margin-left: 46px;
	margin-top: 9px;
	position: relative;
}

#u123266-4
{
	z-index: 82;
	min-height: 60px;
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u123266-2
{
	padding-right: 10px;
	padding-left: 10px;
}

#u123266-4-bw
{
	z-index: 82;
	min-height: 60px;
	margin-top: 10px;
}

#pu7358
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 7px;
}

#u7358
{
	z-index: 12;
	width: 128px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu7361-7
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 164px;
}

#u7361-7
{
	z-index: 18;
	width: 108px;
	min-height: 48px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u7361-2
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	font-style: italic;
}

#u7361-5
{
	font-size: 21px;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7361-3
{
	font-size: 12px;
	font-style: italic;
	line-height: 14px;
}

#u7361-4
{
	font-style: italic;
	line-height: 25px;
}

#u7360-4
{
	z-index: 14;
	width: 92px;
	min-height: 34px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-top: 15px;
	position: relative;
}

#u7363-45
{
	z-index: 25;
	min-height: 413px;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 5px;
}

#u7363-20
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u7363-11,#u7363-16,#u7363-26,#u7363-28
{
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u7363-10,#u7363-15,#u7363-27
{
	text-decoration: underline;
}

#u7363-9,#u7363-29
{
	text-decoration: underline;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u7363-23,#u7363-31,#u7363-35,#u7363-39
{
	font-style: italic;
}

#u7363-2,#u7363-3,#u7363-8,#u7363-13,#u7363-14,#u7363-18,#u7363-19,#u7363-25,#u7363-32,#u7363-33,#u7363-36,#u7363-37,#u7363-41,#u7363-42
{
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u7363-45-bw
{
	z-index: 25;
	min-height: 413px;
	margin-top: 30px;
}

#pu4769
{
	width: 0.01px;
	margin-top: 73px;
}

#u4769,#u4769-bw
{
	z-index: 2;
	height: 77px;
}

#u4770-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u4770-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u13327-14
{
	z-index: 91;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 265px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 768px;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

@font-face
{
	font-family: '__web-icons_5';
	src: url('../../fonts/web-icons.eot');
	src: local('☺'), url('../../fonts/web-icons.woff') format('woff'), url('../../fonts/web-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

