/*

*/

.version.dustin_lovelis /* version checker */
{
	color: #000014;
	background-color: #7A27D4;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 833px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u133181
{
	z-index: 126;
}

#u133226-4
{
	z-index: 127;
	min-height: 30px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u133226-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u133226-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u133226-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u133182
{
	z-index: 131;
}

#menuu133183
{
	z-index: 132;
	min-height: 241px;
}

#u133220
{
	min-height: 31px;
	padding-bottom: 7px;
	position: relative;
}

#u133220:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133221-4
{
	min-height: 31px;
	position: relative;
	top: 3px;
}

#u133220:hover #u133221-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133187
{
	min-height: 31px;
	padding-bottom: 7px;
	position: relative;
}

#u133220.MuseMenuActive,#u133187:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133190-4
{
	min-height: 31px;
	position: relative;
	top: 3px;
}

#u133220.MuseMenuActive #u133221-4,#u133187:hover #u133190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133208
{
	min-height: 31px;
	padding-bottom: 7px;
	position: relative;
}

#u133187.MuseMenuActive,#u133208:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133211-4
{
	min-height: 31px;
	position: relative;
	top: 3px;
}

#u133187.MuseMenuActive #u133190-4,#u133208:hover #u133211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133194
{
	min-height: 31px;
	padding-bottom: 8px;
	position: relative;
}

#u133208.MuseMenuActive,#u133194:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133196-4
{
	min-height: 31px;
	position: relative;
	top: 4px;
}

#u133208.MuseMenuActive #u133211-4,#u133194:hover #u133196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133213
{
	min-height: 31px;
	padding-bottom: 8px;
	position: relative;
}

#u133194.MuseMenuActive,#u133213:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133215-4
{
	min-height: 31px;
	position: relative;
	top: 4px;
}

#u133194.MuseMenuActive #u133196-4,#u133213:hover #u133215-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133199
{
	min-height: 31px;
	padding-bottom: 8px;
	position: relative;
}

#u133213.MuseMenuActive,#u133199:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133199.MuseMenuActive
{
	min-height: 31px;
	margin: 0px;
}

#u133200-4
{
	min-height: 31px;
	position: relative;
	top: 4px;
}

#u133213.MuseMenuActive #u133215-4,#u133199:hover #u133200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133199.MuseMenuActive #u133200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133184,#u133205,#u133191,#u133212,#u133198
{
	margin-top: 2px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#menuu133183-bw
{
	z-index: 132;
	min-height: 241px;
	margin-bottom: -52px;
	margin-top: -1px;
}

#accordionu133180,#accordionu133180-bw
{
	z-index: 125;
}

#pu133178
{
	width: 0.01px;
	margin-left: 229px;
}

#u133178
{
	z-index: 123;
	width: 310px;
	position: relative;
	margin-right: -10000px;
}

#u133227-4
{
	z-index: 105;
	width: 61px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 379px;
}

#u11923
{
	z-index: 27;
	width: 316px;
	background-color: transparent;
	margin-left: 226px;
	margin-top: 24px;
	position: relative;
}

#u5203
{
	z-index: 28;
	display: block;
}

#pu11563
{
	width: 0.01px;
	margin-left: 125px;
	margin-top: 35px;
}

#u11563
{
	z-index: 23;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 370px;
}

#u5199
{
	z-index: 24;
	display: block;
}

#u5201
{
	z-index: 25;
	width: 195px;
	height: 139px;
	position: relative;
	margin-right: -10000px;
	left: 101px;
	background: transparent url("../../images/dustin_artist_pic-u4601-fr.jpg") no-repeat center top;
	background-size: cover;
}

.hidpi #u5201
{
	background-image: url("../../images/dustin_artist_pic-u4601-fr_2x.jpg");
}

#pamphletu5405
{
	z-index: 45;
	width: 0.01px;
	height: 148px;
	padding-bottom: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
}

#u5414
{
	position: absolute;
	width: 518px;
	background-color: transparent;
}

#u5414popup
{
	z-index: 46;
}

#u5417
{
	z-index: 47;
	width: 518px;
	height: 202px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5418-11
{
	z-index: 48;
	width: 485px;
	min-height: 180px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5419
{
	z-index: 59;
	width: 518px;
	height: 202px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5420-9
{
	z-index: 60;
	width: 485px;
	min-height: 198px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5415
{
	z-index: 69;
	width: 518px;
	height: 202px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5416-9
{
	z-index: 70;
	width: 485px;
	min-height: 180px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u6040
{
	z-index: 79;
	width: 518px;
	height: 202px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6043-9
{
	z-index: 80;
	width: 485px;
	min-height: 180px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u6044
{
	z-index: 89;
	width: 518px;
	height: 202px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6047-9
{
	z-index: 90;
	width: 485px;
	min-height: 180px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5418,#u5418-2,#u5418-6,#u5420,#u5420-2,#u5420-4,#u5416,#u5416-2,#u5416-4,#u6043,#u6043-2,#u6043-4,#u6047,#u6047-2,#u6047-4
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5418-7,#u5418-9,#u5420-5,#u5420-7,#u5416-5,#u5416-7,#u6043-5,#u6043-7,#u6047-5,#u6047-7
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u5408
{
	z-index: 99;
	width: 80px;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 229px;
}

#u5410
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
}

.ie #u5410
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5410.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 99px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u5409
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 18px;
}

.ie #u5410.PamphletThumbSelected,.ie #u5409
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5409.PamphletThumbSelected
{
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u5411
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 36px;
}

.ie #u5409.PamphletThumbSelected,.ie #u5411
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5411.PamphletThumbSelected
{
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u6042
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 54px;
}

.ie #u5411.PamphletThumbSelected,.ie #u6042
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6042.PamphletThumbSelected
{
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u6046
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 72px;
}

.ie #u6042.PamphletThumbSelected,.ie #u6046
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6046.PamphletThumbSelected
{
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

.ie #u6046.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u5404-16
{
	z-index: 29;
	min-height: 307px;
	background-color: transparent;
	line-height: 18px;
	text-align: justify;
	font-size: 15px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5404-4,#u5404-5,#u5404-7,#u5404-8,#u5404-14
{
	padding-right: 10px;
	padding-left: 10px;
}

#u5418-4,#u5404-2,#u5404-10,#u5404-12
{
	font-style: italic;
}

#u5404-16-bw
{
	z-index: 29;
	min-height: 307px;
	margin-top: 15px;
}

#pu5197
{
	width: 0.01px;
	margin-left: 211px;
	margin-top: 12px;
}

#u5197
{
	z-index: 9;
	width: 186px;
	height: 186px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5198-13
{
	z-index: 10;
	width: 162px;
	min-height: 150px;
	background-color: transparent;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 202px;
}

#u5198-2
{
	font-size: 26px;
	line-height: 31px;
	font-weight: 300;
}

#u5198-5
{
	font-size: 30px;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5198-3
{
	font-size: 14px;
	line-height: 17px;
}

#u5198-4
{
	font-size: 14px;
	font-style: italic;
	line-height: 17px;
}

#u5198-6
{
	font-size: 17px;
	line-height: 20px;
	font-weight: 400;
}

#u5198-8
{
	font-size: 17px;
	line-height: 20px;
	font-weight: 300;
	font-style: italic;
}

#u5198-11
{
	font-size: 17px;
	line-height: 20px;
	font-weight: 300;
}

#u5202
{
	z-index: 26;
	width: 186px;
	height: 186px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/dustin_dimensions_art-u4602-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u5202
{
	background-image: url("../../images/dustin_dimensions_art-u4602-fr_2x.jpg");
}

#pu4769
{
	width: 0.01px;
	margin-top: 75px;
}

#u4769,#u4769-bw
{
	z-index: 2;
	height: 77px;
}

#u4770-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u4770-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u13327-14
{
	z-index: 109;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 265px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 768px;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

@font-face
{
	font-family: '__web-icons_5';
	src: url('../../fonts/web-icons.eot');
	src: local('☺'), url('../../fonts/web-icons.woff') format('woff'), url('../../fonts/web-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

