/*

*/

.version.gobbinjr /* version checker */
{
	color: #000010;
	background-color: #DF19C9;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 891px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u133181
{
	z-index: 51;
}

#u133226-4
{
	z-index: 52;
	min-height: 30px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u133226-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u133226-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u133226-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u133182
{
	z-index: 56;
}

#menuu133183
{
	z-index: 57;
	min-height: 241px;
}

#u133220
{
	min-height: 31px;
	padding-bottom: 7px;
	position: relative;
}

#u133220:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133221-4
{
	min-height: 31px;
	position: relative;
	top: 3px;
}

#u133220:hover #u133221-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133187
{
	min-height: 31px;
	padding-bottom: 7px;
	position: relative;
}

#u133220.MuseMenuActive,#u133187:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133190-4
{
	min-height: 31px;
	position: relative;
	top: 3px;
}

#u133220.MuseMenuActive #u133221-4,#u133187:hover #u133190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133208
{
	min-height: 31px;
	padding-bottom: 7px;
	position: relative;
}

#u133187.MuseMenuActive,#u133208:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133211-4
{
	min-height: 31px;
	position: relative;
	top: 3px;
}

#u133187.MuseMenuActive #u133190-4,#u133208:hover #u133211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133194
{
	min-height: 31px;
	padding-bottom: 8px;
	position: relative;
}

#u133208.MuseMenuActive,#u133194:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133196-4
{
	min-height: 31px;
	position: relative;
	top: 4px;
}

#u133208.MuseMenuActive #u133211-4,#u133194:hover #u133196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133213
{
	min-height: 31px;
	padding-bottom: 8px;
	position: relative;
}

#u133194.MuseMenuActive,#u133213:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133215-4
{
	min-height: 31px;
	position: relative;
	top: 4px;
}

#u133194.MuseMenuActive #u133196-4,#u133213:hover #u133215-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133199
{
	min-height: 31px;
	padding-bottom: 8px;
	position: relative;
}

#u133213.MuseMenuActive,#u133199:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133199.MuseMenuActive
{
	min-height: 31px;
	margin: 0px;
}

#u133200-4
{
	min-height: 31px;
	position: relative;
	top: 4px;
}

#u133213.MuseMenuActive #u133215-4,#u133199:hover #u133200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133199.MuseMenuActive #u133200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133184,#u133205,#u133191,#u133212,#u133198
{
	margin-top: 2px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#menuu133183-bw
{
	z-index: 57;
	min-height: 241px;
	margin-bottom: -52px;
	margin-top: -1px;
}

#accordionu133180,#accordionu133180-bw
{
	z-index: 50;
}

#pu133178
{
	width: 0.01px;
	margin-left: 229px;
}

#u133178
{
	z-index: 48;
	width: 310px;
	position: relative;
	margin-right: -10000px;
}

#u133227-4
{
	z-index: 30;
	width: 61px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 379px;
}

#u12067
{
	z-index: 26;
	width: 199px;
	background-color: transparent;
	margin-left: 284px;
	margin-top: 28px;
	position: relative;
}

#u7761
{
	z-index: 27;
	display: block;
}

#pu7763
{
	width: 0.01px;
	margin-left: 157px;
	margin-top: 21px;
}

#u7763
{
	z-index: 28;
	width: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u11593
{
	z-index: 9;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 227px;
}

#u7752
{
	z-index: 10;
	display: block;
}

#u11665
{
	z-index: 13;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 297px;
}

#u7756
{
	z-index: 14;
	display: block;
}

#u11875
{
	z-index: 11;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 367px;
}

#u7754
{
	z-index: 12;
	display: block;
}

#u11719
{
	z-index: 24;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 437px;
}

#u7759
{
	z-index: 25;
	display: block;
}

#u7758-9
{
	z-index: 15;
	min-height: 208px;
	background-color: transparent;
	line-height: 18px;
	text-align: justify;
	font-size: 15px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u7758-2,#u7758-3,#u7758-5,#u7758-6,#u7758-7
{
	padding-right: 10px;
	padding-left: 10px;
}

#u7758-9-bw
{
	z-index: 15;
	min-height: 208px;
	margin-top: 22px;
}

#pu4769
{
	width: 0.01px;
	margin-top: 166px;
}

#u4769,#u4769-bw
{
	z-index: 2;
	height: 77px;
}

#u4770-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u4770-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u13327-14
{
	z-index: 34;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 265px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 768px;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

@font-face
{
	font-family: '__web-icons_5';
	src: url('../../fonts/web-icons.eot');
	src: local('☺'), url('../../fonts/web-icons.woff') format('woff'), url('../../fonts/web-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

