.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u4817-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4826-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4833-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4839-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4847-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4770-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u5418-7,#u5418-9,#u5420-5,#u5420-7,#u5416-5,#u5416-7,#u6043-5,#u6043-7,#u6047-5,#u6047-7
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u5418,#u5418-2,#u5418-6,#u5420,#u5420-2,#u5420-4,#u5416,#u5416-2,#u5416-4,#u6043,#u6043-2,#u6043-4,#u6047,#u6047-2,#u6047-4,#u5404-16,#u5198-13
{
	font-family: source-sans-pro-n3, sans-serif;
}

