.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u4817-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4826-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4833-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4839-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4847-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6623-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4770-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u5059-3,#u5059-5,#u5063-4,#u5055-4,#u5057-4,#u5061-4,#u5065-6
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u5074-4,#u5059-2,#u5063-7,#u5055-7,#u5057-7,#u5061-7,#u5065-9,#u5070-20
{
	font-family: source-sans-pro-n3, sans-serif;
}

