.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u4817-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4826-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4833-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4839-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4847-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6623-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4770-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u7363-20
{
	font-family: open-sans-n6, sans-serif;
}

#u7361-7,#u7360-4,#u7363-2,#u7363-3,#u7363-8,#u7363-9,#u7363-11,#u7363-13,#u7363-14,#u7363-16,#u7363-18,#u7363-19,#u7363-25,#u7363-26,#u7363-28,#u7363-29,#u7363-32,#u7363-33,#u7363-36,#u7363-37,#u7363-41,#u7363-42
{
	font-family: source-sans-pro-n3, sans-serif;
}

