.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u4817-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4826-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4833-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4839-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4847-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4770-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u5000-30,#u4997-28,#u4982-32,#u4995-35
{
	font-family: open-sans-n6, sans-serif;
}

#u5002-8,#u5001-6,#u5000-45,#u5003-8,#u4998-6,#u4997-42,#u4997-38,#u5004-8,#u4992-6,#u4982-54,#u4982-49,#u5005-8,#u4996-6,#u4995-52,#u4995-48
{
	font-family: source-sans-pro-n3, sans-serif;
}

