.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u8972-4
{
	font-family: '__websocialmenus_5';
}

#u9122-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u9117-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u9131-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u9136-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u9146-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u9154-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4770-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u13327-14
{
	font-family: '__websocialmenus_5';
}

#u13327-10
{
	font-family: '__web-icons_5';
}

#u5110-6,#u5110-8,#u5104-7,#u5106-7,#u5102-7,#u5108-7,#u5112-7
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u5110,#u5110-2,#u5110-3,#u5110-5,#u5104-10,#u5106-10,#u5102-10,#u5108-10,#u5112-10,#u5124-20,#u5126-15
{
	font-family: source-sans-pro-n3, sans-serif;
}

