.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u4817-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4826-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4833-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4839-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4847-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6623-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4770-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6332-17,#u5391-14,#u6348-18,#u5906-19,#u5365-31,#u5000-35,#u4982-32,#u4995-40
{
	font-family: open-sans-n6, sans-serif;
}

#u6334-8,#u6333-6,#u6332-30,#u5393-8,#u5392-6,#u5391-29,#u5391-25,#u6350-7,#u6349-6,#u6348-25,#u5909-9,#u5907-6,#u5906-32,#u5906-28,#u5382-8,#u5381-6,#u5365-41,#u5002-8,#u5001-6,#u5000-52,#u5004-8,#u4992-6,#u4982-54,#u4982-49,#u5005-8,#u4996-6,#u4995-57,#u4995-53
{
	font-family: source-sans-pro-n3, sans-serif;
}

