.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u4817-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4826-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4833-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4839-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4847-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4770-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u5391-26,#u5365-31,#u5000-35,#u4982-32,#u4995-35
{
	font-family: open-sans-n6, sans-serif;
}

#u5393-8,#u5392-6,#u5391-40,#u5391-36,#u5382-8,#u5381-6,#u5365-45,#u5002-8,#u5001-6,#u5000-52,#u5004-8,#u4992-6,#u4982-54,#u4982-49,#u5005-8,#u4996-6,#u4995-52,#u4995-48
{
	font-family: source-sans-pro-n3, sans-serif;
}

