.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u8972-4
{
	font-family: '__websocialmenus_5';
}

#u9122-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u9117-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u9131-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u9136-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u9146-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u9154-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4770-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u13327-14
{
	font-family: '__websocialmenus_5';
}

#u13327-10
{
	font-family: '__web-icons_5';
}

#u6154-8
{
	font-family: source-sans-pro-n3, sans-serif;
}

