.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u4817-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4826-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4833-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4839-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4847-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6623-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4770-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4927-4,#u4929-4,#u7188-18,#u7176,#u7176-4,#u7176-15,#u7176-19,#u7192,#u7192-5,#u7192-6,#u7192-26,#u7182,#u7182-4,#u7182-10,#u7182-20
{
	font-family: source-sans-pro-n3, sans-serif;
}

