.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u8972-4
{
	font-family: '__websocialmenus_5';
}

#u9122-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u9117-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u9131-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u9136-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u9146-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u9154-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4770-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u13327-14
{
	font-family: '__websocialmenus_5';
}

#u13327-10
{
	font-family: '__web-icons_5';
}

#u4955-6,#u13287-22,#u13289-24,#u13291-24
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u13287-12,#u13287-14,#u13287-15,#u13287-17,#u13287-18,#u13289-14,#u13289-16,#u13289-17,#u13289-19,#u13289-20,#u13291-14,#u13291-16,#u13291-17,#u13291-19,#u13291-20
{
	font-family: '__websocialmenus_5';
}

