.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

#u4817-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4826-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4833-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4839-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4847-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4770-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u5110-6,#u5110-8,#u5104-7,#u5106-7,#u5102-7,#u5108-7,#u5112-7
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u5110,#u5110-2,#u5110-3,#u5110-5,#u5104-10,#u5106-10,#u5102-10,#u5108-10,#u5112-10,#u5124-20,#u5126-15
{
	font-family: source-sans-pro-n3, sans-serif;
}

