.version.index /* version checker */
{
	color: #000000;
	background-color: #DA1D7E;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 845.7800301535094px;
	background-image: none;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	border-width: 0px 0px 1px;
}

#page_position_content
{
	width: 0.01px;
}

#menuu4814
{
	z-index: 12;
	width: 762px;
	padding-bottom: 6px;
}

#u4815
{
	width: 149px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u4816
{
	width: 148px;
	padding-bottom: 16px;
}

#u4817-4
{
	width: 148px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4822
{
	width: 149px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 154px;
}

#u4823
{
	width: 148px;
	padding-bottom: 16px;
}

#u4816.MuseMenuActive,#u4823.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u4826-4
{
	width: 148px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4816.MuseMenuActive #u4817-4,#u4823.MuseMenuActive #u4826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u4829
{
	width: 150px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 305px;
}

#u4830
{
	width: 149px;
	padding-bottom: 16px;
}

#u4833-4
{
	width: 149px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4836
{
	width: 150px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 457px;
}

#u4837
{
	width: 149px;
	padding-bottom: 16px;
}

#u4830.MuseMenuActive,#u4837.MuseMenuActive
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u4839-4
{
	width: 149px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4830.MuseMenuActive #u4833-4,#u4837.MuseMenuActive #u4839-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 149px;
	margin: 0px -10000px 0px 0px;
}

#u4843
{
	width: 150px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 609px;
}

#u4846
{
	width: 150px;
	padding-bottom: 16px;
}

#u4846.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u4847-4
{
	width: 150px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4846.MuseMenuActive #u4847-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4895
{
	z-index: 43;
	min-height: 47px;
	padding-bottom: 94px;
	background: transparent url("../../images/yellow-k-logo-horiz-b-w-trans.gif") no-repeat center top;
	background-size: contain;
}

#u5025
{
	z-index: 54;
	overflow: hidden;
	position: relative;
	width: 85px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 654px;
}

#u4895-bw
{
	z-index: 43;
	min-height: 47px;
	margin-top: -1px;
	margin-bottom: -1px;
}

#pu4927-4
{
	width: 0.01px;
	margin-left: 154px;
	margin-top: 2px;
}

#u4927-4
{
	z-index: 44;
	width: 94px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u4929-4
{
	z-index: 49;
	width: 66px;
	min-height: 18px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 381px;
}

#u4930
{
	z-index: 53;
	overflow: hidden;
	position: relative;
	width: 9px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 447px;
}

#u4928
{
	z-index: 48;
	width: 456px;
	height: 2px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-left: 154px;
	top: -4px;
	margin-bottom: -3px;
	position: relative;
	border-width: 0px 0px 1px;
}

#pamphletu5818
{
	z-index: 55;
	width: 0.01px;
	height: 530px;
	padding-bottom: 11px;
	margin-left: 136px;
	margin-top: 16px;
	position: relative;
}

#u5830
{
	position: absolute;
	width: 495px;
	background-color: transparent;
}

#u5830popup
{
	z-index: 56;
}

#u5836
{
	z-index: 57;
	width: 487px;
	height: 475px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 12px;
	padding-right: 8px;
	padding-bottom: 54px;
	margin-right: -10000px;
	position: relative;
}

#u5837
{
	z-index: 80;
	width: 235px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5839
{
	z-index: 82;
	width: 235px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#u5841-22
{
	z-index: 58;
	width: 487px;
	min-height: 208px;
	background-color: transparent;
	text-align: justify;
	font-size: 32px;
	margin-top: 32px;
	position: relative;
}

#u5841-11,#u5841-12,#u5841-14,#u5841-16,#u5841-17,#u5841-19
{
	font-size: 14px;
	font-style: normal;
	line-height: 25px;
}

#u5831
{
	z-index: 84;
	width: 487px;
	height: 471px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 13px;
	padding-right: 8px;
	padding-bottom: 57px;
	margin-right: -10000px;
	position: relative;
}

#pu5837,#pu5832
{
	width: 0.01px;
	margin-left: 8px;
}

#u5832
{
	z-index: 85;
	width: 235px;
	height: 235px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/dustin_dimensions_art-u5832-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u5832
{
	background-image: url("../../images/dustin_dimensions_art-u5832-fr_2x.jpg");
}

#u5833
{
	z-index: 106;
	width: 235px;
	min-height: 239px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u5835-20
{
	z-index: 86;
	width: 487px;
	min-height: 208px;
	background-color: transparent;
	text-align: justify;
	font-size: 32px;
	margin-top: 24px;
	position: relative;
}

#u5835-14,#u5835-16
{
	font-size: 14px;
	font-style: italic;
	line-height: 28px;
}

#u5848
{
	z-index: 107;
	width: 495px;
	height: 541px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5851-16
{
	z-index: 108;
	width: 487px;
	min-height: 208px;
	background-color: transparent;
	text-align: justify;
	font-size: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	left: 4px;
}

#u5835-11,#u5835-13,#u5835-15,#u5835-17,#u5851-10,#u5851-12
{
	font-size: 14px;
	font-style: normal;
	line-height: 28px;
}

#u5849
{
	z-index: 124;
	width: 471px;
	min-height: 311px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#u5842
{
	z-index: 125;
	width: 487px;
	height: 508px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 11px 4px 22px;
}

#pu5845
{
	width: 0.01px;
	margin-left: 4px;
}

#u5845
{
	z-index: 126;
	width: 235px;
	min-height: 294px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5843
{
	z-index: 140;
	width: 235px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u5847-13
{
	z-index: 127;
	width: 487px;
	min-height: 208px;
	background-color: transparent;
	font-size: 32px;
	margin-top: 6px;
	position: relative;
}

#u5841-3,#u5835-3,#u5851-3,#u5847-3
{
	line-height: 38px;
	padding-right: 12px;
	padding-left: 12px;
}

#u5841-6,#u5835-6,#u5851-6,#u5847-5
{
	padding-right: 12px;
	padding-left: 12px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5841-4,#u5835-4,#u5851-4,#u5847-4
{
	font-size: 14px;
	line-height: 17px;
}

#u5841-10,#u5841-20,#u5835-10,#u5835-18,#u5851-9,#u5851-14,#u5847-7
{
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5841-7,#u5841-9,#u5835-7,#u5835-9,#u5851-7,#u5851-11,#u5847-6
{
	font-size: 14px;
	line-height: 28px;
}

#u5847-11
{
	text-align: justify;
	padding-right: 12px;
	padding-left: 12px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5841-13,#u5841-15,#u5847-9
{
	font-size: 14px;
	font-style: italic;
	line-height: 25px;
}

#u5847-8,#u5847-10
{
	font-size: 14px;
	line-height: 25px;
}

#u5823
{
	z-index: 142;
	width: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 516px;
	left: 216px;
}

#u5826
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u5826.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u5824
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	left: 22px;
	background: transparent url("../../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u5824.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u5827
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	left: 44px;
	background: transparent url("../../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u5827.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u5825
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	left: 66px;
	background: transparent url("../../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u5826,.nosvg #u5824,.nosvg #u5827,.nosvg #u5825
{
	background-image: url('../../images/thumbnail_poster_u2139.png');
}

#u5825.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u5826.PamphletThumbSelected,.nosvg #u5824.PamphletThumbSelected,.nosvg #u5827.PamphletThumbSelected,.nosvg #u5825.PamphletThumbSelected
{
	background-image: url('../../images/thumbnail_active_poster_u2145.png');
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu4769
{
	width: 0.01px;
	margin-top: 51px;
}

#u4769,#u4769-bw
{
	z-index: 2;
	height: 77px;
}

#u4770-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u4770-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u4771
{
	z-index: 9;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 365px;
}

#u4772
{
	z-index: 10;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 444px;
}

#u4773
{
	z-index: 11;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 286px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

