.version.index /* version checker */
{
	color: #00001F;
	background-color: #637A0A;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 845.7800301535094px;
	background-image: none;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	border-width: 0px 0px 1px;
}

#page_position_content
{
	width: 0.01px;
}

#menuu4814
{
	z-index: 12;
	width: 762px;
	padding-bottom: 6px;
}

#u4815
{
	width: 149px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u4816
{
	width: 148px;
	padding-bottom: 16px;
}

#u4817-4
{
	width: 148px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4822
{
	width: 149px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 154px;
}

#u4823
{
	width: 148px;
	padding-bottom: 16px;
}

#u4816.MuseMenuActive,#u4823.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u4826-4
{
	width: 148px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4816.MuseMenuActive #u4817-4,#u4823.MuseMenuActive #u4826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u4829
{
	width: 150px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 305px;
}

#u4830
{
	width: 149px;
	padding-bottom: 16px;
}

#u4833-4
{
	width: 149px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4836
{
	width: 150px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 457px;
}

#u4837
{
	width: 149px;
	padding-bottom: 16px;
}

#u4830.MuseMenuActive,#u4837.MuseMenuActive
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u4839-4
{
	width: 149px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4830.MuseMenuActive #u4833-4,#u4837.MuseMenuActive #u4839-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 149px;
	margin: 0px -10000px 0px 0px;
}

#u4843
{
	width: 150px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 609px;
}

#u4846
{
	width: 150px;
	padding-bottom: 16px;
}

#u4846.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u4847-4
{
	width: 150px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4846.MuseMenuActive #u4847-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4895
{
	z-index: 43;
	min-height: 47px;
	padding-bottom: 94px;
	background: transparent url("../../images/yellow-k-logo-horiz-b-w-trans.gif") no-repeat center top;
	background-size: contain;
}

#u5025
{
	z-index: 54;
	overflow: hidden;
	position: relative;
	width: 85px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 654px;
}

#u4895-bw
{
	z-index: 43;
	min-height: 47px;
	margin-top: -1px;
	margin-bottom: -1px;
}

#pu4927-4
{
	width: 0.01px;
	margin-left: 154px;
	margin-top: 2px;
}

#u4927-4
{
	z-index: 44;
	width: 94px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u4929-4
{
	z-index: 49;
	width: 66px;
	min-height: 18px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 381px;
}

#u4930
{
	z-index: 53;
	overflow: hidden;
	position: relative;
	width: 9px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 447px;
}

#u4928
{
	z-index: 48;
	width: 456px;
	height: 2px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-left: 154px;
	top: -4px;
	margin-bottom: -3px;
	position: relative;
	border-width: 0px 0px 1px;
}

#pamphletu5818
{
	z-index: 55;
	width: 0.01px;
	height: 530px;
	padding-bottom: 11px;
	margin-left: 136px;
	margin-top: 16px;
	position: relative;
}

#u5830
{
	position: absolute;
	width: 495px;
	background-color: transparent;
}

#u5830popup
{
	z-index: 56;
}

#u5836
{
	z-index: 57;
	width: 487px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 18px 4px 33px;
}

#pu6281
{
	width: 0.01px;
	margin-left: 7px;
}

#u6281
{
	z-index: 86;
	width: 235px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6283
{
	z-index: 88;
	width: 235px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 243px;
}

#u6280-28
{
	z-index: 58;
	width: 487px;
	min-height: 208px;
	background-color: transparent;
	text-align: justify;
	margin-top: 32px;
	position: relative;
}

#u6280-3
{
	font-size: 32px;
	line-height: 38px;
	padding-right: 12px;
	padding-left: 12px;
}

#u6280-5
{
	font-size: 14px;
	padding-right: 12px;
	padding-left: 12px;
}

#u6280-8
{
	font-size: 32px;
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6280-26
{
	font-size: 14px;
	line-height: 28px;
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
}

#u6280-9,#u6280-13,#u6280-14,#u6280-16,#u6280-19,#u6280-23,#u6280-24
{
	font-style: normal;
}

#u5831
{
	z-index: 90;
	width: 487px;
	height: 475px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 19px 4px 47px;
}

#u6274
{
	z-index: 113;
	width: 235px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6276
{
	z-index: 115;
	width: 235px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#u6273-22
{
	z-index: 91;
	width: 487px;
	min-height: 208px;
	background-color: transparent;
	text-align: justify;
	font-size: 32px;
	margin-top: 32px;
	position: relative;
}

#u6273-13,#u6273-15
{
	font-size: 14px;
	font-style: italic;
	line-height: 25px;
}

#u6273-11,#u6273-12,#u6273-14,#u6273-16,#u6273-17,#u6273-19
{
	font-size: 14px;
	font-style: normal;
	line-height: 25px;
}

#u5848
{
	z-index: 117;
	width: 487px;
	height: 471px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 17px 4px 53px;
}

#pu6274,#pu6269
{
	width: 0.01px;
	margin-left: 8px;
}

#u6269
{
	z-index: 118;
	width: 235px;
	height: 235px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/dustin_dimensions_art-u6269-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u6269
{
	background-image: url("../../images/dustin_dimensions_art-u6269-fr_2x.jpg");
}

#u6271
{
	z-index: 139;
	width: 235px;
	min-height: 239px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u6270-20
{
	z-index: 119;
	width: 487px;
	min-height: 208px;
	background-color: transparent;
	text-align: justify;
	font-size: 32px;
	margin-top: 24px;
	position: relative;
}

#u6270-14,#u6270-16
{
	font-size: 14px;
	font-style: italic;
	line-height: 28px;
}

#u5842
{
	z-index: 140;
	width: 495px;
	height: 541px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6262-16
{
	z-index: 141;
	width: 487px;
	min-height: 208px;
	background-color: transparent;
	text-align: justify;
	font-size: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 319px;
	left: 4px;
}

#u6273-3,#u6270-3,#u6262-3
{
	line-height: 38px;
	padding-right: 12px;
	padding-left: 12px;
}

#u6273-6,#u6270-6,#u6262-6
{
	padding-right: 12px;
	padding-left: 12px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6273-4,#u6270-4,#u6262-4
{
	font-size: 14px;
	line-height: 17px;
}

#u6273-10,#u6273-20,#u6270-10,#u6270-18,#u6262-9,#u6262-14
{
	padding-right: 12px;
	padding-left: 12px;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6280-6,#u6273-7,#u6273-9,#u6270-7,#u6270-9,#u6262-7,#u6262-11
{
	font-size: 14px;
	line-height: 28px;
}

#u6270-11,#u6270-13,#u6270-15,#u6270-17,#u6262-10,#u6262-12
{
	font-size: 14px;
	font-style: normal;
	line-height: 28px;
}

#u6263
{
	z-index: 157;
	width: 471px;
	min-height: 311px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 10px;
}

#u5823
{
	z-index: 158;
	width: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 516px;
	left: 216px;
}

#u5826
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u5826.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u5824
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	left: 22px;
	background: transparent url("../../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u5824.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u5827
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	left: 44px;
	background: transparent url("../../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

#u5827.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

#u5825
{
	position: absolute;
	width: 15px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	left: 66px;
	background: transparent url("../../images/thumbnail.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u5826,.nosvg #u5824,.nosvg #u5827,.nosvg #u5825
{
	background-image: url('../../images/thumbnail_poster_u2139.png');
}

#u5825.PamphletThumbSelected
{
	width: 15px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../../images/thumbnail_active.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u5826.PamphletThumbSelected,.nosvg #u5824.PamphletThumbSelected,.nosvg #u5827.PamphletThumbSelected,.nosvg #u5825.PamphletThumbSelected
{
	background-image: url('../../images/thumbnail_active_poster_u2145.png');
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu4769
{
	width: 0.01px;
	margin-top: 51px;
}

#u4769,#u4769-bw
{
	z-index: 2;
	height: 77px;
}

#u4770-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u4770-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u4771
{
	z-index: 9;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 365px;
}

#u4772
{
	z-index: 10;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 444px;
}

#u4773
{
	z-index: 11;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 286px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

