/*

*/

.version.index /* version checker */
{
	color: #000019;
	background-color: #E71934;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 885.8499999999999px;
	background-image: none;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	border-width: 0px 0px 1px;
}

#u8969
{
	z-index: 10;
}

#u8972-4
{
	z-index: 11;
	min-height: 33px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u8972-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 33px;
	margin: 0px;
}

#u8972-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 33px;
	margin: 0px;
}

#u8972-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 33px;
	margin: 0px;
}

#u8970
{
	z-index: 15;
}

#menuu9112
{
	z-index: 16;
	width: 538px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u9120
{
	width: 538px;
	position: relative;
}

#u9121
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u9121:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9121:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9122-4
{
	width: 538px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u9121:hover #u9122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9121:active #u9122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9114
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u9121.MuseMenuActive,#u9114:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9114:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9117-4
{
	width: 538px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u9121.MuseMenuActive #u9122-4,#u9114:hover #u9117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9114:active #u9117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9130
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u9114.MuseMenuActive,#u9130:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9130:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9131-4
{
	width: 538px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u9114.MuseMenuActive #u9117-4,#u9130:hover #u9131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9130:active #u9131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9135
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u9130.MuseMenuActive,#u9135:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9135:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9136-4
{
	width: 538px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u9130.MuseMenuActive #u9131-4,#u9135:hover #u9136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9135:active #u9136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9144
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u9135.MuseMenuActive,#u9144:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9144:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9146-4
{
	width: 538px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u9135.MuseMenuActive #u9136-4,#u9144:hover #u9146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9144:active #u9146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9113,#u9127,#u9134,#u9141,#u9148
{
	width: 538px;
	margin-top: 2px;
	position: relative;
}

#u9151
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u9144.MuseMenuActive,#u9151:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9151:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9151.MuseMenuActive
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9154-4
{
	width: 538px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u9144.MuseMenuActive #u9146-4,#u9151:hover #u9154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9151:active #u9154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9151.MuseMenuActive #u9154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#pu12025
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 23px;
	margin-left: 618px;
}

#u12025
{
	z-index: 53;
	width: 85px;
	margin-left: 38px;
	position: relative;
}

#u9296
{
	z-index: 54;
}

#u12115
{
	z-index: 55;
	width: 123px;
	margin-top: 31px;
	position: relative;
}

#u9298
{
	z-index: 56;
}

#u9304
{
	z-index: 59;
	width: 37px;
	height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 616px;
}

#u9302
{
	z-index: 57;
	width: 37px;
	height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 660px;
}

#u9303
{
	z-index: 58;
	width: 37px;
	height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 704px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#accordionu8964,#accordionu8964-bw
{
	z-index: 9;
}

#u4895
{
	z-index: 60;
	height: 141px;
	background: transparent url("../../images/yellow-k-logo-horiz-b-w-trans-u4895-fr.png") no-repeat center top;
	background-size: contain;
}

.hidpi #u4895
{
	background-image: url("../../images/yellow-k-logo-horiz-b-w-trans-u4895-fr_2x.png");
}

#u4895-bw
{
	z-index: 60;
	margin-top: 6px;
	height: 141px;
}

#pu4927-4
{
	width: 0.01px;
	margin-left: 154px;
	margin-top: 2px;
}

#u4927-4
{
	z-index: 61;
	width: 94px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u4929-4
{
	z-index: 66;
	width: 66px;
	min-height: 18px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 381px;
}

#u12013
{
	z-index: 70;
	width: 9px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 447px;
}

#u4930
{
	z-index: 71;
	display: block;
}

#u4928
{
	z-index: 65;
	width: 456px;
	height: 2px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-left: 154px;
	top: -4px;
	margin-bottom: -3px;
	position: relative;
	border-width: 0px 0px 1px;
}

#pu108480
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 8px;
}

#u108480
{
	z-index: 110;
	width: 683px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u108484
{
	z-index: 111;
	width: 619px;
	-pie-box-shadow: 9px 4px 8px #CCCCCC;
	box-shadow: 9px 4px 8px rgba(0,0,0,0.2);
	background-color: #F0F1F3;
	position: relative;
	margin-right: -10000px;
	padding: 36px 29px 36.10000000000002px 35px;
}

#u108481
{
	z-index: 112;
	width: 619px;
	background-color: transparent;
	position: relative;
}

#u108483-4
{
	z-index: 114;
	width: 595px;
	min-height: 44px;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../../images/blank.gif");
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	color: #484848;
	line-height: 44px;
	text-align: center;
	font-size: 37px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-left: 9px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u108483-4:hover
{
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 595px;
	margin: 0px 0px 0px 9px;
}

#u108483-2
{
	padding-top: 7px;
}

#u108485-4
{
	z-index: 118;
	width: 594px;
	min-height: 39px;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 530px;
	left: 33px;
}

#u108467
{
	z-index: 74;
	width: 683px;
	min-height: 520px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 33px;
	position: relative;
}

#u108468
{
	z-index: 75;
	width: 624px;
	height: 1px;
	background-color: #484848;
	margin-left: 70px;
	margin-top: 23px;
	position: relative;
}

#pu108465
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: 20px;
}

#u108465
{
	z-index: 72;
	width: 196px;
	-pie-box-shadow: 5px 3px 10px #AAAAAA;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	background-color: #F0F1F3;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u108469
{
	z-index: 76;
	width: 155px;
	background-color: transparent;
	margin-left: 21px;
	position: relative;
}

#u108473-4
{
	z-index: 80;
	width: 196px;
	min-height: 71px;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../../images/blank.gif");
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	letter-spacing: 3px;
	color: #484848;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u127038-4
{
	z-index: 126;
	width: 196px;
	min-height: 24px;
	background-color: transparent;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
}

#u127038
{
	text-align: center;
	font-style: italic;
}

#u108466
{
	z-index: 73;
	width: 196px;
	-pie-box-shadow: 5px 3px 10px #AAAAAA;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	background-color: #F0F1F3;
	position: relative;
	margin-right: -10000px;
	left: 448px;
}

#u108465_position_content,#u108466_position_content
{
	margin-bottom: -5px;
	padding-top: 25px;
	width: 100%;
}

#u108471
{
	z-index: 78;
	width: 155px;
	background-color: transparent;
	margin-left: 20px;
	position: relative;
}

#pu108473-4,#pu108474-4
{
	width: 0.01px;
}

#u108474-4
{
	z-index: 84;
	width: 196px;
	min-height: 71px;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../../images/blank.gif");
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	letter-spacing: 3px;
	color: #484848;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u108473-4:hover,#u108474-4:hover
{
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 71px;
	width: 196px;
	margin: 0px -10000px 0px 0px;
}

#u127039-4
{
	z-index: 130;
	width: 196px;
	min-height: 24px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
}

#u108475
{
	z-index: 88;
	width: 196px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u108479
{
	z-index: 89;
	width: 196px;
	-pie-box-shadow: 5px 3px 10px #AAAAAA;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	background-color: #F0F1F3;
	position: relative;
	margin-right: -10000px;
}

#u108479_position_content
{
	margin-bottom: -5px;
	padding-top: 22px;
	width: 100%;
}

#u108477
{
	z-index: 90;
	width: 157px;
	background-color: transparent;
	margin-left: 20px;
	position: relative;
}

#u108476-4
{
	z-index: 92;
	width: 196px;
	min-height: 71px;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	background-image: url("../../images/blank.gif");
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	letter-spacing: 1px;
	color: #484848;
	font-size: 24px;
	font-family: bebas-neue, sans-serif;
	font-weight: 400;
	margin-top: 3px;
	position: relative;
}

#u108476-4:hover
{
	-webkit-transition-duration: 0.1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 71px;
	width: 196px;
	margin: 3px 0px 0px;
}

#u108483-4:hover p,#u108473-4:hover p,#u108474-4:hover p,#u108476-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u108473-2,#u108474-2,#u108476-2
{
	padding-top: 10px;
}

#u127035-4
{
	z-index: 122;
	width: 196px;
	min-height: 24px;
	background-color: transparent;
	line-height: 13px;
	text-align: center;
	font-size: 11px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
}

#pu4769
{
	width: 0.01px;
	margin-top: 56px;
}

#u4769,#u4769-bw
{
	z-index: 2;
	height: 77px;
}

#u4770-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u4770-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u13327-14
{
	z-index: 96;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 265px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 768px;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

@font-face
{
	font-family: '__web-icons_5';
	src: url('../../fonts/web-icons.eot');
	src: local('☺'), url('../../fonts/web-icons.woff') format('woff'), url('../../fonts/web-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

