#menuu4814
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4816
{
	background-color: #484848;
	position: relative;
}

#u4816:hover
{
	background-color: #999999;
}

#u4816:active
{
	background-color: #6B6B6B;
}

#u4817-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 32px;
	line-height: 38px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u4823
{
	background-color: #484848;
	position: relative;
}

#u4816.MuseMenuActive,#u4823:hover
{
	background-color: #999999;
}

#u4823:active
{
	background-color: #6B6B6B;
}

#u4826-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 32px;
	line-height: 38px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u4830
{
	background-color: #484848;
	position: relative;
}

#u4823.MuseMenuActive,#u4830:hover
{
	background-color: #999999;
}

#u4830:active
{
	background-color: #6B6B6B;
}

#u4833-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 32px;
	line-height: 38px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u4837
{
	background-color: #484848;
	position: relative;
}

#u4830.MuseMenuActive,#u4837:hover
{
	background-color: #999999;
}

#u4837:active
{
	background-color: #6B6B6B;
}

#u4839-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 32px;
	line-height: 38px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u4815,#u4822,#u4829,#u4836,#u4843
{
	background-color: transparent;
	position: relative;
}

#u4846
{
	background-color: #484848;
	position: relative;
}

#u4837.MuseMenuActive,#u4846:hover
{
	background-color: #999999;
}

#u4846:active
{
	background-color: #6B6B6B;
}

#u4846.MuseMenuActive
{
	background-color: #999999;
}

#u4847-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 32px;
	line-height: 38px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u4769
{
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	-pie-background: rgba(0,0,0,0.6);
}

#u4770-6
{
	background-color: transparent;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4770
{
	color: #FFFFFF;
}

.big_menu_facebook
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../../images/fb-01-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u4771
{
	background-image: url('../../images/fb-01-01_poster_u1346.png');
}

.big_menu_twitter
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../../images/twiiter-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u4772
{
	background-image: url('../../images/twiiter-01_poster_u1372.png');
}

#u4771,#u4772,#u4773
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: relative;
	background-size: contain;
}

.big_menu_insta
{
	border-style: none;
	border-color: #000000;
	background: transparent url("../../images/insta-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg #u4773
{
	background-image: url('../../images/insta-01_poster_u1385.png');
}

