#u8972-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
	color: #FFFFFF;
	line-height: 30px;
	font-size: 30px;
	font-family: '__websocialmenus_5';
	font-weight: 400;
}

#u8972-4:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #7F7F7F;
}

#u8972-4:active
{
	background-color: #7F7F7F;
}

#u8972-4.AccordionPanelTabOpen
{
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
}

#u8972-4.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
}

#u8970
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
}

#accordionu8964,#menuu9112
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u9121
{
	background: transparent url("../../images/u9121-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#7F7F7F),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#7F7F7F ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#7F7F7F ,rgba(255,255,255,0) 100%);
}

#u9121:hover
{
	background: transparent url("../../images/u9121-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#999999),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#999999 ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#999999 ,rgba(255,255,255,0) 100%);
}

#u9121:active
{
	background: transparent url("../../images/u9121-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#6B6B6B),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#6B6B6B ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#6B6B6B ,rgba(255,255,255,0) 100%);
}

#u9121.MuseMenuActive
{
	background: transparent url("../../images/u9121-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#999999),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#999999 ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#999999 ,rgba(255,255,255,0) 100%);
}

#u9122-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u9122-2
{
	padding-left: 20px;
}

#u9114
{
	background: transparent url("../../images/u9121-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#7F7F7F),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#7F7F7F ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#7F7F7F ,rgba(255,255,255,0) 100%);
}

#u9114:hover
{
	background: transparent url("../../images/u9121-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#999999),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#999999 ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#999999 ,rgba(255,255,255,0) 100%);
}

#u9114:active
{
	background: transparent url("../../images/u9121-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#6B6B6B),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#6B6B6B ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#6B6B6B ,rgba(255,255,255,0) 100%);
}

#u9114.MuseMenuActive
{
	background: transparent url("../../images/u9121-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#999999),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#999999 ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#999999 ,rgba(255,255,255,0) 100%);
}

#u9117-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u9117-2
{
	padding-left: 20px;
}

#u9130
{
	background: transparent url("../../images/u9121-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#7F7F7F),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#7F7F7F ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#7F7F7F ,rgba(255,255,255,0) 100%);
}

#u9130:hover
{
	background: transparent url("../../images/u9121-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#999999),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#999999 ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#999999 ,rgba(255,255,255,0) 100%);
}

#u9130:active
{
	background: transparent url("../../images/u9121-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#6B6B6B),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#6B6B6B ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#6B6B6B ,rgba(255,255,255,0) 100%);
}

#u9130.MuseMenuActive
{
	background: transparent url("../../images/u9121-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#999999),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#999999 ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#999999 ,rgba(255,255,255,0) 100%);
}

#u9131-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u9131-2
{
	padding-left: 20px;
}

#u9135
{
	background: transparent url("../../images/u9121-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#7F7F7F),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#7F7F7F ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#7F7F7F ,rgba(255,255,255,0) 100%);
}

#u9135:hover
{
	background: transparent url("../../images/u9121-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#999999),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#999999 ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#999999 ,rgba(255,255,255,0) 100%);
}

#u9135:active
{
	background: transparent url("../../images/u9121-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#6B6B6B),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#6B6B6B ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#6B6B6B ,rgba(255,255,255,0) 100%);
}

#u9135.MuseMenuActive
{
	background: transparent url("../../images/u9121-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#999999),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#999999 ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#999999 ,rgba(255,255,255,0) 100%);
}

#u9136-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u9136-2
{
	padding-left: 20px;
}

#u9144
{
	background: transparent url("../../images/u9121-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#7F7F7F),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#7F7F7F ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#7F7F7F ,rgba(255,255,255,0) 100%);
}

#u9144:hover
{
	background: transparent url("../../images/u9121-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#999999),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#999999 ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#999999 ,rgba(255,255,255,0) 100%);
}

#u9144:active
{
	background: transparent url("../../images/u9121-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#6B6B6B),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#6B6B6B ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#6B6B6B ,rgba(255,255,255,0) 100%);
}

#u9144.MuseMenuActive
{
	background: transparent url("../../images/u9121-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#999999),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#999999 ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#999999 ,rgba(255,255,255,0) 100%);
}

#u9146-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u9146-2
{
	padding-left: 20px;
}

#u9151
{
	background: transparent url("../../images/u9121-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#7F7F7F),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#7F7F7F ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#7F7F7F ,rgba(255,255,255,0) 100%);
}

#u9151:hover
{
	background: transparent url("../../images/u9121-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#999999),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#999999 ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#999999 ,rgba(255,255,255,0) 100%);
}

#u9151:active
{
	background: transparent url("../../images/u9121-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#6B6B6B),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#6B6B6B ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#6B6B6B ,rgba(255,255,255,0) 100%);
}

#u9151.MuseMenuActive
{
	background: transparent url("../../images/u9121-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#999999),color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,#999999 ,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,#999999 ,rgba(255,255,255,0) 100%);
}

#u9154-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u9154-2
{
	padding-left: 20px;
}

#u8969,#u9120,#u9113,#u9127,#u9134,#u9141,#u9148,#u12025,#u12115
{
	background-color: transparent;
}

#u9296,#u9298
{
	display: block;
}

.big_menu_insta
{
	border-width: 0px;
	border-color: #000000;
	background: transparent url("../../images/insta-01.svg") no-repeat center center;
	background-size: contain;
}

.big_menu_facebook
{
	border-width: 0px;
	border-color: #000000;
	background: transparent url("../../images/fb-01-01.svg") no-repeat center center;
	background-size: contain;
}

.big_menu_twitter
{
	border-width: 0px;
	border-color: #000000;
	background: transparent url("../../images/twiiter-01.svg") no-repeat center center;
	background-size: contain;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u4769
{
	background-color: #666666;
	background-color: rgba(0,0,0,0.6);
	-pie-background: rgba(0,0,0,0.6);
}

#u4770-6
{
	background-color: transparent;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4770
{
	color: #FFFFFF;
}

#u9302,#u4771
{
	background: transparent url("../../images/fb-01-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg .big_menu_facebook,.nosvg #u9302,.nosvg #u4771
{
	background-image: url('../../images/fb-01-01_poster_u1346.png');
}

#u9303,#u4772
{
	background: transparent url("../../images/twiiter-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg .big_menu_twitter,.nosvg #u9303,.nosvg #u4772
{
	background-image: url('../../images/twiiter-01_poster_u1372.png');
}

#u9304,#u4773
{
	background: transparent url("../../images/insta-01.svg") no-repeat center center;
	background-size: contain;
}

.nosvg .big_menu_insta,.nosvg #u9304,.nosvg #u4773
{
	background-image: url('../../images/insta-01_poster_u1385.png');
}

