/*

*/

.version.new_god /* version checker */
{
	color: #00001A;
	background-color: #440071;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u133181
{
	z-index: 133;
}

#u133226-4
{
	z-index: 134;
	min-height: 30px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u133226-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u133226-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u133226-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 30px;
	margin: 0px;
}

#u133182
{
	z-index: 138;
}

#menuu133183
{
	z-index: 139;
	min-height: 241px;
}

#u133220
{
	min-height: 31px;
	padding-bottom: 7px;
	position: relative;
}

#u133220:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133221-4
{
	min-height: 31px;
	position: relative;
	top: 3px;
}

#u133220:hover #u133221-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133187
{
	min-height: 31px;
	padding-bottom: 7px;
	position: relative;
}

#u133220.MuseMenuActive,#u133187:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133190-4
{
	min-height: 31px;
	position: relative;
	top: 3px;
}

#u133220.MuseMenuActive #u133221-4,#u133187:hover #u133190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133208
{
	min-height: 31px;
	padding-bottom: 7px;
	position: relative;
}

#u133187.MuseMenuActive,#u133208:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133211-4
{
	min-height: 31px;
	position: relative;
	top: 3px;
}

#u133187.MuseMenuActive #u133190-4,#u133208:hover #u133211-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133194
{
	min-height: 31px;
	padding-bottom: 8px;
	position: relative;
}

#u133208.MuseMenuActive,#u133194:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133196-4
{
	min-height: 31px;
	position: relative;
	top: 4px;
}

#u133208.MuseMenuActive #u133211-4,#u133194:hover #u133196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133213
{
	min-height: 31px;
	padding-bottom: 8px;
	position: relative;
}

#u133194.MuseMenuActive,#u133213:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133215-4
{
	min-height: 31px;
	position: relative;
	top: 4px;
}

#u133194.MuseMenuActive #u133196-4,#u133213:hover #u133215-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133199
{
	min-height: 31px;
	padding-bottom: 8px;
	position: relative;
}

#u133213.MuseMenuActive,#u133199:hover
{
	min-height: 31px;
	margin: 0px;
}

#u133199.MuseMenuActive
{
	min-height: 31px;
	margin: 0px;
}

#u133200-4
{
	min-height: 31px;
	position: relative;
	top: 4px;
}

#u133213.MuseMenuActive #u133215-4,#u133199:hover #u133200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133199.MuseMenuActive #u133200-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px;
}

#u133184,#u133205,#u133191,#u133212,#u133198
{
	margin-top: 2px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#menuu133183-bw
{
	z-index: 139;
	min-height: 241px;
	margin-bottom: -52px;
	margin-top: -1px;
}

#accordionu133180,#accordionu133180-bw
{
	z-index: 132;
}

#pu133178
{
	width: 0.01px;
	margin-left: 229px;
}

#u133178
{
	z-index: 130;
	width: 310px;
	position: relative;
	margin-right: -10000px;
}

#u133227-4
{
	z-index: 112;
	width: 61px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 379px;
}

#u11521
{
	z-index: 14;
	width: 355px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 16px;
	position: relative;
}

#u5041
{
	z-index: 15;
	display: block;
}

#pu5039
{
	width: 0.01px;
	margin-left: 206px;
	margin-top: 28px;
}

#u5039
{
	z-index: 12;
	width: 195px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu5074-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 49px;
	margin-left: 212px;
}

#u5074-4
{
	z-index: 95;
	width: 133px;
	min-height: 19px;
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#pu11554
{
	width: 0.01px;
	margin-left: 4px;
	margin-top: 1px;
}

#u11554
{
	z-index: 99;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5075
{
	z-index: 100;
	display: block;
}

#u11638
{
	z-index: 101;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 35px;
}

#u5077
{
	z-index: 102;
	display: block;
}

#u11701
{
	z-index: 103;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u5079
{
	z-index: 104;
	display: block;
}

#u11761
{
	z-index: 105;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 105px;
}

#u5081
{
	z-index: 106;
	display: block;
}

#pamphletu5043
{
	z-index: 16;
	width: 0.01px;
	height: 47px;
	padding-bottom: 69px;
	margin-left: 194px;
	position: relative;
}

#u5053
{
	position: absolute;
	width: 380px;
	background-color: transparent;
}

#u5053popup
{
	z-index: 17;
}

#u5058
{
	z-index: 18;
	width: 380px;
	height: 116px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5059-7
{
	z-index: 19;
	width: 356px;
	min-height: 91px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u5059-2
{
	font-size: 13px;
	line-height: 18px;
	color: #29ABE2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5059-3,#u5059-5
{
	font-size: 14px;
	line-height: 20px;
	color: #484848;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u5062
{
	z-index: 26;
	width: 380px;
	height: 116px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5063-7
{
	z-index: 27;
	width: 356px;
	min-height: 62px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u5054
{
	z-index: 34;
	width: 381px;
	height: 116px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5055-7
{
	z-index: 35;
	width: 356px;
	min-height: 99px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 18px;
	text-align: center;
	font-size: 13px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u5056
{
	z-index: 42;
	width: 380px;
	height: 116px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5057-7
{
	z-index: 43;
	width: 356px;
	min-height: 70px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u5060
{
	z-index: 50;
	width: 380px;
	height: 116px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5061-7
{
	z-index: 51;
	width: 356px;
	min-height: 62px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u5061-2
{
	font-size: 13px;
	line-height: 18px;
	color: #29ABE2;
}

#u5061-3
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
}

#u5061-5
{
	font-size: 14px;
	line-height: 20px;
	color: #484848;
}

#u5064
{
	z-index: 58;
	width: 380px;
	height: 116px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5065-9
{
	z-index: 59;
	width: 356px;
	min-height: 72px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u5063-2,#u5055-2,#u5057-2,#u5065-4
{
	color: #29ABE2;
}

#u5063-3,#u5063-5,#u5055-3,#u5055-5,#u5057-3,#u5057-5,#u5065-5,#u5065-7
{
	color: #484848;
}

#u5063-4,#u5055-4,#u5057-4,#u5061-4,#u5065-6
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u5046
{
	z-index: 68;
	width: 95px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 144px;
}

#u5047
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
}

.ie #u5047
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5047.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u5049
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 18px;
}

.ie #u5047.PamphletThumbSelected,.ie #u5049
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5049.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u5050
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 36px;
}

.ie #u5049.PamphletThumbSelected,.ie #u5050
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5050.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u5048
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 54px;
}

.ie #u5050.PamphletThumbSelected,.ie #u5048
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5048.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u5051
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 72px;
}

.ie #u5048.PamphletThumbSelected,.ie #u5051
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5051.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

#u5052
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 90px;
}

.ie #u5051.PamphletThumbSelected,.ie #u5052
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5052.PamphletThumbSelected
{
	width: 5px;
	height: 5px;
	min-height: 0px;
	margin: 0px;
}

.ie #u5052.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u5070-20
{
	z-index: 75;
	min-height: 293px;
	background-color: transparent;
	line-height: 18px;
	text-align: justify;
	font-size: 15px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5070-4,#u5070-5,#u5070-9,#u5070-10,#u5070-18
{
	padding-right: 10px;
	padding-left: 10px;
}

#u5065-2,#u5070-2,#u5070-7,#u5070-12,#u5070-14,#u5070-16
{
	font-style: italic;
}

#u5070-20-bw
{
	z-index: 75;
	min-height: 293px;
	margin-top: 23px;
}

#pu6382
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 21px;
}

#u6382
{
	z-index: 108;
	width: 199px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u6384
{
	z-index: 110;
	width: 199px;
	height: 199px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 235px;
	background: transparent url("../../images/tmsco%20gramaphone%20copy-u6384-fr.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u6384
{
	background-image: url("../../images/tmsco%20gramaphone%20copy-u6384-fr_2x.jpg");
}

#u6385
{
	z-index: 111;
	width: 199px;
	height: 199px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 471px;
	background: transparent url("../../images/newgodsingleart-u6385-fr.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u6385
{
	background-image: url("../../images/newgodsingleart-u6385-fr_2x.png");
}

#pu5037
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 20px;
}

#u5037
{
	z-index: 11;
	width: 327px;
	min-height: 204px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5035
{
	z-index: 10;
	width: 327px;
	min-height: 205px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 381px;
}

#pu5033
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 38px;
}

#u5033
{
	z-index: 9;
	width: 327px;
	min-height: 211px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5083
{
	z-index: 107;
	width: 327px;
	min-height: 211px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 381px;
}

#pu4769
{
	width: 0.01px;
	margin-top: 73px;
}

#u4769,#u4769-bw
{
	z-index: 2;
	height: 77px;
}

#u4770-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u4770-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u13327-14
{
	z-index: 116;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 265px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 768px;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

@font-face
{
	font-family: '__web-icons_5';
	src: url('../../fonts/web-icons.eot');
	src: local('☺'), url('../../fonts/web-icons.woff') format('woff'), url('../../fonts/web-icons.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

