.version.releases /* version checker */
{
	color: #000005;
	background-color: #FD6D58;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.805755424145px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
}

#page_position_content
{
	width: 0.01px;
}

#menuu4814
{
	z-index: 12;
	width: 762px;
	padding-bottom: 6px;
}

#u4815
{
	width: 124px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u4816
{
	width: 123px;
	padding-bottom: 16px;
}

#u4817-4
{
	width: 123px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4822
{
	width: 124px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 129px;
}

#u4823
{
	width: 123px;
	padding-bottom: 16px;
}

#u4826-4
{
	width: 123px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4829
{
	width: 124px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 255px;
}

#u4830
{
	width: 123px;
	padding-bottom: 16px;
}

#u4833-4
{
	width: 123px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4836
{
	width: 124px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 381px;
}

#u4837
{
	width: 123px;
	padding-bottom: 16px;
}

#u4816.MuseMenuActive,#u4823.MuseMenuActive,#u4830.MuseMenuActive,#u4837.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u4839-4
{
	width: 123px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4816.MuseMenuActive #u4817-4,#u4823.MuseMenuActive #u4826-4,#u4830.MuseMenuActive #u4833-4,#u4837.MuseMenuActive #u4839-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u4843
{
	width: 125px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 507px;
}

#u4846
{
	width: 124px;
	padding-bottom: 16px;
}

#u4846.MuseMenuActive
{
	width: 124px;
	min-height: 0px;
	margin: 0px;
}

#u4847-4
{
	width: 124px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4846.MuseMenuActive #u4847-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u6617
{
	width: 125px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 634px;
}

#u6620
{
	width: 125px;
	padding-bottom: 16px;
}

#u6620.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u6623-4
{
	width: 125px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u6620.MuseMenuActive #u6623-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u4979
{
	z-index: 49;
	width: 753px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 9px;
	margin-left: 6px;
	margin-top: 23px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4985
{
	z-index: 108;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 1px;
}

#u5567
{
	z-index: 366;
	overflow: hidden;
	position: relative;
	width: 85px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 653px;
}

#u6331
{
	z-index: 416;
	width: 127px;
	height: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: transparent url("../../images/2mountainz-u6355-fr.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u6331
{
	background-image: url("../../images/2mountainz-u6355-fr_2x.jpg");
}

#u6334-8
{
	z-index: 453;
	width: 227px;
	min-height: 51px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	margin-left: 10px;
	position: relative;
}

#u6333-6
{
	z-index: 447;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 12px;
	position: relative;
}

#u6333-2
{
	padding-left: 10px;
	font-weight: 400;
	font-style: italic;
}

#u6333-4
{
	padding-left: 10px;
	font-weight: 300;
}

#u6332-30
{
	z-index: 417;
	min-height: 203px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u6332-30-bw
{
	z-index: 417;
	min-height: 203px;
	margin-top: 22px;
}

#u5389
{
	z-index: 321;
	width: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5393-8
{
	z-index: 358;
	width: 229px;
	min-height: 52px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u5392-6
{
	z-index: 352;
	width: 229px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 11px;
	position: relative;
}

#u5391-29
{
	z-index: 323;
	min-height: 168px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5391-29-bw
{
	z-index: 323;
	min-height: 168px;
	margin-top: 19px;
}

#u4990
{
	z-index: 110;
	margin-left: 5px;
	margin-top: 46px;
	position: relative;
}

#u4989
{
	z-index: 109;
	width: 752px;
	height: 3px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 6px;
	position: relative;
	border-width: 0px 0px 1px;
}

#pu6331,#pu5389,#pu6347
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 23px;
}

#u6347
{
	z-index: 461;
	width: 127px;
	height: 127px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: transparent url("../../images/newgodsingleart-u6359-fr.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u6347
{
	background-image: url("../../images/newgodsingleart-u6359-fr_2x.png");
}

#pu6350-7
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 145px;
}

#u6350-7
{
	z-index: 493;
	width: 200px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u6349-6
{
	z-index: 487;
	width: 200px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u6348-25
{
	z-index: 462;
	min-height: 174px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u6348-25-bw
{
	z-index: 462;
	min-height: 174px;
	margin-top: 21px;
}

#pu5904
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 35px;
}

#u5904
{
	z-index: 367;
	width: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu6334-8,#pu5393-8,#pu5909-9
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 145px;
}

#u5909-9
{
	z-index: 407;
	width: 200px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u6334-2,#u6350-2,#u5909-3
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	font-style: italic;
}

#u5909-2
{
	font-style: normal;
}

#u6334-6,#u6350-5,#u5909-7
{
	font-size: 18px;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6350-4,#u5909-5
{
	font-size: 20px;
	font-style: italic;
	line-height: 24px;
}

#u5907-6
{
	z-index: 401;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u6349-2,#u5907-2
{
	font-weight: 400;
	font-style: italic;
}

#u6349-4,#u5907-4
{
	font-weight: 300;
}

#u5906-32
{
	z-index: 369;
	min-height: 280px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5906-32-bw
{
	z-index: 369;
	min-height: 280px;
	margin-top: 32px;
}

#pu5380
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 32px;
}

#u5380
{
	z-index: 304;
	width: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5363
{
	z-index: 305;
	width: 127px;
	height: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5364
{
	z-index: 306;
	width: 127px;
	height: 127px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
	background: transparent url("../../images/dustin_dimensions_art-u5368-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u5364
{
	background-image: url("../../images/dustin_dimensions_art-u5368-fr_2x.jpg");
}

#pu5382-8
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 143px;
}

#u5382-8
{
	z-index: 313;
	width: 229px;
	min-height: 52px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u5381-6
{
	z-index: 307;
	width: 229px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-top: 11px;
	position: relative;
}

#u5381-2,#u5381-4
{
	padding-right: 10px;
	padding-left: 10px;
}

#u5381-3
{
	font-weight: 300;
	font-style: normal;
}

#u5365-41
{
	z-index: 263;
	min-height: 517px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5365-41-bw
{
	z-index: 263;
	min-height: 517px;
	margin-top: 16px;
}

#pu4999
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 20px;
}

#u4999
{
	z-index: 180;
	width: 126px;
	height: 126px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: transparent url("../../images/tmsco%20gramaphone%20copy-u4331-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u4999
{
	background-image: url("../../images/tmsco%20gramaphone%20copy-u4331-fr_2x.jpg");
}

#pu5002-8
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 143px;
}

#u5002-8
{
	z-index: 239;
	width: 250px;
	min-height: 50px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u5002-6
{
	font-size: 21px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5002-3
{
	font-size: 10px;
	font-style: italic;
	line-height: 12px;
}

#u5002-4
{
	font-style: italic;
	line-height: 25px;
}

#u5002-5
{
	line-height: 25px;
}

#u5001-6
{
	z-index: 233;
	width: 126px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 13px;
	position: relative;
}

#u5000-52
{
	z-index: 181;
	min-height: 375px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5000-22,#u5000-31
{
	font-weight: 400;
}

#u5000-52-bw
{
	z-index: 181;
	min-height: 375px;
	margin-top: 14px;
}

#pu4980
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 27px;
}

#u4980
{
	z-index: 50;
	width: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5004-8
{
	z-index: 247;
	width: 229px;
	min-height: 63px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u5004-2
{
	font-size: 21px;
	line-height: 25px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 400;
	font-style: italic;
}

#u6334-4,#u5004-4
{
	font-size: 21px;
	font-style: italic;
	line-height: 25px;
}

#u6334-5,#u5393-5,#u5382-5,#u5004-5
{
	font-size: 21px;
	line-height: 25px;
}

#u4992-6
{
	z-index: 111;
	width: 229px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u4982-54
{
	z-index: 52;
	min-height: 432px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4982-54-bw
{
	z-index: 52;
	min-height: 432px;
	margin-top: 13px;
}

#pu4983
{
	width: 0.01px;
	margin-left: 10px;
}

#u4983
{
	z-index: 106;
	width: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu5004-8,#pu5005-8
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 140px;
}

#u5005-8
{
	z-index: 255;
	width: 229px;
	min-height: 50px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u5393-2,#u5382-2,#u5002-2,#u5005-2
{
	font-size: 20px;
	line-height: 24px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 400;
	font-style: italic;
}

#u5393-6,#u5382-6,#u5004-6,#u5005-6
{
	font-size: 18px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6334-3,#u5393-3,#u6350-3,#u5909-4,#u5382-3,#u5005-3
{
	font-size: 12px;
	font-style: italic;
	line-height: 14px;
}

#u5393-4,#u5382-4,#u5004-3,#u5005-4
{
	font-style: italic;
	line-height: 22px;
}

#u5909-6,#u5005-5
{
	font-size: 20px;
	line-height: 24px;
}

#u4996-6
{
	z-index: 174;
	width: 229px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 13px;
	position: relative;
}

#u5392-2,#u5001-2,#u4992-2,#u4996-2
{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 400;
	font-style: italic;
}

#u5392-4,#u5001-4,#u4992-4,#u4996-4
{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 300;
}

#u4995-57
{
	z-index: 117;
	min-height: 482px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u6348-4,#u5906-6,#u5906-7,#u5906-11,#u5365-4,#u5365-5,#u5365-7,#u5365-8,#u5365-14,#u5365-15,#u5365-16,#u5000-10,#u5000-11,#u5000-15,#u5000-16,#u4982-4,#u4982-5,#u4982-15,#u4982-16,#u4995-4,#u4995-5,#u4995-9,#u4995-10,#u4995-16
{
	font-size: 15px;
	text-align: justify;
	line-height: 18px;
	padding-right: 10px;
	padding-left: 10px;
}

#u6332,#u5391,#u6348-6,#u5906-14,#u5365-17,#u5000-17,#u4982-17,#u4995-18
{
	text-decoration: underline;
	font-style: italic;
}

#u6332-13,#u5391-9,#u6348-14,#u5365-27,#u5000-29,#u4982-25,#u4995-30
{
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	font-style: italic;
}

#u6332-12,#u5391-8,#u6348-13,#u5365-26,#u5000-28,#u4982-24,#u4995-29
{
	text-decoration: underline;
}

#u4995-36
{
	text-align: left;
}

#u6332-2,#u6332-4,#u6332-6,#u6332-8,#u6332-10,#u6332-11,#u6332-15,#u6332-16,#u6332-27,#u5391-2,#u5391-4,#u5391-6,#u5391-7,#u5391-11,#u5391-12,#u5391-13,#u5391-26,#u6348-5,#u6348-7,#u6348-9,#u6348-11,#u6348-12,#u6348-16,#u6348-17,#u6348-23,#u5906-12,#u5906-13,#u5906-15,#u5906-17,#u5906-18,#u5906-29,#u5365-18,#u5365-20,#u5365-22,#u5365-24,#u5365-25,#u5365-29,#u5365-30,#u5365-39,#u5000-18,#u5000-23,#u5000-26,#u5000-27,#u5000-32,#u5000-33,#u5000-34,#u5000-49,#u4982-18,#u4982-20,#u4982-22,#u4982-23,#u4982-27,#u4982-29,#u4982-30,#u4982-31,#u4982-35,#u4982-52,#u4995-17,#u4995-19,#u4995-21,#u4995-23,#u4995-25,#u4995-27,#u4995-28,#u4995-32,#u4995-34,#u4995-37,#u4995-38,#u4995-39,#u4995-54
{
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
}

#u6332-17,#u5391-14,#u6348-18,#u5906-19,#u5365-31,#u5000-35,#u4982-32,#u4995-40
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u6332-19,#u6332-21,#u6332-23,#u6332-25,#u5391-16,#u5391-19,#u5391-21,#u5391-23,#u6348-2,#u6348-21,#u5906-2,#u5906-4,#u5906-9,#u5906-21,#u5906-23,#u5906-25,#u5906-27,#u5365-2,#u5365-10,#u5365-12,#u5365-33,#u5365-37,#u5000-2,#u5000-4,#u5000-6,#u5000-8,#u5000-38,#u5000-41,#u5000-44,#u5000-47,#u5000-48,#u4982-2,#u4982-7,#u4982-9,#u4982-11,#u4982-13,#u4982-36,#u4982-39,#u4982-41,#u4982-44,#u4982-47,#u4982-50,#u4995-2,#u4995-7,#u4995-12,#u4995-14,#u4995-42,#u4995-45,#u4995-48,#u4995-51
{
	font-style: italic;
}

#u5391-25,#u5906-28,#u4982-49,#u4995-53
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u6332-28,#u5391-27,#u5906-30,#u5000-50,#u4995-55
{
	text-align: center;
}

#u4995-57-bw
{
	z-index: 117;
	min-height: 482px;
	margin-top: 13px;
}

#pu4769
{
	width: 0.01px;
	margin-top: 51px;
}

#u4769,#u4769-bw
{
	z-index: 2;
	height: 77px;
}

#u4770-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u4770-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u4771
{
	z-index: 9;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 365px;
}

#u4772
{
	z-index: 10;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 444px;
}

#u4773
{
	z-index: 11;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 286px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

