/*

*/

.version.releases /* version checker */
{
	color: #00001D;
	background-color: #CD7FDA;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.5057554241466px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
}

#page_position_content
{
	padding-bottom: 1px;
	width: 0.01px;
}

#u8969
{
	z-index: 13;
}

#u8972-4
{
	z-index: 14;
	min-height: 33px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u8972-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 33px;
	margin: 0px;
}

#u8972-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 33px;
	margin: 0px;
}

#u8972-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 33px;
	margin: 0px;
}

#u8970
{
	z-index: 18;
}

#menuu9112
{
	z-index: 19;
	width: 538px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u9120
{
	width: 538px;
}

#u9121
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u9121:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9121:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9122-4
{
	width: 538px;
	min-height: 36px;
	margin-right: -10000px;
	top: 1px;
}

#u9121:hover #u9122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9121:active #u9122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9114
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u9121.MuseMenuActive,#u9114:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9114:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9117-4
{
	width: 538px;
	min-height: 36px;
	margin-right: -10000px;
	top: 1px;
}

#u9121.MuseMenuActive #u9122-4,#u9114:hover #u9117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9114:active #u9117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9130
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u9114.MuseMenuActive,#u9130:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9130:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9131-4
{
	width: 538px;
	min-height: 36px;
	margin-right: -10000px;
	top: 1px;
}

#u9114.MuseMenuActive #u9117-4,#u9130:hover #u9131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9130:active #u9131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9135
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u9130.MuseMenuActive,#u9135:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9135:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9136-4
{
	width: 538px;
	min-height: 36px;
	margin-right: -10000px;
	top: 1px;
}

#u9130.MuseMenuActive #u9131-4,#u9135:hover #u9136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9135:active #u9136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9144
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 3px;
	margin-right: -10000px;
}

#u9135.MuseMenuActive,#u9144:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9144:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9146-4
{
	width: 538px;
	min-height: 36px;
	margin-right: -10000px;
	top: 1px;
}

#u9135.MuseMenuActive #u9136-4,#u9144:hover #u9146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9144:active #u9146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9113,#u9127,#u9134,#u9141,#u9148
{
	width: 538px;
	margin-top: 2px;
}

#u9151
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u9144.MuseMenuActive,#u9151:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9151:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9151.MuseMenuActive
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9154-4
{
	width: 538px;
	min-height: 36px;
	margin-right: -10000px;
	top: 2px;
}

#u9144.MuseMenuActive #u9146-4,#u9151:hover #u9154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9151:active #u9154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9151.MuseMenuActive #u9154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#pu9296
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 23px;
	margin-left: 618px;
}

#u9296
{
	z-index: 56;
	margin-left: 38px;
}

#u9298
{
	z-index: 57;
	margin-top: 31px;
}

#u9304
{
	z-index: 60;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 141px;
	left: 616px;
}

#u9302
{
	z-index: 58;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 141px;
	left: 660px;
}

#u9303
{
	z-index: 59;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 141px;
	left: 704px;
}

#accordionu8964,#accordionu8964-bw
{
	z-index: 12;
}

#u4979
{
	z-index: 61;
	width: 753px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 4px;
	margin-left: 6px;
	margin-top: 30px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4985
{
	z-index: 123;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 1px;
}

#u5567
{
	z-index: 398;
	overflow: hidden;
	position: relative;
	width: 85px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 653px;
}

#pu7641
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 23px;
}

#u7641
{
	z-index: 564;
	width: 128px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7652-13
{
	z-index: 581;
	width: 601px;
	min-height: 126px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 155px;
}

#u7652-2
{
	font-size: 21px;
	text-align: left;
	line-height: 25px;
	font-weight: 400;
	font-style: italic;
}

#u7652-6
{
	font-size: 21px;
	text-align: left;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7652-7
{
	font-size: 15px;
	text-align: justify;
	line-height: 18px;
	font-weight: 300;
}

#u7652-9
{
	font-size: 17px;
	text-align: left;
	line-height: 20px;
	font-weight: 400;
	font-style: italic;
}

#u7652-11
{
	font-size: 17px;
	text-align: left;
	line-height: 20px;
	font-weight: 300;
}

#u8488-37
{
	z-index: 653;
	min-height: 405px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u8488-37-bw
{
	z-index: 653;
	min-height: 405px;
	margin-top: 24px;
}

#u8489
{
	z-index: 726;
	width: 128px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8492-8
{
	z-index: 728;
	width: 200px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u8493-6
{
	z-index: 736;
	width: 195px;
	min-height: 49px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 14px;
	position: relative;
}

#u8494-39
{
	z-index: 742;
	min-height: 372px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u8494-39-bw
{
	z-index: 742;
	min-height: 372px;
	margin-top: 22px;
}

#pu8489,#pu7639
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 57px;
}

#u7639
{
	z-index: 562;
	width: 128px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7651-13
{
	z-index: 568;
	width: 601px;
	min-height: 128px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 155px;
}

#u7651-6
{
	font-size: 21px;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8487-17
{
	z-index: 636;
	min-height: 267px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u8487-17-bw
{
	z-index: 636;
	min-height: 267px;
	margin-top: 22px;
}

#u4990
{
	z-index: 125;
	margin-left: 5px;
	margin-top: 43px;
	position: relative;
}

#u4989
{
	z-index: 124;
	width: 752px;
	height: 3px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 6px;
	position: relative;
	border-width: 0px 0px 1px;
}

#pu8496
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 41px;
}

#u8496
{
	z-index: 690;
	width: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.34);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu8492-8,#pu8499-8
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 155px;
}

#u8499-8
{
	z-index: 692;
	width: 200px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u8500-6
{
	z-index: 700;
	width: 192px;
	min-height: 49px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 14px;
	position: relative;
}

#u8501-20
{
	z-index: 706;
	min-height: 137px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u8501-20-bw
{
	z-index: 706;
	min-height: 137px;
	margin-top: 31px;
}

#pu7645
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 45px;
}

#u7645
{
	z-index: 566;
	width: 126px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.34);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u7654-12
{
	z-index: 594;
	width: 601px;
	min-height: 126px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 144px;
}

#u8492-2,#u7651-2,#u8499-2,#u7654-2
{
	font-size: 21px;
	line-height: 25px;
	font-weight: 400;
	font-style: italic;
}

#u7651-7,#u7654-5,#u7654-6
{
	font-size: 21px;
	line-height: 25px;
	font-weight: 300;
}

#u7651-9,#u7654-8
{
	font-size: 17px;
	line-height: 20px;
	font-weight: 400;
	font-style: italic;
}

#u7651-11,#u7654-10
{
	font-size: 17px;
	line-height: 20px;
	font-weight: 300;
}

#u8422-30
{
	z-index: 606;
	min-height: 180px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u8422-5
{
	font-size: 15px;
	text-align: justify;
	line-height: 18px;
	font-style: normal;
}

#u8422-7,#u8422-8
{
	font-size: 15px;
	text-align: justify;
	line-height: 18px;
	padding-right: 10px;
	padding-left: 10px;
	font-style: normal;
}

#u8422-30-bw
{
	z-index: 606;
	min-height: 180px;
	margin-top: 24px;
}

#pu6331
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 29px;
}

#u6331
{
	z-index: 449;
	width: 127px;
	height: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: transparent url("../../images/2mountainz-u6355-fr.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u6331
{
	background-image: url("../../images/2mountainz-u6355-fr_2x.jpg");
}

#u6334-8
{
	z-index: 501;
	width: 227px;
	min-height: 51px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	margin-left: 10px;
	position: relative;
}

#u6333-6
{
	z-index: 495;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 12px;
	position: relative;
}

#u6333-2
{
	padding-left: 10px;
	font-weight: 400;
	font-style: italic;
}

#u6333-4
{
	padding-left: 10px;
	font-weight: 300;
}

#u6332-45
{
	z-index: 450;
	min-height: 312px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u6332-45-bw
{
	z-index: 450;
	min-height: 312px;
	margin-top: 23px;
}

#pu5389
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 34px;
}

#u5389
{
	z-index: 344;
	width: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: -1px;
}

#u5393-8
{
	z-index: 390;
	width: 229px;
	min-height: 52px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u5392-6
{
	z-index: 384;
	width: 241px;
	min-height: 49px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 14px;
	position: relative;
}

#u5391-38
{
	z-index: 346;
	min-height: 168px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5391-38-bw
{
	z-index: 346;
	min-height: 168px;
	margin-top: 34px;
}

#pu6347
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 31px;
}

#u6347
{
	z-index: 509;
	width: 127px;
	height: 127px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: transparent url("../../images/newgodsingleart-u6359-fr.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u6347
{
	background-image: url("../../images/newgodsingleart-u6359-fr_2x.png");
}

#pu6350-7
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 145px;
}

#u6350-7
{
	z-index: 555;
	width: 200px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u6349-6
{
	z-index: 549;
	width: 200px;
	min-height: 49px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 15px;
	position: relative;
}

#u6348-39
{
	z-index: 510;
	min-height: 174px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u6348-39-bw
{
	z-index: 510;
	min-height: 174px;
	margin-top: 21px;
}

#pu5904
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 40px;
}

#u5904
{
	z-index: 399;
	width: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#pu6334-8,#pu5393-8,#pu5909-9
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 145px;
}

#u5909-9
{
	z-index: 440;
	width: 200px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u6334-2,#u6350-2,#u5909-3
{
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	font-style: italic;
}

#u5909-2
{
	font-style: normal;
}

#u8492-6,#u8499-6,#u6334-6,#u6350-5,#u5909-7
{
	font-size: 18px;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6350-4,#u5909-5
{
	font-size: 20px;
	font-style: italic;
	line-height: 24px;
}

#u5907-6
{
	z-index: 434;
	width: 237px;
	min-height: 49px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 16px;
	position: relative;
}

#u8493-2,#u8500-2,#u6349-2,#u5907-2
{
	font-weight: 400;
	font-style: italic;
}

#u8493-4,#u8500-4,#u6349-4,#u5907-4
{
	font-weight: 300;
}

#u5906-33
{
	z-index: 401;
	min-height: 280px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5906-33-bw
{
	z-index: 401;
	min-height: 280px;
	margin-top: 32px;
}

#pu5380
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 26px;
}

#u5380
{
	z-index: 327;
	width: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5363
{
	z-index: 328;
	width: 127px;
	height: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5364
{
	z-index: 329;
	width: 127px;
	height: 127px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
	background: transparent url("../../images/dustin_dimensions_art-u5368-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u5364
{
	background-image: url("../../images/dustin_dimensions_art-u5368-fr_2x.jpg");
}

#pu5382-8
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 143px;
}

#u5382-8
{
	z-index: 336;
	width: 229px;
	min-height: 52px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u5381-6
{
	z-index: 330;
	width: 229px;
	min-height: 49px;
	background-color: transparent;
	text-align: left;
	font-size: 17px;
	line-height: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-top: 11px;
	position: relative;
}

#u8501-2,#u8501-4,#u8501-6,#u8501-7,#u8501-9,#u8501-11,#u8501-12,#u8501-18,#u5381-2,#u5381-4
{
	padding-right: 10px;
	padding-left: 10px;
}

#u5381-3
{
	font-weight: 300;
	font-style: normal;
}

#u5365-41
{
	z-index: 286;
	min-height: 517px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5365-41-bw
{
	z-index: 286;
	min-height: 517px;
	margin-top: 16px;
}

#pu4999
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 20px;
}

#u4999
{
	z-index: 199;
	width: 126px;
	height: 126px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: transparent url("../../images/tmsco%20gramaphone%20copy-u4331-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u4999
{
	background-image: url("../../images/tmsco%20gramaphone%20copy-u4331-fr_2x.jpg");
}

#pu5002-8
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 143px;
}

#u5002-8
{
	z-index: 262;
	width: 250px;
	min-height: 50px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u5002-6
{
	font-size: 21px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5002-3
{
	font-size: 10px;
	font-style: italic;
	line-height: 12px;
}

#u7652-4,#u7651-4,#u5002-4
{
	font-style: italic;
	line-height: 25px;
}

#u7652-5,#u7651-5,#u5002-5
{
	line-height: 25px;
}

#u5001-6
{
	z-index: 256;
	width: 126px;
	min-height: 49px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 13px;
	position: relative;
}

#u5000-56
{
	z-index: 200;
	min-height: 375px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5000-22,#u5000-31
{
	font-weight: 400;
}

#u5000-56-bw
{
	z-index: 200;
	min-height: 375px;
	margin-top: 14px;
}

#pu4980
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 27px;
}

#u4980
{
	z-index: 62;
	width: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5004-8
{
	z-index: 270;
	width: 229px;
	min-height: 63px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u5004-2
{
	font-size: 21px;
	line-height: 25px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 400;
	font-style: italic;
}

#u6334-4,#u5004-4
{
	font-size: 21px;
	font-style: italic;
	line-height: 25px;
}

#u8492-5,#u8499-5,#u6334-5,#u5393-5,#u5382-5,#u5004-5
{
	font-size: 21px;
	line-height: 25px;
}

#u4992-6
{
	z-index: 126;
	width: 229px;
	min-height: 49px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u4982-57
{
	z-index: 64;
	min-height: 432px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4982-57-bw
{
	z-index: 64;
	min-height: 432px;
	margin-top: 13px;
}

#pu4983
{
	width: 0.01px;
	margin-left: 10px;
}

#u4983
{
	z-index: 121;
	width: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu5004-8,#pu5005-8
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 140px;
}

#u5005-8
{
	z-index: 278;
	width: 229px;
	min-height: 50px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u5393-2,#u5382-2,#u5002-2,#u5005-2
{
	font-size: 20px;
	line-height: 24px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 400;
	font-style: italic;
}

#u5393-6,#u5382-6,#u5004-6,#u5005-6
{
	font-size: 18px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7652-3,#u8492-3,#u7651-3,#u8499-3,#u6334-3,#u5393-3,#u6350-3,#u5909-4,#u5382-3,#u5005-3
{
	font-size: 12px;
	font-style: italic;
	line-height: 14px;
}

#u8492-4,#u8499-4,#u5393-4,#u5382-4,#u5004-3,#u5005-4
{
	font-style: italic;
	line-height: 22px;
}

#u5909-6,#u5005-5
{
	font-size: 20px;
	line-height: 24px;
}

#u4996-6
{
	z-index: 193;
	width: 229px;
	min-height: 49px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 13px;
	position: relative;
}

#u5392-2,#u5001-2,#u4992-2,#u4996-2
{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 400;
	font-style: italic;
}

#u5392-4,#u5001-4,#u4992-4,#u4996-4
{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 300;
}

#u4995-61
{
	z-index: 132;
	min-height: 482px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u8488-2,#u8488-3,#u8488-5,#u8488-6,#u8488-8,#u8488-9,#u8494-2,#u8494-3,#u8494-9,#u8494-10,#u8487-2,#u8487-3,#u8487-5,#u8487-6,#u8487-8,#u8487-9,#u8422-4,#u6332-6,#u6332-7,#u5391-2,#u5391-3,#u5391-5,#u5391-6,#u6348-4,#u5906-6,#u5906-7,#u5906-11,#u5365-4,#u5365-5,#u5365-7,#u5365-8,#u5365-14,#u5365-15,#u5365-16,#u5000-10,#u5000-11,#u5000-15,#u5000-16,#u4982-4,#u4982-5,#u4982-15,#u4982-16,#u4995-4,#u4995-5,#u4995-9,#u4995-10,#u4995-16
{
	font-size: 15px;
	text-align: justify;
	line-height: 18px;
	padding-right: 10px;
	padding-left: 10px;
}

#u8488-10,#u8494-11,#u8487-10,#u8501,#u6348-6,#u5906-14,#u5365-17,#u5000-17,#u4982-17,#u4995-18
{
	text-decoration: underline;
	font-style: italic;
}

#u8488-22,#u8494-20,#u8422-10,#u8422-17,#u6332-9,#u6332-20,#u5391-8,#u5391-15,#u6348-14,#u5365-27,#u5000-29,#u4982-25,#u4995-30
{
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	font-style: italic;
}

#u8488-21,#u8494-19,#u8501-8,#u8422-9,#u8422-16,#u6332-8,#u6332-19,#u5391-7,#u5391-14,#u6348-13,#u5365-26,#u5000-28,#u4982-24,#u4995-29
{
	text-decoration: underline;
}

#u4995-36
{
	text-align: left;
}

#u8488-11,#u8488-13,#u8488-15,#u8488-17,#u8488-19,#u8488-20,#u8488-24,#u8488-25,#u8488-35,#u8494-12,#u8494-14,#u8494-16,#u8494-17,#u8494-18,#u8494-22,#u8494-24,#u8494-25,#u8494-26,#u8494-37,#u8487-11,#u8487-13,#u8487-15,#u8422-12,#u8422-14,#u8422-15,#u8422-19,#u8422-20,#u8422-21,#u8422-27,#u6332-11,#u6332-13,#u6332-15,#u6332-17,#u6332-18,#u6332-22,#u6332-24,#u6332-25,#u6332-26,#u6332-42,#u5391-10,#u5391-12,#u5391-13,#u5391-17,#u5391-18,#u5391-19,#u5391-35,#u6348-5,#u6348-7,#u6348-9,#u6348-11,#u6348-12,#u6348-16,#u6348-17,#u6348-37,#u5906-12,#u5906-13,#u5906-15,#u5906-17,#u5906-18,#u5906-31,#u5365-18,#u5365-20,#u5365-22,#u5365-24,#u5365-25,#u5365-29,#u5365-30,#u5365-39,#u5000-18,#u5000-23,#u5000-26,#u5000-27,#u5000-32,#u5000-33,#u5000-34,#u5000-53,#u4982-18,#u4982-20,#u4982-22,#u4982-23,#u4982-27,#u4982-29,#u4982-30,#u4982-31,#u4982-55,#u4995-17,#u4995-19,#u4995-21,#u4995-23,#u4995-25,#u4995-27,#u4995-28,#u4995-32,#u4995-34,#u4995-37,#u4995-38,#u4995-39,#u4995-58
{
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
}

#u8488-26,#u8494-27,#u8501-13,#u8422-22,#u6332-27,#u5391-20,#u6348-18,#u5906-19,#u5365-31,#u5000-35,#u4982-32,#u4995-40
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u8488-28,#u8488-29,#u8488-30,#u8488-31,#u8488-32,#u8488-33,#u8488-34,#u8494-5,#u8494-7,#u8494-29,#u8494-31,#u8494-32,#u8494-33,#u8494-34,#u8494-35,#u8494-36,#u8501-16,#u7654-3,#u8422-2,#u8422-25,#u6332-2,#u6332-4,#u6332-30,#u6332-32,#u6332-34,#u6332-36,#u6332-38,#u6332-40,#u5391-22,#u5391-25,#u5391-27,#u5391-29,#u5391-31,#u5391-33,#u6348-2,#u6348-21,#u6348-25,#u6348-27,#u6348-30,#u6348-32,#u6348-35,#u5906-2,#u5906-4,#u5906-9,#u5906-20,#u5906-22,#u5906-23,#u5906-25,#u5906-26,#u5906-28,#u5906-29,#u5365-2,#u5365-10,#u5365-12,#u5365-33,#u5365-37,#u5000-2,#u5000-4,#u5000-6,#u5000-8,#u5000-38,#u5000-41,#u5000-43,#u5000-46,#u5000-48,#u5000-51,#u4982-2,#u4982-7,#u4982-9,#u4982-11,#u4982-13,#u4982-35,#u4982-39,#u4982-41,#u4982-45,#u4982-47,#u4982-51,#u4982-53,#u4995-2,#u4995-7,#u4995-12,#u4995-14,#u4995-42,#u4995-45,#u4995-47,#u4995-50,#u4995-52,#u4995-55,#u4995-57
{
	font-style: italic;
}

#u8422-28,#u6332-43,#u5391-36,#u5000-54,#u4995-59
{
	text-align: center;
}

#u4995-61-bw
{
	z-index: 132;
	min-height: 482px;
	margin-top: 14px;
}

#pu4769
{
	width: 0.01px;
	margin-top: 50px;
}

#u4769,#u4769-bw
{
	z-index: 2;
	height: 77px;
}

#u4770-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u4770-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u4771
{
	z-index: 9;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 365px;
}

#u4772
{
	z-index: 10;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 444px;
}

#u4773
{
	z-index: 11;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 286px;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

