.version.releases /* version checker */
{
	color: #000017;
	background-color: #DE8309;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#page_position_content
{
	width: 0.01px;
}

#menuu4814
{
	z-index: 12;
	width: 762px;
	padding-bottom: 6px;
}

#u4815
{
	width: 149px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u4816
{
	width: 148px;
	padding-bottom: 16px;
}

#u4817-4
{
	width: 148px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4822
{
	width: 149px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 154px;
}

#u4823
{
	width: 148px;
	padding-bottom: 16px;
}

#u4816.MuseMenuActive,#u4823.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u4826-4
{
	width: 148px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4816.MuseMenuActive #u4817-4,#u4823.MuseMenuActive #u4826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u4829
{
	width: 150px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 305px;
}

#u4830
{
	width: 149px;
	padding-bottom: 16px;
}

#u4833-4
{
	width: 149px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4836
{
	width: 150px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 457px;
}

#u4837
{
	width: 149px;
	padding-bottom: 16px;
}

#u4830.MuseMenuActive,#u4837.MuseMenuActive
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u4839-4
{
	width: 149px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4830.MuseMenuActive #u4833-4,#u4837.MuseMenuActive #u4839-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 149px;
	margin: 0px -10000px 0px 0px;
}

#u4843
{
	width: 150px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 609px;
}

#u4846
{
	width: 150px;
	padding-bottom: 16px;
}

#u4846.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u4847-4
{
	width: 150px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4846.MuseMenuActive #u4847-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u4979
{
	z-index: 43;
	width: 753px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	padding-bottom: 11px;
	margin-left: 6px;
	margin-top: 23px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u4985
{
	z-index: 102;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 1px;
}

#pu5389
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 20px;
}

#u5389
{
	z-index: 314;
	width: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu5393-8
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 145px;
}

#u5393-8
{
	z-index: 362;
	width: 229px;
	min-height: 52px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u5392-6
{
	z-index: 356;
	width: 229px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 11px;
	position: relative;
}

#u5391-40
{
	z-index: 316;
	min-height: 443px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5391-40-bw
{
	z-index: 316;
	min-height: 443px;
	margin-top: 19px;
}

#pu5380
{
	width: 0.01px;
	margin-left: 12px;
}

#u5380
{
	z-index: 297;
	width: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5363
{
	z-index: 298;
	width: 127px;
	height: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5364
{
	z-index: 299;
	width: 127px;
	height: 127px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
	background: transparent url("../../images/dustin_dimensions_art-u5368-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u5364
{
	background-image: url("../../images/dustin_dimensions_art-u5368-fr_2x.jpg");
}

#pu5382-8
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 143px;
}

#u5382-8
{
	z-index: 306;
	width: 229px;
	min-height: 52px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u5381-6
{
	z-index: 300;
	width: 229px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-top: 11px;
	position: relative;
}

#u5381-2,#u5381-4
{
	padding-right: 10px;
	padding-left: 10px;
}

#u5381-3
{
	font-weight: 300;
	font-style: normal;
}

#u5365-45
{
	z-index: 252;
	min-height: 517px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5365-45-bw
{
	z-index: 252;
	min-height: 517px;
	margin-top: 16px;
}

#u4990
{
	z-index: 104;
	margin-left: 5px;
	position: relative;
}

#u4989
{
	z-index: 103;
	width: 752px;
	height: 3px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 6px;
	position: relative;
	border-width: 0px 0px 1px;
}

#pu4999
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 27px;
}

#u4999
{
	z-index: 169;
	width: 126px;
	height: 126px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: transparent url("../../images/tmsco%20gramaphone%20copy-u4331-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u4999
{
	background-image: url("../../images/tmsco%20gramaphone%20copy-u4331-fr_2x.jpg");
}

#pu5002-8
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 143px;
}

#u5002-8
{
	z-index: 228;
	width: 250px;
	min-height: 50px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u5002-6
{
	font-size: 21px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5002-3
{
	font-size: 10px;
	font-style: italic;
	line-height: 12px;
}

#u5002-4
{
	font-style: italic;
	line-height: 25px;
}

#u5002-5
{
	line-height: 25px;
}

#u5001-6
{
	z-index: 222;
	width: 126px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 13px;
	position: relative;
}

#u5000-52
{
	z-index: 170;
	min-height: 375px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5000-22,#u5000-31
{
	font-weight: 400;
}

#u5000-52-bw
{
	z-index: 170;
	min-height: 375px;
	margin-top: 13px;
}

#pu4980
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 28px;
}

#u4980
{
	z-index: 44;
	width: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5004-8
{
	z-index: 236;
	width: 229px;
	min-height: 63px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u5004-2
{
	font-size: 21px;
	line-height: 25px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 400;
	font-style: italic;
}

#u5004-4
{
	font-size: 21px;
	font-style: italic;
	line-height: 25px;
}

#u5393-5,#u5382-5,#u5004-5
{
	font-size: 21px;
	line-height: 25px;
}

#u4992-6
{
	z-index: 105;
	width: 229px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u4982-54
{
	z-index: 46;
	min-height: 432px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4982-54-bw
{
	z-index: 46;
	min-height: 432px;
	margin-top: 13px;
}

#pu4983
{
	width: 0.01px;
	margin-left: 10px;
}

#u4983
{
	z-index: 100;
	width: 127px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu5004-8,#pu5005-8
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 140px;
}

#u5005-8
{
	z-index: 244;
	width: 229px;
	min-height: 50px;
	background-color: transparent;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	position: relative;
}

#u5393-2,#u5382-2,#u5002-2,#u5005-2
{
	font-size: 20px;
	line-height: 24px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 400;
	font-style: italic;
}

#u5393-6,#u5382-6,#u5004-6,#u5005-6
{
	font-size: 18px;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5393-3,#u5382-3,#u5005-3
{
	font-size: 12px;
	font-style: italic;
	line-height: 14px;
}

#u5393-4,#u5382-4,#u5004-3,#u5005-4
{
	font-style: italic;
	line-height: 22px;
}

#u5005-5
{
	font-size: 20px;
	line-height: 24px;
}

#u4996-6
{
	z-index: 163;
	width: 229px;
	min-height: 49px;
	background-color: transparent;
	line-height: 20px;
	text-align: left;
	font-size: 17px;
	font-family: source-sans-pro, sans-serif;
	margin-top: 13px;
	position: relative;
}

#u5392-2,#u5001-2,#u4992-2,#u4996-2
{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 400;
	font-style: italic;
}

#u5392-4,#u5001-4,#u4992-4,#u4996-4
{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 300;
}

#u4995-52
{
	z-index: 111;
	min-height: 482px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5391-6,#u5391-7,#u5391-11,#u5391-12,#u5365-4,#u5365-5,#u5365-7,#u5365-8,#u5365-14,#u5365-15,#u5365-16,#u5000-10,#u5000-11,#u5000-15,#u5000-16,#u4982-4,#u4982-5,#u4982-15,#u4982-16,#u4995-4,#u4995-5,#u4995-9,#u4995-10,#u4995-16
{
	font-size: 15px;
	text-align: justify;
	line-height: 18px;
	padding-right: 10px;
	padding-left: 10px;
}

#u5391-13,#u5365-17,#u5000-17,#u4982-17,#u4995-18
{
	text-decoration: underline;
	font-style: italic;
}

#u5391-21,#u5365-27,#u5000-29,#u4982-25,#u4995-28
{
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	font-style: italic;
}

#u5391-20,#u5365-26,#u5000-28,#u4982-24,#u4995-27
{
	text-decoration: underline;
}

#u5391-14,#u5391-16,#u5391-18,#u5391-19,#u5391-23,#u5391-24,#u5391-25,#u5391-37,#u5365-18,#u5365-20,#u5365-22,#u5365-24,#u5365-25,#u5365-29,#u5365-30,#u5365-43,#u5000-18,#u5000-23,#u5000-26,#u5000-27,#u5000-32,#u5000-33,#u5000-34,#u5000-49,#u4982-18,#u4982-20,#u4982-22,#u4982-23,#u4982-27,#u4982-29,#u4982-30,#u4982-31,#u4982-35,#u4982-52,#u4995-17,#u4995-19,#u4995-21,#u4995-23,#u4995-25,#u4995-26,#u4995-30,#u4995-32,#u4995-33,#u4995-34,#u4995-49
{
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
}

#u5391-26,#u5365-31,#u5000-35,#u4982-32,#u4995-35
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u5391-2,#u5391-4,#u5391-9,#u5391-28,#u5391-30,#u5391-32,#u5391-34,#u5365-2,#u5365-10,#u5365-12,#u5365-33,#u5365-35,#u5365-37,#u5365-39,#u5365-41,#u5365-42,#u5000-2,#u5000-4,#u5000-6,#u5000-8,#u5000-38,#u5000-41,#u5000-44,#u5000-47,#u5000-48,#u4982-2,#u4982-7,#u4982-9,#u4982-11,#u4982-13,#u4982-36,#u4982-39,#u4982-41,#u4982-44,#u4982-47,#u4982-50,#u4995-2,#u4995-7,#u4995-12,#u4995-14,#u4995-37,#u4995-40,#u4995-43,#u4995-46
{
	font-style: italic;
}

#u5391-36,#u4982-49,#u4995-48
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u5391-38,#u5000-50,#u4995-50
{
	text-align: center;
}

#u4995-52-bw
{
	z-index: 111;
	min-height: 482px;
	margin-top: 13px;
}

#pu4769
{
	width: 0.01px;
	margin-top: 51px;
}

#u4769,#u4769-bw
{
	z-index: 2;
	height: 77px;
}

#u4770-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u4770-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u4771
{
	z-index: 9;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 365px;
}

#u4772
{
	z-index: 10;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 444px;
}

#u4773
{
	z-index: 11;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 286px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

