.version.roster /* version checker */
{
	color: #00001A;
	background-color: #7FAB82;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1939px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 0px;
}

#page_position_content
{
	width: 0.01px;
}

#menuu4814
{
	z-index: 12;
	width: 762px;
	padding-bottom: 6px;
}

#u4815
{
	width: 124px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u4816
{
	width: 123px;
	padding-bottom: 16px;
}

#u4817-4
{
	width: 123px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4822
{
	width: 124px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 129px;
}

#u4823
{
	width: 123px;
	padding-bottom: 16px;
}

#u4826-4
{
	width: 123px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4829
{
	width: 124px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 255px;
}

#u4830
{
	width: 123px;
	padding-bottom: 16px;
}

#u4833-4
{
	width: 123px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4836
{
	width: 124px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 381px;
}

#u4837
{
	width: 123px;
	padding-bottom: 16px;
}

#u4816.MuseMenuActive,#u4823.MuseMenuActive,#u4830.MuseMenuActive,#u4837.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u4839-4
{
	width: 123px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4816.MuseMenuActive #u4817-4,#u4823.MuseMenuActive #u4826-4,#u4830.MuseMenuActive #u4833-4,#u4837.MuseMenuActive #u4839-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u4843
{
	width: 125px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 507px;
}

#u4846
{
	width: 124px;
	padding-bottom: 16px;
}

#u4846.MuseMenuActive
{
	width: 124px;
	min-height: 0px;
	margin: 0px;
}

#u4847-4
{
	width: 124px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4846.MuseMenuActive #u4847-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u6617
{
	width: 125px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 634px;
}

#u6620
{
	width: 125px;
	padding-bottom: 16px;
}

#u6620.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u6623-4
{
	width: 125px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u6620.MuseMenuActive #u6623-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 125px;
	margin: 0px -10000px 0px 0px;
}

#u4965
{
	z-index: 52;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 234px;
	margin-top: 23px;
	position: relative;
}

#u4970-4
{
	z-index: 57;
	min-height: 25px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4970-4-bw
{
	z-index: 57;
	min-height: 25px;
}

#u4967
{
	z-index: 54;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 234px;
	margin-top: 14px;
	position: relative;
}

#u4971-4
{
	z-index: 61;
	min-height: 25px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4971-4-bw
{
	z-index: 61;
	min-height: 25px;
}

#u4963
{
	z-index: 51;
	width: 300px;
	height: 216px;
	border-style: none;
	border-color: transparent;
	margin-left: 234px;
	margin-top: 14px;
	position: relative;
	background: transparent url("../../images/alex%20the%20brown-9668.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u4963
{
	background-image: url("../../images/alex%20the%20brown-9668_2x.jpg");
}

#u4972-4
{
	z-index: 65;
	min-height: 25px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4972-4-bw
{
	z-index: 65;
	min-height: 25px;
}

#u6174
{
	z-index: 83;
	width: 299px;
	background-color: transparent;
	margin-left: 234px;
	margin-top: 14px;
	position: relative;
}

#u6177-4
{
	z-index: 85;
	width: 767px;
	min-height: 25px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u6406
{
	z-index: 89;
	margin-left: 212px;
	margin-top: 42px;
	position: relative;
}

#u4969
{
	z-index: 56;
	width: 300px;
	height: 216px;
	border-style: none;
	border-color: transparent;
	margin-left: 234px;
	margin-top: 39px;
	position: relative;
	background: transparent url("../../images/dustin_artist_pic.jpg") no-repeat center top;
	background-size: cover;
}

#u4973-4
{
	z-index: 69;
	min-height: 25px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4973-4-bw
{
	z-index: 69;
	min-height: 25px;
}

#u4961
{
	z-index: 49;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 234px;
	margin-top: 14px;
	position: relative;
}

#u4974-4
{
	z-index: 73;
	min-height: 25px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4974-4-bw
{
	z-index: 73;
	min-height: 25px;
}

#u5858
{
	z-index: 77;
	width: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 234px;
	margin-top: 14px;
	position: relative;
}

#u5861-4
{
	z-index: 79;
	min-height: 25px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u4970,#u4971,#u4972,#u6177,#u4973,#u4974,#u5861
{
	font-size: 18px;
}

#u5861-4-bw
{
	z-index: 79;
	min-height: 25px;
}

#pu4769
{
	width: 0.01px;
	margin-top: 51px;
}

#u4769,#u4769-bw
{
	z-index: 2;
	height: 77px;
}

#u4770-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u4770-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u4771
{
	z-index: 9;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 365px;
}

#u4772
{
	z-index: 10;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 444px;
}

#u4773
{
	z-index: 11;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 286px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

