.version.seagulls /* version checker */
{
	color: #0000EC;
	background-color: #DB0DB8;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#page_position_content
{
	width: 0.01px;
}

#menuu4814
{
	z-index: 12;
	width: 762px;
	padding-bottom: 6px;
}

#u4815
{
	width: 149px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u4816
{
	width: 148px;
	padding-bottom: 16px;
}

#u4817-4
{
	width: 148px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4822
{
	width: 149px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 154px;
}

#u4823
{
	width: 148px;
	padding-bottom: 16px;
}

#u4816.MuseMenuActive,#u4823.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u4826-4
{
	width: 148px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4816.MuseMenuActive #u4817-4,#u4823.MuseMenuActive #u4826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u4829
{
	width: 150px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 305px;
}

#u4830
{
	width: 149px;
	padding-bottom: 16px;
}

#u4833-4
{
	width: 149px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4836
{
	width: 150px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 457px;
}

#u4837
{
	width: 149px;
	padding-bottom: 16px;
}

#u4830.MuseMenuActive,#u4837.MuseMenuActive
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u4839-4
{
	width: 149px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4830.MuseMenuActive #u4833-4,#u4837.MuseMenuActive #u4839-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 149px;
	margin: 0px -10000px 0px 0px;
}

#u4843
{
	width: 150px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 609px;
}

#u4846
{
	width: 150px;
	padding-bottom: 16px;
}

#u4846.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u4847-4
{
	width: 150px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4846.MuseMenuActive #u4847-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u5143
{
	z-index: 165;
	margin-left: 199px;
	margin-top: 64px;
	position: relative;
}

#ppamphletu5097
{
	width: 0.01px;
	margin-left: 194px;
	margin-top: 33px;
}

#pamphletu5097
{
	z-index: 44;
	width: 0.01px;
	height: 167px;
	padding-bottom: 104px;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
}

#u5100
{
	position: absolute;
	width: 380px;
	background-color: transparent;
}

#u5100popup
{
	z-index: 45;
}

#u5109
{
	z-index: 46;
	width: 380px;
	height: 271px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5110-10
{
	z-index: 47;
	width: 356px;
	min-height: 201px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5110,#u5110-2,#u5110-3,#u5110-5
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5110-6
{
	font-size: 16px;
	line-height: 22px;
	color: #29ABE2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u5110-8
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u5103
{
	z-index: 57;
	width: 380px;
	height: 271px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5104-10
{
	z-index: 58;
	width: 356px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u5105
{
	z-index: 68;
	width: 380px;
	height: 271px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5106-10
{
	z-index: 69;
	width: 356px;
	min-height: 202px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u5101
{
	z-index: 79;
	width: 380px;
	height: 271px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5102-10
{
	z-index: 80;
	width: 356px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u5107
{
	z-index: 90;
	width: 380px;
	height: 271px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5108-10
{
	z-index: 91;
	width: 356px;
	min-height: 271px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u5111
{
	z-index: 101;
	width: 380px;
	height: 271px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5112-10
{
	z-index: 102;
	width: 356px;
	min-height: 197px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u5104,#u5104-2,#u5104-3,#u5104-5,#u5104-6,#u5106,#u5106-2,#u5106-3,#u5106-5,#u5102,#u5102-2,#u5102-3,#u5102-5,#u5108,#u5108-2,#u5108-3,#u5108-5,#u5112,#u5112-2,#u5112-3,#u5112-5
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
}

#u5104-8,#u5106-6,#u5106-8,#u5102-6,#u5102-8,#u5108-6,#u5108-8,#u5112-6,#u5112-8
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
}

#u5104-7,#u5106-7,#u5102-7,#u5108-7,#u5112-7
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u5115
{
	z-index: 112;
	width: 98px;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 141px;
}

#u5120
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
}

.ie #u5120
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5120.PamphletThumbSelected
{
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u5121
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 18px;
}

.ie #u5120.PamphletThumbSelected,.ie #u5121
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5121.PamphletThumbSelected
{
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u5119
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 36px;
}

.ie #u5121.PamphletThumbSelected,.ie #u5119
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5119.PamphletThumbSelected
{
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u5117
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 54px;
}

.ie #u5119.PamphletThumbSelected,.ie #u5117
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5117.PamphletThumbSelected
{
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u5116
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 72px;
}

.ie #u5117.PamphletThumbSelected,.ie #u5116
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5116.PamphletThumbSelected
{
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u5118
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 90px;
}

.ie #u5116.PamphletThumbSelected,.ie #u5118
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5118.PamphletThumbSelected
{
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

.ie #u5118.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u5137
{
	z-index: 160;
	width: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u5127
{
	z-index: 155;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 212px;
}

#u5129
{
	z-index: 156;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
	margin-top: 60px;
	left: 247px;
}

#u5131
{
	z-index: 157;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 282px;
}

#u5133
{
	z-index: 158;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 317px;
}

#u5141
{
	z-index: 164;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 352px;
}

#u5124-20
{
	z-index: 119;
	min-height: 252px;
	background-color: transparent;
	text-align: justify;
	font-size: 15px;
	line-height: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5124-2,#u5124-3,#u5124-7,#u5124-8,#u5124-18
{
	padding-right: 10px;
	padding-left: 10px;
}

#u5124-5,#u5124-10,#u5124-12,#u5124-14,#u5124-16
{
	font-style: italic;
}

#u5124-20-bw
{
	z-index: 119;
	min-height: 252px;
	margin-top: -25px;
	margin-bottom: -25px;
}

#pu5125
{
	width: 0.01px;
	margin-left: 222px;
	margin-top: 34px;
}

#u5125
{
	z-index: 139;
	width: 187px;
	height: 187px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5126-15
{
	z-index: 140;
	width: 181px;
	min-height: 139px;
	background-color: transparent;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 187px;
}

#u5126-2
{
	font-size: 34px;
	line-height: 41px;
}

#u5126-4
{
	font-size: 30px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5126-3
{
	font-size: 14px;
	line-height: 17px;
}

#u5126-10,#u5126-13
{
	font-size: 22px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5126-6,#u5126-7,#u5126-8,#u5126-11
{
	font-size: 17px;
	line-height: 20px;
}

#u5139
{
	z-index: 162;
	width: 187px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu5095
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 35px;
}

#u5095
{
	z-index: 43;
	width: 327px;
	min-height: 211px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5135
{
	z-index: 159;
	width: 327px;
	min-height: 211px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 378px;
}

#pu4769
{
	width: 0.01px;
	margin-top: 51px;
}

#u4769,#u4769-bw
{
	z-index: 2;
	height: 77px;
}

#u4770-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u4770-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u4771
{
	z-index: 9;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 365px;
}

#u4772
{
	z-index: 10;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 444px;
}

#u4773
{
	z-index: 11;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 286px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

