.version.william_alexander /* version checker */
{
	color: #00001E;
	background-color: #F86173;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#page_position_content
{
	width: 0.01px;
}

#menuu4814
{
	z-index: 12;
	width: 762px;
	padding-bottom: 6px;
}

#u4815
{
	width: 149px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 3px;
}

#u4816
{
	width: 148px;
	padding-bottom: 16px;
}

#u4817-4
{
	width: 148px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4822
{
	width: 149px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 154px;
}

#u4823
{
	width: 148px;
	padding-bottom: 16px;
}

#u4816.MuseMenuActive,#u4823.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u4826-4
{
	width: 148px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4816.MuseMenuActive #u4817-4,#u4823.MuseMenuActive #u4826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u4829
{
	width: 150px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 305px;
}

#u4830
{
	width: 149px;
	padding-bottom: 16px;
}

#u4833-4
{
	width: 149px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4836
{
	width: 150px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 457px;
}

#u4837
{
	width: 149px;
	padding-bottom: 16px;
}

#u4830.MuseMenuActive,#u4837.MuseMenuActive
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u4839-4
{
	width: 149px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4830.MuseMenuActive #u4833-4,#u4837.MuseMenuActive #u4839-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 149px;
	margin: 0px -10000px 0px 0px;
}

#u4843
{
	width: 150px;
	min-height: 54px;
	margin-right: -10000px;
	top: 3px;
	left: 609px;
}

#u4846
{
	width: 150px;
	padding-bottom: 16px;
}

#u4846.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u4847-4
{
	width: 150px;
	min-height: 38px;
	margin-right: -10000px;
	top: 8px;
}

#u4846.MuseMenuActive #u4847-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u5182
{
	z-index: 102;
	margin-left: 202px;
	margin-top: 30px;
	position: relative;
}

#pu5180
{
	width: 0.01px;
	margin-left: 206px;
	margin-top: 31px;
}

#u5180
{
	z-index: 100;
	width: 194px;
	height: 138px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/williamalexander_artist_pic-u4568-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u5180
{
	background-image: url("../../images/williamalexander_artist_pic-u4568-fr_2x.jpg");
}

#u5176
{
	z-index: 98;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 221px;
}

#u5184
{
	z-index: 103;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 274px;
}

#u5178
{
	z-index: 99;
	overflow: hidden;
	position: relative;
	width: 20px;
	margin-right: -10000px;
	margin-top: 59px;
	left: 326px;
}

#pamphletu5158
{
	z-index: 44;
	width: 0.01px;
	height: 145px;
	padding-bottom: 119px;
	margin-left: 194px;
	margin-top: 1px;
	position: relative;
}

#u5168
{
	position: absolute;
	width: 379px;
	background-color: transparent;
}

#u5168popup
{
	z-index: 45;
}

#u5169
{
	z-index: 46;
	width: 379px;
	height: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5170-12
{
	z-index: 47;
	width: 355px;
	min-height: 210px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u5170,#u5170-7
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5170-8,#u5170-10
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u5171
{
	z-index: 59;
	width: 379px;
	height: 192px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5172-8
{
	z-index: 60;
	width: 355px;
	min-height: 186px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u5172,#u5172-3,#u5172-4
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
}

#u5172-6
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
}

#u5172-5
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u5159
{
	z-index: 68;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 176px;
}

#u5161
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
}

.ie #u5161
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5161.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u5160
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 18px;
}

.ie #u5161.PamphletThumbSelected,.ie #u5160
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5160.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

.ie #u5160.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u5173-13
{
	z-index: 71;
	min-height: 246px;
	background-color: transparent;
	line-height: 18px;
	text-align: justify;
	font-size: 15px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5173-6,#u5173-7,#u5173-11
{
	padding-right: 5px;
	padding-left: 5px;
}

#u5170-3,#u5170-5,#u5173-2,#u5173-4,#u5173-9
{
	font-style: italic;
}

#u5173-13-bw
{
	z-index: 71;
	min-height: 246px;
	margin-top: -35px;
	margin-bottom: -35px;
}

#pu5174
{
	width: 0.01px;
	margin-left: 204px;
	margin-top: 43px;
}

#u5174
{
	z-index: 84;
	width: 187px;
	height: 187px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-width: 1px;
	border-style: solid;
	border-color: #484848;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5175-13
{
	z-index: 85;
	width: 166px;
	min-height: 131px;
	background-color: transparent;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 195px;
}

#u5175-2
{
	font-size: 20px;
	line-height: 24px;
}

#u5175-4
{
	font-size: 30px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5175-3
{
	font-size: 14px;
	line-height: 17px;
}

#u5175-6,#u5175-7,#u5175-9,#u5175-11
{
	font-size: 18px;
	line-height: 22px;
}

#u5181
{
	z-index: 101;
	width: 187px;
	height: 187px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/wa-st%20jacket-u4569-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u5181
{
	background-image: url("../../images/wa-st%20jacket-u4569-fr_2x.jpg");
}

#u5156
{
	z-index: 43;
	width: 329px;
	min-height: 205px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 213px;
	margin-top: 43px;
	position: relative;
}

#u5186
{
	z-index: 104;
	width: 327px;
	min-height: 252px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 214px;
	margin-top: 24px;
	position: relative;
}

#pu4769
{
	width: 0.01px;
	margin-top: 51px;
}

#u4769,#u4769-bw
{
	z-index: 2;
	height: 77px;
}

#u4770-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u4770-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u4771
{
	z-index: 9;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 365px;
}

#u4772
{
	z-index: 10;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 444px;
}

#u4773
{
	z-index: 11;
	width: 37px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 286px;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

