/*

*/

.version.william_alexander /* version checker */
{
	color: #0000F0;
	background-color: #69FE1A;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1024px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u8969
{
	z-index: 13;
}

#u8972-4
{
	z-index: 14;
	min-height: 33px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u8972-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 33px;
	margin: 0px;
}

#u8972-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 33px;
	margin: 0px;
}

#u8972-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 33px;
	margin: 0px;
}

#u8970
{
	z-index: 18;
}

#menuu9112
{
	z-index: 19;
	width: 538px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u9120
{
	width: 538px;
	position: relative;
}

#u9121
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u9121:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9121:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9122-4
{
	width: 538px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u9121:hover #u9122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9121:active #u9122-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9114
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u9121.MuseMenuActive,#u9114:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9114:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9117-4
{
	width: 538px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u9121.MuseMenuActive #u9122-4,#u9114:hover #u9117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9114:active #u9117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9130
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u9114.MuseMenuActive,#u9130:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9130:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9131-4
{
	width: 538px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u9114.MuseMenuActive #u9117-4,#u9130:hover #u9131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9130:active #u9131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9135
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u9130.MuseMenuActive,#u9135:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9135:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9136-4
{
	width: 538px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u9130.MuseMenuActive #u9131-4,#u9135:hover #u9136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9135:active #u9136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9144
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u9135.MuseMenuActive,#u9144:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9144:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9146-4
{
	width: 538px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u9135.MuseMenuActive #u9136-4,#u9144:hover #u9146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9144:active #u9146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9113,#u9127,#u9134,#u9141,#u9148
{
	width: 538px;
	margin-top: 2px;
	position: relative;
}

#u9151
{
	width: 538px;
	min-height: 36px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u9144.MuseMenuActive,#u9151:hover
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9151:active
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9151.MuseMenuActive
{
	width: 538px;
	min-height: 36px;
	margin: 0px -10000px 0px 0px;
}

#u9154-4
{
	width: 538px;
	min-height: 36px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u9144.MuseMenuActive #u9146-4,#u9151:hover #u9154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9151:active #u9154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#u9151.MuseMenuActive #u9154-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 538px;
	margin: 0px -10000px 0px 0px;
}

#pu12025
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 23px;
	margin-left: 618px;
}

#u12025
{
	z-index: 56;
	width: 85px;
	margin-left: 38px;
	position: relative;
}

#u9296
{
	z-index: 57;
}

#u12115
{
	z-index: 58;
	width: 123px;
	margin-top: 31px;
	position: relative;
}

#u9298
{
	z-index: 59;
}

#u9304
{
	z-index: 62;
	width: 37px;
	height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 616px;
}

#u9302
{
	z-index: 60;
	width: 37px;
	height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 660px;
}

#u9303
{
	z-index: 61;
	width: 37px;
	height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 704px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#accordionu8964,#accordionu8964-bw
{
	z-index: 12;
}

#u11815
{
	z-index: 70;
	width: 358px;
	background-color: transparent;
	margin-left: 202px;
	margin-top: 37px;
	position: relative;
}

#u5182
{
	z-index: 71;
	display: block;
}

#pu5180
{
	width: 0.01px;
	margin-left: 206px;
	margin-top: 31px;
}

#u5180
{
	z-index: 69;
	width: 194px;
	height: 138px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/alex%20the%20brown-9668-u4568-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u5180
{
	background-image: url("../../images/alex%20the%20brown-9668-u4568-fr_2x.jpg");
}

#u11560
{
	z-index: 65;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 221px;
}

#u5176
{
	z-index: 66;
	display: block;
}

#u11842
{
	z-index: 72;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 274px;
}

#u5184
{
	z-index: 73;
	display: block;
}

#u11767
{
	z-index: 67;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 326px;
}

#u5178
{
	z-index: 68;
	display: block;
}

#u7633-8
{
	z-index: 88;
	width: 486px;
	min-height: 91px;
	background-color: transparent;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	margin-left: 126px;
	margin-top: 31px;
	position: relative;
}

#u7633-2
{
	font-size: 18px;
	line-height: 25px;
	color: #29ABE2;
}

#u7633-3,#u7633-6
{
	font-size: 16px;
	line-height: 22px;
	color: #484848;
}

#u7633-4
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u7633-5
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	font-style: italic;
}

#u5903-13
{
	z-index: 75;
	min-height: 235px;
	background-color: transparent;
	line-height: 18px;
	text-align: justify;
	font-size: 15px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u5903-6,#u5903-7,#u5903-11
{
	padding-right: 10px;
	padding-left: 10px;
}

#u5903-2,#u5903-4,#u5903-9
{
	font-style: italic;
}

#u5903-13-bw
{
	z-index: 75;
	min-height: 235px;
	margin-top: 30px;
}

#pu5174
{
	width: 0.01px;
	margin-left: 149px;
	margin-top: 22px;
}

#u5174
{
	z-index: 64;
	width: 225px;
	height: 225px;
	-pie-box-shadow: none;
	box-shadow: 5px 3px 10px rgba(0,0,0,0.33);
	border-style: solid;
	border-width: 1px;
	border-color: #484848;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: transparent url("../../images/wa%20come%20find%20me-u5174-fr.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u5174
{
	background-image: url("../../images/wa%20come%20find%20me-u5174-fr_2x.png");
}

#u7634
{
	z-index: 96;
	width: 225px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.24);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#u5156
{
	z-index: 63;
	width: 329px;
	min-height: 205px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 213px;
	margin-top: 43px;
	position: relative;
}

#u5186
{
	z-index: 74;
	width: 327px;
	min-height: 252px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 214px;
	margin-top: 24px;
	position: relative;
}

#pu4769
{
	width: 0.01px;
	margin-top: 51px;
}

#u4769,#u4769-bw
{
	z-index: 2;
	height: 77px;
}

#u4770-6
{
	z-index: 3;
	min-height: 27px;
	padding-top: 24px;
}

#u4770-6-bw
{
	z-index: 3;
	min-height: 27px;
	margin-top: 26px;
}

#u4771
{
	z-index: 9;
	width: 37px;
	height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 365px;
}

#u4772
{
	z-index: 10;
	width: 37px;
	height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 444px;
}

#u4773
{
	z-index: 11;
	width: 37px;
	height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 286px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 768px;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

@font-face
{
	font-family: '__websocialmenus_5';
	src: url('../../fonts/websocialmenus.eot');
	src: local('☺'), url('../../fonts/websocialmenus.woff') format('woff'), url('../../fonts/websocialmenus.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

